LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

STRINGTABLE
BEGIN
    /* Names of code pages */
    1250 "1250  (ANSI - Europa Centrale)"
    1251 "1251  (ANSI - Cirillico)"
    1252 "1252  (ANSI - Latino 1)"
    1253 "1253  (ANSI - Greco)"
    1254 "1254  (ANSI - Turco)"
    1255 "1255  (ANSI - Ebraico)"
    1256 "1256  (ANSI - Arabo)"
    1257 "1257  (ANSI - Baltico)"
    1258 "1258  (ANSI/OEM - Vietnamita)"
    874  "874   (ANSI/OEM - Thai)"
    932  "932   (ANSI/OEM - Giapponese Shift-JIS)"
    936  "936   (ANSI/OEM - Cinese Semplificato GBK)"
    949  "949   (ANSI/OEM - Coreano)"
    950  "950   (ANSI/OEM - Cinese Tradizionale Big5)"

    437  "437   (OEM - Stati Uniti)"
    737  "737   (OEM - Greco 437G)"
    775  "775   (OEM - Baltico)"
    850  "850   (OEM - Multilingue Latino I)"
    852  "852   (OEM - Latino II)"
    855  "855   (OEM - Cirillico)"
    856  "856   (OEM - Ebraico PC)"
    857  "857   (OEM - Turco)"
    858  "858   (OEM - Multilingue Latino I + Euro)"
    860  "860   (OEM - Portoghese)"
    861  "861   (OEM - Islandese)"
    862  "862   (OEM - Ebraico)"
    863  "863   (OEM - Francese canadese)"
    864  "Contiene i comandi di modifica."
    865  "865   (OEM - Nordic)"
    866  "866   (OEM - Russo)"
    869  "869   (OEM - Greco moderno)"

    10000 "10000 (MAC - Roman)"
    10001 "10001 (MAC - Giapponese)"
    10002 "10002 (MAC - Cinese Tradizionale Big5)"
    10003 "10003 (MAC - Coreano)"
    10004 "10004 (MAC - Arabo)"
    10005 "10005 (MAC - Ebraico)"
    10006 "10006 (MAC - Greco I)"
    10007 "10007 (MAC - Cirillico)"
    10008 "10008 (MAC - Cinese Semplificato GB 2312)"
    10010 "10010 (MAC - Rumeno)"
    10017 "10017 (MAC - Ucraino)"
    10021 "10021 (MAC - Thai)"
    10029 "10029 (MAC - Latino II)"
    10079 "10079 (MAC - Islandese)"
    10081 "10081 (MAC - Turco)"
    10082 "10082 (MAC - Croato)"

    65000 "65000 (UTF-7)"
    65001 "65001 (UTF-8)"

    3700  "37    (IBM EBCDIC - Stati Uniti/Canada)"" /* FIXME */
//  424   ""424   (IBM EBCDIC - Ebraico)" // On Windows, this is CP 20424
    1026  "1026  (IBM EBCDIC - Turco (Latino-5))"
    1047  "1047  (IBM EBCDIC - Latino-1/Sistema aperto)"
    1140  "1140  (IBM EBCDIC - Stati Uniti/Canada (37 + Euro))"
    1141  "1141  (IBM EBCDIC - Germania (20273 + Euro))"
    1142  "1142  (IBM EBCDIC - Danimarca/Norvegia (20277 + Euro))"
    1143  "1143  (IBM EBCDIC - Finlandia/Svezia (20278 + Euro))"
    1144  "1144  (IBM EBCDIC - Italia (20280 + Euro))"
    1145  "1145  (IBM EBCDIC - America Latina/Spagna (20284 + Euro))"
    1146  "1146  (IBM EBCDIC - Regno Unito (20285 + Euro))"
    1147  "1147  (IBM EBCDIC - Francia (20297 + Euro))"
    1148  "1148  (IBM EBCDIC - Internazionale (500 + Euro))"
    1149  "1149  (IBM EBCDIC - Islandese (20871 + Euro))"
    20273 "20273 (IBM EBCDIC - Germania)"
    20277 "20277 (IBM EBCDIC - Danimarca/Norvegia)"
    20278 "20278 (IBM EBCDIC - Finlandia/Svezia)"
    20280 "20280 (IBM EBCDIC - Italia)"
    20284 "20284 (IBM EBCDIC - America Latina/Spagna)"
    20285 "20285 (IBM EBCDIC - Regno Unito)"
    20290 "20290 (IBM EBCDIC - Giapponese Katakana Esteso)"
    20297 "20297 (IBM EBCDIC - Francia)"
    20420 "20420 (IBM EBCDIC - Arabo)"
    20423 "20423 (IBM EBCDIC - Greco)"
    20424 "20424 (IBM EBCDIC - Ebraico)"
    20833 "20833 (IBM EBCDIC - Coreano Esteso)"
    20838 "20838 (IBM EBCDIC - Thai)"
    20871 "20871 (IBM EBCDIC - Islandese)"
    20880 "20880 (IBM EBCDIC - Cirillico (Russo))"
    20905 "20905 (IBM EBCDIC - Turco)"
    20924 "20924 (IBM EBCDIC - Latino-1/Sistema Aperto (1047 + Euro))"
    21025 "21025 (IBM EBCDIC - Cirillico (Serbo, Bulgaro))"
    500   "500   (IBM EBCDIC - Internazionale)"
    870   "870   (IBM EBCDIC - Multilingue/ROECE (Latino-2))"
    875   "875   (IBM EBCDIC - Greco moderno)"

    20269 "20269 (ISO 6937 Non-Spacing Accent)"
    28591 "28591 (ISO 8859-1 Latino I)"
    28592 "28592 (ISO 8859-2 Europa Centrale)"
    28593 "28593 (ISO 8859-3 Latino 3)"
    28594 "28594 (ISO 8859-4 Baltico)"
    28595 "28595 (ISO 8859-5 Cirillico)"
    28596 "28596 (ISO 8859-6 Arabo)"
    28597 "28597 (ISO 8859-7 Greco)"
    28598 "28598 (ISO 8859-8 Ebraico: Ordinamento Visivo)"
    28599 "28599 (ISO 8859-9 Latino 5 Turco)"
    28600 "28600 (ISO 8859-10 Latino 6 Nordic)"
    28603 "28603 (ISO 8859-13 Latino 7 Estonian)"
    28604 "28604 (ISO 8859-14 Latino 8 Celtic)"
    28605 "28605 (ISO 8859-15 Latino 9)"
    28606 "28606 (ISO 8859-16 Latino 10 Balkan)"
    38598 "38598 (ISO 8859-8 Ebraico: Ordinamento Logico)"

    20105 "20105 (IA5 IRV Alfabeto Internazionale No.5)"
    20106 "20106 (IA5 Tedesco)"
    20107 "20107 (IA5 Svedese)"
    20108 "20108 (IA5 Norvegese)"

    1361  "1361  (Coreano - Johab)"
    20000 "20000 (CNS - Taiwan)"
    20001 "20001 (TCA - Taiwan)"
    20002 "20002 (Eten - Taiwan)"
    20003 "20003 (IBM5550 - Taiwan)"
    20004 "20004 (TeleText - Taiwan)"
    20005 "20005 (Wang - Taiwan)"
    20127 "20127 (US-ASCII)"
    20261 "20261 (T.61)"
//  878   "878   (Russo - KOI8)" // On Windows, this is CP 20866
    20866 "20866 (Russo - KOI8)"
    21027 "21027 (Ext Alpha minuscolo)"
    21866 "21866 (Ucraino - KOI8-U)"
    708   "708   (Arabo - ASMO)"
    720   "720   (Arabo - ASMO Trasparente)"
    20932 "20932 (JIS X 0208-1990 & 0212-1990)"
    20936 "20936 (Cinese semplificato GB2312)"
    20949 "20949 (Coreano Wansung)"

    57002 "57002 (ISCII Devanagari)"
    57003 "57003 (ISCII Bengali)"
    57004 "57004 (ISCII Tamil)"
    57005 "57005 (ISCII Telugu)"
    57006 "57006 (ISCII Assamese)"
    57007 "57007 (ISCII Oriya)"
    57008 "57008 (ISCII Kannada)"
    57009 "57009 (ISCII Malayalam)"
    57010 "57010 (ISCII Gujarati)"
    57011 "57011 (ISCII Gurmukhi)"

    50930 "50930 (IBM EBCDIC - Giapponese (Katakana) Esteso e Giapponese)"
    50931 "50931 (IBM EBCDIC - Stati Uniti/Canada e Giapponese)"
    50933 "50933 (IBM EBCDIC - Coreano Esteso e Coreano)"
    50935 "50935 (IBM EBCDIC - Cinese Semplificato)"
    50937 "50937 (IBM EBCDIC - Stati Uniti/Canada e Cinese Tradizionale)"
    50939 "50939 (IBM EBCDIC - Giapponese (Latino) Esteso e Giapponese)"

    50220 "50220 (ISO-2022 Giapponese senza Katakana metà larghezza)"
    50221 "50221 (ISO-2022 Giapponese con Katakana metà larghezza)"
    50222 "50222 (ISO-2022 Giapponese JIS X 0201-1989)"
    50225 "50225 (ISO-2022 Coreano)"
    50227 "50227 (ISO-2022 Cinese Semplificato)"
    50229 "50229 (ISO-2022 Cinese Tradizionale)"

    51932 "51932 (EUC-Giapponese)"
    51936 "51936 (EUC-Cinese Semplificato)"
    51949 "51949 (EUC-Coreano)"
    51950 "51950 (EUC-Cinese Tradizionale)"

    52936 "52936 (HZ-GB2312 Cinese Semplificato)"
    54936 "54936 (GB18030 Cinese Semplificato)"
    
/* Locations */
    2+NLSRC_OFFSET "Saint Martin (parte francese)"
    3+NLSRC_OFFSET "Saint Martin (parte francese)"
    4+NLSRC_OFFSET "Saint Martin (parte francese)"
    5+NLSRC_OFFSET "Saint Martin (parte francese)"
    6+NLSRC_OFFSET "Saint Martin (parte francese)"
    7+NLSRC_OFFSET "Saint Martin (parte francese)"
    8+NLSRC_OFFSET "Saint Martin (parte francese)"
    9+NLSRC_OFFSET "Saint Martin (parte francese)"
    10+NLSRC_OFFSET "Saint Martin (parte francese)"
    11+NLSRC_OFFSET "Saint Martin (parte francese)"
    12+NLSRC_OFFSET "Saint Martin (parte francese)"
    14+NLSRC_OFFSET "Saint Martin (parte francese)"
    17+NLSRC_OFFSET "Saint Martin (parte francese)"
    18+NLSRC_OFFSET "Saint Martin (parte francese)"
    19+NLSRC_OFFSET "Saint Martin (parte francese)"
    20+NLSRC_OFFSET "Saint Martin (parte francese)"
    21+NLSRC_OFFSET "Saint Martin (parte francese)"
    22+NLSRC_OFFSET "Saint Martin (parte francese)"
    23+NLSRC_OFFSET "Saint Martin (parte francese)"
    24+NLSRC_OFFSET "Saint Martin (parte francese)"
    25+NLSRC_OFFSET "Saint Martin (parte francese)"
    26+NLSRC_OFFSET "Saint Martin (parte francese)"
    27+NLSRC_OFFSET "Saint Martin (parte francese)"
    28+NLSRC_OFFSET "Saint Martin (parte francese)"
    29+NLSRC_OFFSET "Saint Martin (parte francese)"
    30+NLSRC_OFFSET "Saint Martin (parte francese)"
    32+NLSRC_OFFSET "Saint Martin (parte francese)"
    34+NLSRC_OFFSET "Saint Martin (parte francese)"
    35+NLSRC_OFFSET "Saint Martin (parte francese)"
    37+NLSRC_OFFSET "Saint Martin (parte francese)"
    38+NLSRC_OFFSET "Saint Martin (parte francese)"
    39+NLSRC_OFFSET "Saint Martin (parte francese)"
    40+NLSRC_OFFSET "Saint Martin (parte francese)"
    41+NLSRC_OFFSET "Saint Martin (parte francese)"
    42+NLSRC_OFFSET "Saint Martin (parte francese)"
    43+NLSRC_OFFSET "Saint Martin (parte francese)"
    44+NLSRC_OFFSET "Saint Martin (parte francese)"
    45+NLSRC_OFFSET "Saint Martin (parte francese)"
    46+NLSRC_OFFSET "Saint Martin (parte francese)"
    49+NLSRC_OFFSET "Saint Martin (parte francese)"
    50+NLSRC_OFFSET "Saint Martin (parte francese)"
    51+NLSRC_OFFSET "Saint Martin (parte francese)"
    54+NLSRC_OFFSET "Saint Martin (parte francese)"
    55+NLSRC_OFFSET "Saint Martin (parte francese)"
    56+NLSRC_OFFSET "Saint Martin (parte francese)"
    57+NLSRC_OFFSET "Saint Martin (parte francese)"
    59+NLSRC_OFFSET "Saint Martin (parte francese)"
    61+NLSRC_OFFSET "Saint Martin (parte francese)"
    62+NLSRC_OFFSET "Saint Martin (parte francese)"
    63+NLSRC_OFFSET "Saint Martin (parte francese)"
    65+NLSRC_OFFSET "Saint Martin (parte francese)"
    66+NLSRC_OFFSET "Saint Martin (parte francese)"
    67+NLSRC_OFFSET "Saint Martin (parte francese)"
    68+NLSRC_OFFSET "Saint Martin (parte francese)"
    69+NLSRC_OFFSET "Saint Martin (parte francese)"
    70+NLSRC_OFFSET "Saint Martin (parte francese)"
    71+NLSRC_OFFSET "Saint Martin (parte francese)"
    72+NLSRC_OFFSET "Saint Martin (parte francese)"
    73+NLSRC_OFFSET "Saint Martin (parte francese)"
    75+NLSRC_OFFSET "Saint Martin (parte francese)"
    77+NLSRC_OFFSET "Saint Martin (parte francese)"
    78+NLSRC_OFFSET "Saint Martin (parte francese)"
    80+NLSRC_OFFSET "Saint Martin (parte francese)"
    81+NLSRC_OFFSET "Saint Martin (parte francese)"
    84+NLSRC_OFFSET "Saint Martin (parte francese)"
    86+NLSRC_OFFSET "Saint Martin (parte francese)"
    87+NLSRC_OFFSET "Saint Martin (parte francese)"
    88+NLSRC_OFFSET "Saint Martin (parte francese)"
    89+NLSRC_OFFSET "Saint Martin (parte francese)"
    90+NLSRC_OFFSET "Saint Martin (parte francese)"
    91+NLSRC_OFFSET "Saint Martin (parte francese)"
    93+NLSRC_OFFSET "Saint Martin (parte francese)"
    94+NLSRC_OFFSET "Saint Martin (parte francese)"
    98+NLSRC_OFFSET "Saint Martin (parte francese)"
    99+NLSRC_OFFSET "Saint Martin (parte francese)"
    100+NLSRC_OFFSET "Saint Martin (parte francese)"
    101+NLSRC_OFFSET "Saint Martin (parte francese)"
    103+NLSRC_OFFSET "Saint Martin (parte francese)"
    104+NLSRC_OFFSET "Saint Martin (parte francese)"
    106+NLSRC_OFFSET "Saint Martin (parte francese)"
    108+NLSRC_OFFSET "Saint Martin (parte francese)"
    109+NLSRC_OFFSET "Saint Martin (parte francese)"
    110+NLSRC_OFFSET "Saint Martin (parte francese)"
    111+NLSRC_OFFSET "Saint Martin (parte francese)"
    113+NLSRC_OFFSET "Saint Martin (parte francese)"
    114+NLSRC_OFFSET "Saint Martin (parte francese)"
    116+NLSRC_OFFSET "Saint Martin (parte francese)"
    117+NLSRC_OFFSET "Saint Martin (parte francese)"
    118+NLSRC_OFFSET "Saint Martin (parte francese)"
    119+NLSRC_OFFSET "Saint Martin (parte francese)"
    121+NLSRC_OFFSET "Saint Martin (parte francese)"
    122+NLSRC_OFFSET "Saint Martin (parte francese)"
    124+NLSRC_OFFSET "Saint Martin (parte francese)"
    125+NLSRC_OFFSET "Saint Martin (parte francese)"
    126+NLSRC_OFFSET "Saint Martin (parte francese)"
    127+NLSRC_OFFSET "Saint Martin (parte francese)"
    129+NLSRC_OFFSET "Saint Martin (parte francese)"
    130+NLSRC_OFFSET "Saint Martin (parte francese)"
    131+NLSRC_OFFSET "Saint Martin (parte francese)"
    133+NLSRC_OFFSET "Saint Martin (parte francese)"
    134+NLSRC_OFFSET "Saint Martin (parte francese)"
    136+NLSRC_OFFSET "Saint Martin (parte francese)"
    137+NLSRC_OFFSET "Saint Martin (parte francese)"
    138+NLSRC_OFFSET "Saint Martin (parte francese)"
    139+NLSRC_OFFSET "Saint Martin (parte francese)"
    140+NLSRC_OFFSET "Saint Martin (parte francese)"
    141+NLSRC_OFFSET "Saint Martin (parte francese)"
    142+NLSRC_OFFSET "Saint Martin (parte francese)"
    143+NLSRC_OFFSET "Saint Martin (parte francese)"
    145+NLSRC_OFFSET "Saint Martin (parte francese)"
    146+NLSRC_OFFSET "Saint Martin (parte francese)"
    147+NLSRC_OFFSET "Saint Martin (parte francese)"
    148+NLSRC_OFFSET "Saint Martin (parte francese)"
    149+NLSRC_OFFSET "Saint Martin (parte francese)"
    151+NLSRC_OFFSET "Saint Martin (parte francese)"
    152+NLSRC_OFFSET "Saint Martin (parte francese)"
    154+NLSRC_OFFSET "Saint Martin (parte francese)"
    156+NLSRC_OFFSET "Saint Martin (parte francese)"
    157+NLSRC_OFFSET "Saint Martin (parte francese)"
    158+NLSRC_OFFSET "Saint Martin (parte francese)"
    159+NLSRC_OFFSET "Saint Martin (parte francese)"
    160+NLSRC_OFFSET "Saint Martin (parte francese)"
    162+NLSRC_OFFSET "Saint Martin (parte francese)"
    163+NLSRC_OFFSET "Saint Martin (parte francese)"
    164+NLSRC_OFFSET "Saint Martin (parte francese)"
    165+NLSRC_OFFSET "Saint Martin (parte francese)"
    166+NLSRC_OFFSET "Saint Martin (parte francese)"
    167+NLSRC_OFFSET "Saint Martin (parte francese)"
    168+NLSRC_OFFSET "Saint Martin (parte francese)"
    173+NLSRC_OFFSET "Saint Martin (parte francese)"
    174+NLSRC_OFFSET "Saint Martin (parte francese)"
    175+NLSRC_OFFSET "Saint Martin (parte francese)"
    176+NLSRC_OFFSET "Saint Martin (parte francese)"
    177+NLSRC_OFFSET "Saint Martin (parte francese)"
    178+NLSRC_OFFSET "Saint Martin (parte francese)"
    180+NLSRC_OFFSET "Saint Martin (parte francese)"
    181+NLSRC_OFFSET "Saint Martin (parte francese)"
    182+NLSRC_OFFSET "Saint Martin (parte francese)"
    183+NLSRC_OFFSET "Saint Martin (parte francese)"
    184+NLSRC_OFFSET "Saint Martin (parte francese)"
    185+NLSRC_OFFSET "Saint Martin (parte francese)"
    187+NLSRC_OFFSET "Saint Martin (parte francese)"
    190+NLSRC_OFFSET "Saint Martin (parte francese)"
    191+NLSRC_OFFSET "Saint Martin (parte francese)"
    192+NLSRC_OFFSET "Saint Martin (parte francese)"
    193+NLSRC_OFFSET "Saint Martin (parte francese)"
    194+NLSRC_OFFSET "Saint Martin (parte francese)"
    195+NLSRC_OFFSET "Saint Martin (parte francese)"
    196+NLSRC_OFFSET "Saint Martin (parte francese)"
    197+NLSRC_OFFSET "Saint Martin (parte francese)"
    198+NLSRC_OFFSET "Saint Martin (parte francese)"
    199+NLSRC_OFFSET "Saint Martin (parte francese)"
    200+NLSRC_OFFSET "Saint Martin (parte francese)"
    201+NLSRC_OFFSET "Saint Martin (parte francese)"
    202+NLSRC_OFFSET "Saint Martin (parte francese)"
    203+NLSRC_OFFSET "Saint Martin (parte francese)"
    204+NLSRC_OFFSET "Saint Martin (parte francese)"
    205+NLSRC_OFFSET "Saint Martin (parte francese)"
    206+NLSRC_OFFSET "Saint Martin (parte francese)"
    207+NLSRC_OFFSET "Saint Martin (parte francese)"
    208+NLSRC_OFFSET "Saint Martin (parte francese)"
    209+NLSRC_OFFSET "Saint Martin (parte francese)"
    210+NLSRC_OFFSET "Saint Martin (parte francese)"
    212+NLSRC_OFFSET "Saint Martin (parte francese)"
    213+NLSRC_OFFSET "Saint Martin (parte francese)"
    214+NLSRC_OFFSET "Saint Martin (parte francese)"
    215+NLSRC_OFFSET "Saint Martin (parte francese)"
    216+NLSRC_OFFSET "Saint Martin (parte francese)"
    217+NLSRC_OFFSET "Saint Martin (parte francese)"
    218+NLSRC_OFFSET "Saint Martin (parte francese)"
    219+NLSRC_OFFSET "Saint Martin (parte francese)"
    220+NLSRC_OFFSET "Saint Martin (parte francese)"
    221+NLSRC_OFFSET "Saint Martin (parte francese)"
    222+NLSRC_OFFSET "Saint Martin (parte francese)"
    223+NLSRC_OFFSET "Saint Martin (parte francese)"
    224+NLSRC_OFFSET "Saint Martin (parte francese)"
    225+NLSRC_OFFSET "Saint Martin (parte francese)"
    227+NLSRC_OFFSET "Saint Martin (parte francese)"
    228+NLSRC_OFFSET "Saint Martin (parte francese)"
    231+NLSRC_OFFSET "Saint Martin (parte francese)"
    232+NLSRC_OFFSET "Saint Martin (parte francese)"
    233+NLSRC_OFFSET "Saint Martin (parte francese)"
    234+NLSRC_OFFSET "Saint Martin (parte francese)"
    235+NLSRC_OFFSET "Saint Martin (parte francese)"
    236+NLSRC_OFFSET "Saint Martin (parte francese)"
    237+NLSRC_OFFSET "Saint Martin (parte francese)"
    238+NLSRC_OFFSET "Saint Martin (parte francese)"
    239+NLSRC_OFFSET "Saint Martin (parte francese)"
    240+NLSRC_OFFSET "Saint Martin (parte francese)"
    241+NLSRC_OFFSET "Saint Martin (parte francese)"
    242+NLSRC_OFFSET "Saint Martin (parte francese)"
    244+NLSRC_OFFSET "Saint Martin (parte francese)"
    245+NLSRC_OFFSET "Saint Martin (parte francese)"
    246+NLSRC_OFFSET "Saint Martin (parte francese)"
    247+NLSRC_OFFSET "Saint Martin (parte francese)"
    248+NLSRC_OFFSET "Saint Martin (parte francese)"
    249+NLSRC_OFFSET "Saint Martin (parte francese)"
    251+NLSRC_OFFSET "Saint Martin (parte francese)"
    252+NLSRC_OFFSET "Saint Martin (parte francese)"
    253+NLSRC_OFFSET "Saint Martin (parte francese)"
    254+NLSRC_OFFSET "Saint Martin (parte francese)"
    257+NLSRC_OFFSET "Saint Martin (parte francese)"
    258+NLSRC_OFFSET "Saint Martin (parte francese)"
    259+NLSRC_OFFSET "Saint Martin (parte francese)"
    260+NLSRC_OFFSET "Saint Martin (parte francese)"
    261+NLSRC_OFFSET "Saint Martin (parte francese)"
    263+NLSRC_OFFSET "Saint Martin (parte francese)"
    264+NLSRC_OFFSET "Saint Martin (parte francese)"
    269+NLSRC_OFFSET "Saint Martin (parte francese)"
    270+NLSRC_OFFSET "Saint Martin (parte francese)"
    271+NLSRC_OFFSET "Saint Martin (parte francese)"
    273+NLSRC_OFFSET "Saint Martin (parte francese)"
    276+NLSRC_OFFSET "Saint Martin (parte francese)"
    300+NLSRC_OFFSET "Saint Martin (parte francese)"
    301+NLSRC_OFFSET "Saint Martin (parte francese)"
    302+NLSRC_OFFSET "Saint Martin (parte francese)"
    303+NLSRC_OFFSET "Saint Martin (parte francese)"
    304+NLSRC_OFFSET "Saint Martin (parte francese)"
    305+NLSRC_OFFSET "Saint Martin (parte francese)"
    306+NLSRC_OFFSET "Saint Martin (parte francese)"
    307+NLSRC_OFFSET "Saint Martin (parte francese)"
    308+NLSRC_OFFSET "Saint Martin (parte francese)"
    309+NLSRC_OFFSET "Saint Martin (parte francese)"
    310+NLSRC_OFFSET "Saint Martin (parte francese)"
    311+NLSRC_OFFSET "Saint Martin (parte francese)"
    312+NLSRC_OFFSET "Saint Martin (parte francese)"
    313+NLSRC_OFFSET "Saint Martin (parte francese)"
    314+NLSRC_OFFSET "Saint Martin (parte francese)"
    315+NLSRC_OFFSET "Saint Martin (parte francese)"
    317+NLSRC_OFFSET "Saint Martin (parte francese)"
    318+NLSRC_OFFSET "Saint Martin (parte francese)"
    319+NLSRC_OFFSET "Saint Martin (parte francese)"
    321+NLSRC_OFFSET "Saint Martin (parte francese)"
    322+NLSRC_OFFSET "Saint Martin (parte francese)"
    323+NLSRC_OFFSET "Saint Martin (parte francese)"
    324+NLSRC_OFFSET "Saint Martin (parte francese)"
    325+NLSRC_OFFSET "Saint Martin (parte francese)"
    326+NLSRC_OFFSET "Saint Martin (parte francese)"
    327+NLSRC_OFFSET "Saint Martin (parte francese)"
    328+NLSRC_OFFSET "Saint Martin (parte francese)"
    329+NLSRC_OFFSET "Saint Martin (parte francese)"
    330+NLSRC_OFFSET "Saint Martin (parte francese)"
    331+NLSRC_OFFSET "Saint Martin (parte francese)"
    332+NLSRC_OFFSET "Saint Martin (parte francese)"
    333+NLSRC_OFFSET "Saint Martin (parte francese)"
    334+NLSRC_OFFSET "Saint Martin (parte francese)"
    335+NLSRC_OFFSET "Saint Martin (parte francese)"
    336+NLSRC_OFFSET "Saint Martin (parte francese)"
    337+NLSRC_OFFSET "Saint Martin (parte francese)"
    338+NLSRC_OFFSET "Saint Martin (parte francese)"
    339+NLSRC_OFFSET "Saint Martin (parte francese)"
    340+NLSRC_OFFSET "Saint Martin (parte francese)"
    341+NLSRC_OFFSET "Saint Martin (parte francese)"
    342+NLSRC_OFFSET "Saint Martin (parte francese)"
    343+NLSRC_OFFSET "Saint Martin (parte francese)"
    346+NLSRC_OFFSET "Saint Martin (parte francese)"
    347+NLSRC_OFFSET "Saint Martin (parte francese)"
    348+NLSRC_OFFSET "Saint Martin (parte francese)"
    349+NLSRC_OFFSET "Saint Martin (parte francese)"
    351+NLSRC_OFFSET "Saint Martin (parte francese)"
    352+NLSRC_OFFSET "Saint Martin (parte francese)"
    15126+NLSRC_OFFSET "Saint Martin (parte francese)"
    19618+NLSRC_OFFSET "Saint Martin (parte francese)"
    21242+NLSRC_OFFSET "Saint Martin (parte francese)"
    30967+NLSRC_OFFSET "Saint Martin (parte francese)"
    31706+NLSRC_OFFSET "Saint Martin (parte francese)"
    (7299303+NLSRC_OFFSET)&0xffff "Isole minori esterne degli Stati Uniti d'America"
    (10028789+NLSRC_OFFSET)&0xffff "Isole minori esterne degli Stati Uniti d'America"
    (161832015+NLSRC_OFFSET)&0xffff "Isole minori esterne degli Stati Uniti d'America"
    (161832256+NLSRC_OFFSET)&0xffff "Isole minori esterne degli Stati Uniti d'America"
END
