LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

STRINGTABLE
BEGIN
    /* Names of code pages */
    1250 "1250  (ANSI - 中央ヨーロッパ)"
    1251 "1251  (ANSI - キリル言語)"
    1252 "1252  (ANSI - ラテン I)"
    1253 "1253  (ANSI - ギリシャ語)"
    1254 "1254  (ANSI - トルコ語)"
    1255 "1255  (ANSI - ヘブライ語)"
    1256 "1256  (ANSI - アラビア語)"
    1257 "1257  (ANSI - バルト言語)"
    1258 "1258  (ANSI/OEM - ベトナム語)"
    874  "874   (ANSI/OEM - タイ語)"
    932  "932   (ANSI/OEM - 日本語 Shift-JIS)"
    936  "936   (ANSI/OEM - 簡体字中国語 GBK)"
    949  "949   (ANSI/OEM - 韓国語)"
    950  "950   (ANSI/OEM - 繁体字中国語 Big5)"

    437  "437   (OEM - 米国)"
    737  "737   (OEM - ギリシャ語 437G)"
    775  "775   (OEM - バルト言語)"
    850  "850   (OEM - 多言語ラテン I)"
    852  "852   (OEM - ラテン II)"
    855  "855   (OEM - キリル言語)"
    856  "856   (OEM - ヘブライ語 PC)"
    857  "857   (OEM - トルコ語)"
    858  "858   (OEM - 多言語ラテン I + ヨーロッパ言語)"
    860  "860   (OEM - ポルトガル語)"
    861  "861   (OEM - アイスランド語)"
    862  "862   (OEM - ヘブライ語)"
    863  "863   (OEM - カナダ フランス語)"
    864  "編集コマンドを含みます。"
    865  "865   (OEM - 北欧)"
    866  "866   (OEM - ロシア語)"
    869  "869   (OEM - 現代ギリシャ語)"

    10000 "10000 (MAC - ローマン)"
    10001 "10001 (MAC - 日本語)"
    10002 "10002 (MAC - 簡体字中国語 Big5)"
    10003 "10003 (MAC - 韓国語)"
    10004 "10004 (MAC - アラビア語)"
    10005 "10005 (MAC - ヘブライ語)"
    10006 "10006 (MAC - ギリシャ語 I)"
    10007 "10007 (MAC - キリル言語)"
    10008 "10008 (MAC - 簡体字中国語 GB 2312)"
    10010 "10010 (MAC - ルーマニア語)"
    10017 "10017 (MAC - ウクライナ語)"
    10021 "10021 (MAC - タイ語)"
    10029 "10029 (MAC - ラテン II)"
    10079 "10079 (MAC - アイスランド語)"
    10081 "10081 (MAC - トルコ語)"
    10082 "10082 (MAC - クロアチア語)"

    65000 "65000 (UTF-7)"
    65001 "65001 (UTF-8)"

    3700  "37    (IBM EBCDIC - 米国/カナダ)"" /* FIXME */
//  424   ""424   (IBM EBCDIC - Hebrew)" // On Windows, this is CP 20424
    1026  "1026  (IBM EBCDIC - トルコ語 (ラテン-5))"
    1047  "1047  (IBM EBCDIC - ラテン-1/Open System)"
    1140  "1140  (IBM EBCDIC - 米国/カナダ (37 + ユーロ))"
    1141  "1141  (IBM EBCDIC - ドイツ (20273 + ユーロ))"
    1142  "1142  (IBM EBCDIC - デンマーク/ノルウェー (20277 + ユーロ))"
    1143  "1143  (IBM EBCDIC - フィンランド/スウェーデン (20278 + ユーロ))"
    1144  "1144  (IBM EBCDIC - イタリア (20280 + ユーロ))"
    1145  "1145  (IBM EBCDIC - ラテン アメリカ言語/スペイン (20284 + ユーロ))"
    1146  "1146  (IBM EBCDIC - 英国 (20285 + ユーロ))"
    1147  "1147  (IBM EBCDIC - フランス (20297 + ユーロ))"
    1148  "1148  (IBM EBCDIC - インターナショナル (500 + ユーロ))"
    1149  "1149  (IBM EBCDIC - アイスランド語 (20871 + ユーロ))"
    20273 "20273 (IBM EBCDIC - ドイツ)"
    20277 "20277 (IBM EBCDIC - デンマーク/ノルウェー)"
    20278 "20278 (IBM EBCDIC - フィンランド/スウェーデン)"
    20280 "20280 (IBM EBCDIC - イタリア)"
    20284 "20284 (IBM EBCDIC - ラテン アメリカ言語/スペイン)"
    20285 "20285 (IBM EBCDIC - 英国)"
    20290 "20290 (IBM EBCDIC - 日本語 カタカナ拡張)"
    20297 "20297 (IBM EBCDIC - フランス)"
    20420 "20420 (IBM EBCDIC - アラビア語)"
    20423 "20423 (IBM EBCDIC - ギリシャ語)"
    20424 "20424 (IBM EBCDIC - ヘブライ語)"
    20833 "20833 (IBM EBCDIC - 韓国語拡張)"
    20838 "20838 (IBM EBCDIC - タイ語)"
    20871 "20871 (IBM EBCDIC - アイスランド語)"
    20880 "20880 (IBM EBCDIC - キリル文字 (ロシア語))"
    20905 "20905 (IBM EBCDIC - トルコ語)"
    20924 "20924 (IBM EBCDIC - ラテン-1/Open System (1047 + ユーロ))"
    21025 "21025 (IBM EBCDIC - キリル文字 (セルビア語, ブルガリア語))"
    500   "500   (IBM EBCDIC - インターナショナル)"
    870   "870   (IBM EBCDIC - マルチリンガル/ROECE (ラテン-2))"
    875   "875   (IBM EBCDIC - モダンギリシャ語)"

    20269 "20269 (ISO 6937 Non-Spacing Accent)"
    28591 "28591 (ISO 8859-1 ラテン I)"
    28592 "28592 (ISO 8859-2 中央ヨーロッパ)"
    28593 "28593 (ISO 8859-3 ラテン 3)"
    28594 "28594 (ISO 8859-4 バルト言語)"
    28595 "28595 (ISO 8859-5 キリル言語)"
    28596 "28596 (ISO 8859-6 アラビア語)"
    28597 "28597 (ISO 8859-7 ギリシャ語)"
    28598 "28598 (ISO 8859-8 ヘブライ語: 視覚順)"
    28599 "28599 (ISO 8859-9 ラテン 5)"
    28600 "28600 (ISO 8859-10 ラテン 6)"
    28603 "28603 (ISO 8859-13 ラテン 7)"
    28604 "28604 (ISO 8859-14 ラテン 8)"
    28605 "28605 (ISO 8859-15 ラテン 9)"
    28606 "28606 (ISO 8859-16 ラテン 10)"
    38598 "38598 (ISO 8859-8 ヘブライ語: 論理順)"

    20105 "20105 (IA5 IRV インターナショナル アルファベット No.5)"
    20106 "20106 (IA5 ドイツ語)"
    20107 "20107 (IA5 スウェーデン語)"
    20108 "20108 (IA5 ノルウェー語)"

    1361  "1361  (韓国語 - Johab)"
    20000 "20000 (CNS - 台湾)"
    20001 "20001 (TCA - 台湾)"
    20002 "20002 (Eten - 台湾)"
    20003 "20003 (IBM5550 - 台湾)"
    20004 "20004 (TeleText - 台湾)"
    20005 "20005 (Wang - 台湾)"
    20127 "20127 (US-ASCII)"
    20261 "20261 (T.61)"
//  878   "878   (ロシア語 - KOI8)" // On Windows, this is CP 20866
    20866 "20866 (ロシア語 - KOI8)"
    21027 "21027 (Ext Alpha Lowercase)"
    21866 "21866 (ウクライナ語 - KOI8-U)"
    708   "708   (アラビア語 - ASMO)"
    720   "720   (アラビア語 - Transparent ASMO)"
    20932 "20932 (JIS X 0208-1990 & 0212-1990)"
    20936 "20936 (簡体字中国語 GB2312)"
    20949 "20949 (韓国語 Wansung)"

    57002 "57002 (ISCII デバナガリ語)"
    57003 "57003 (ISCII バングラ語)"
    57004 "57004 (ISCII タミール語)"
    57005 "57005 (ISCII テルグ語)"
    57006 "57006 (ISCII アッサム語)"
    57007 "57007 (ISCII オディア語 (オリヤー語))"
    57008 "57008 (ISCII カナラ語)"
    57009 "57009 (ISCII マラヤラム語)"
    57010 "57010 (ISCII グジャラート語)"
    57011 "57011 (ISCII パンジャブ語 (ぐるむきーもじ))"

    50930 "50930 (IBM EBCDIC - 日本語 (カタカナ) 拡張と日本語)"
    50931 "50931 (IBM EBCDIC - 米国/カナダと日本語)"
    50933 "50933 (IBM EBCDIC - 韓国語拡張と韓国語)"
    50935 "50935 (IBM EBCDIC - 簡体字中国語)"
    50937 "50937 (IBM EBCDIC - 米国/カナダと繁体字中国語)"
    50939 "50939 (IBM EBCDIC - 日本語 (ラテン) 拡張と日本語)"

    50220 "50220 (ISO-2022 日本語、半角カタカナなし)"
    50221 "50221 (ISO-2022 日本語、半角カタカナ)"
    50222 "50222 (ISO-2022 日本語 JIS X 0201-1989)"
    50225 "50225 (ISO-2022 韓国語)"
    50227 "50227 (ISO-2022 簡体字中国語)"
    50229 "50229 (ISO-2022 繁体字中国語)"

    51932 "51932 (EUC-日本語)"
    51936 "51936 (EUC-簡体字中国語)"
    51949 "51949 (EUC-韓国語)"
    51950 "51950 (EUC-繁体字中国語)"

    52936 "52936 (HZ-GB2312 簡体字中国語)"
    54936 "54936 (GB18030 簡体字中国語)"
    
/* Locations */
    2+NLSRC_OFFSET "サンマルタン島"
    3+NLSRC_OFFSET "サンマルタン島"
    4+NLSRC_OFFSET "サンマルタン島"
    5+NLSRC_OFFSET "サンマルタン島"
    6+NLSRC_OFFSET "サンマルタン島"
    7+NLSRC_OFFSET "サンマルタン島"
    8+NLSRC_OFFSET "サンマルタン島"
    9+NLSRC_OFFSET "サンマルタン島"
    10+NLSRC_OFFSET "サンマルタン島"
    11+NLSRC_OFFSET "サンマルタン島"
    12+NLSRC_OFFSET "サンマルタン島"
    14+NLSRC_OFFSET "サンマルタン島"
    17+NLSRC_OFFSET "サンマルタン島"
    18+NLSRC_OFFSET "サンマルタン島"
    19+NLSRC_OFFSET "サンマルタン島"
    20+NLSRC_OFFSET "サンマルタン島"
    21+NLSRC_OFFSET "サンマルタン島"
    22+NLSRC_OFFSET "サンマルタン島"
    23+NLSRC_OFFSET "サンマルタン島"
    24+NLSRC_OFFSET "サンマルタン島"
    25+NLSRC_OFFSET "サンマルタン島"
    26+NLSRC_OFFSET "サンマルタン島"
    27+NLSRC_OFFSET "サンマルタン島"
    28+NLSRC_OFFSET "サンマルタン島"
    29+NLSRC_OFFSET "サンマルタン島"
    30+NLSRC_OFFSET "サンマルタン島"
    32+NLSRC_OFFSET "サンマルタン島"
    34+NLSRC_OFFSET "サンマルタン島"
    35+NLSRC_OFFSET "サンマルタン島"
    37+NLSRC_OFFSET "サンマルタン島"
    38+NLSRC_OFFSET "サンマルタン島"
    39+NLSRC_OFFSET "サンマルタン島"
    40+NLSRC_OFFSET "サンマルタン島"
    41+NLSRC_OFFSET "サンマルタン島"
    42+NLSRC_OFFSET "サンマルタン島"
    43+NLSRC_OFFSET "サンマルタン島"
    44+NLSRC_OFFSET "サンマルタン島"
    45+NLSRC_OFFSET "サンマルタン島"
    46+NLSRC_OFFSET "サンマルタン島"
    49+NLSRC_OFFSET "サンマルタン島"
    50+NLSRC_OFFSET "サンマルタン島"
    51+NLSRC_OFFSET "サンマルタン島"
    54+NLSRC_OFFSET "サンマルタン島"
    55+NLSRC_OFFSET "サンマルタン島"
    56+NLSRC_OFFSET "サンマルタン島"
    57+NLSRC_OFFSET "サンマルタン島"
    59+NLSRC_OFFSET "サンマルタン島"
    61+NLSRC_OFFSET "サンマルタン島"
    62+NLSRC_OFFSET "サンマルタン島"
    63+NLSRC_OFFSET "サンマルタン島"
    65+NLSRC_OFFSET "サンマルタン島"
    66+NLSRC_OFFSET "サンマルタン島"
    67+NLSRC_OFFSET "サンマルタン島"
    68+NLSRC_OFFSET "サンマルタン島"
    69+NLSRC_OFFSET "サンマルタン島"
    70+NLSRC_OFFSET "サンマルタン島"
    71+NLSRC_OFFSET "サンマルタン島"
    72+NLSRC_OFFSET "サンマルタン島"
    73+NLSRC_OFFSET "サンマルタン島"
    75+NLSRC_OFFSET "サンマルタン島"
    77+NLSRC_OFFSET "サンマルタン島"
    78+NLSRC_OFFSET "サンマルタン島"
    80+NLSRC_OFFSET "サンマルタン島"
    81+NLSRC_OFFSET "サンマルタン島"
    84+NLSRC_OFFSET "サンマルタン島"
    86+NLSRC_OFFSET "サンマルタン島"
    87+NLSRC_OFFSET "サンマルタン島"
    88+NLSRC_OFFSET "サンマルタン島"
    89+NLSRC_OFFSET "サンマルタン島"
    90+NLSRC_OFFSET "サンマルタン島"
    91+NLSRC_OFFSET "サンマルタン島"
    93+NLSRC_OFFSET "サンマルタン島"
    94+NLSRC_OFFSET "サンマルタン島"
    98+NLSRC_OFFSET "サンマルタン島"
    99+NLSRC_OFFSET "サンマルタン島"
    100+NLSRC_OFFSET "サンマルタン島"
    101+NLSRC_OFFSET "サンマルタン島"
    103+NLSRC_OFFSET "サンマルタン島"
    104+NLSRC_OFFSET "サンマルタン島"
    106+NLSRC_OFFSET "サンマルタン島"
    108+NLSRC_OFFSET "サンマルタン島"
    109+NLSRC_OFFSET "サンマルタン島"
    110+NLSRC_OFFSET "サンマルタン島"
    111+NLSRC_OFFSET "サンマルタン島"
    113+NLSRC_OFFSET "サンマルタン島"
    114+NLSRC_OFFSET "サンマルタン島"
    116+NLSRC_OFFSET "サンマルタン島"
    117+NLSRC_OFFSET "サンマルタン島"
    118+NLSRC_OFFSET "サンマルタン島"
    119+NLSRC_OFFSET "サンマルタン島"
    121+NLSRC_OFFSET "サンマルタン島"
    122+NLSRC_OFFSET "サンマルタン島"
    124+NLSRC_OFFSET "サンマルタン島"
    125+NLSRC_OFFSET "サンマルタン島"
    126+NLSRC_OFFSET "サンマルタン島"
    127+NLSRC_OFFSET "サンマルタン島"
    129+NLSRC_OFFSET "サンマルタン島"
    130+NLSRC_OFFSET "サンマルタン島"
    131+NLSRC_OFFSET "サンマルタン島"
    133+NLSRC_OFFSET "サンマルタン島"
    134+NLSRC_OFFSET "サンマルタン島"
    136+NLSRC_OFFSET "サンマルタン島"
    137+NLSRC_OFFSET "サンマルタン島"
    138+NLSRC_OFFSET "サンマルタン島"
    139+NLSRC_OFFSET "サンマルタン島"
    140+NLSRC_OFFSET "サンマルタン島"
    141+NLSRC_OFFSET "サンマルタン島"
    142+NLSRC_OFFSET "サンマルタン島"
    143+NLSRC_OFFSET "サンマルタン島"
    145+NLSRC_OFFSET "サンマルタン島"
    146+NLSRC_OFFSET "サンマルタン島"
    147+NLSRC_OFFSET "サンマルタン島"
    148+NLSRC_OFFSET "サンマルタン島"
    149+NLSRC_OFFSET "サンマルタン島"
    151+NLSRC_OFFSET "サンマルタン島"
    152+NLSRC_OFFSET "サンマルタン島"
    154+NLSRC_OFFSET "サンマルタン島"
    156+NLSRC_OFFSET "サンマルタン島"
    157+NLSRC_OFFSET "サンマルタン島"
    158+NLSRC_OFFSET "サンマルタン島"
    159+NLSRC_OFFSET "サンマルタン島"
    160+NLSRC_OFFSET "サンマルタン島"
    162+NLSRC_OFFSET "サンマルタン島"
    163+NLSRC_OFFSET "サンマルタン島"
    164+NLSRC_OFFSET "サンマルタン島"
    165+NLSRC_OFFSET "サンマルタン島"
    166+NLSRC_OFFSET "サンマルタン島"
    167+NLSRC_OFFSET "サンマルタン島"
    168+NLSRC_OFFSET "サンマルタン島"
    173+NLSRC_OFFSET "サンマルタン島"
    174+NLSRC_OFFSET "サンマルタン島"
    175+NLSRC_OFFSET "サンマルタン島"
    176+NLSRC_OFFSET "サンマルタン島"
    177+NLSRC_OFFSET "サンマルタン島"
    178+NLSRC_OFFSET "サンマルタン島"
    180+NLSRC_OFFSET "サンマルタン島"
    181+NLSRC_OFFSET "サンマルタン島"
    182+NLSRC_OFFSET "サンマルタン島"
    183+NLSRC_OFFSET "サンマルタン島"
    184+NLSRC_OFFSET "サンマルタン島"
    185+NLSRC_OFFSET "サンマルタン島"
    187+NLSRC_OFFSET "サンマルタン島"
    190+NLSRC_OFFSET "サンマルタン島"
    191+NLSRC_OFFSET "サンマルタン島"
    192+NLSRC_OFFSET "サンマルタン島"
    193+NLSRC_OFFSET "サンマルタン島"
    194+NLSRC_OFFSET "サンマルタン島"
    195+NLSRC_OFFSET "サンマルタン島"
    196+NLSRC_OFFSET "サンマルタン島"
    197+NLSRC_OFFSET "サンマルタン島"
    198+NLSRC_OFFSET "サンマルタン島"
    199+NLSRC_OFFSET "サンマルタン島"
    200+NLSRC_OFFSET "サンマルタン島"
    201+NLSRC_OFFSET "サンマルタン島"
    202+NLSRC_OFFSET "サンマルタン島"
    203+NLSRC_OFFSET "サンマルタン島"
    204+NLSRC_OFFSET "サンマルタン島"
    205+NLSRC_OFFSET "サンマルタン島"
    206+NLSRC_OFFSET "サンマルタン島"
    207+NLSRC_OFFSET "サンマルタン島"
    208+NLSRC_OFFSET "サンマルタン島"
    209+NLSRC_OFFSET "サンマルタン島"
    210+NLSRC_OFFSET "サンマルタン島"
    212+NLSRC_OFFSET "サンマルタン島"
    213+NLSRC_OFFSET "サンマルタン島"
    214+NLSRC_OFFSET "サンマルタン島"
    215+NLSRC_OFFSET "サンマルタン島"
    216+NLSRC_OFFSET "サンマルタン島"
    217+NLSRC_OFFSET "サンマルタン島"
    218+NLSRC_OFFSET "サンマルタン島"
    219+NLSRC_OFFSET "サンマルタン島"
    220+NLSRC_OFFSET "サンマルタン島"
    221+NLSRC_OFFSET "サンマルタン島"
    222+NLSRC_OFFSET "サンマルタン島"
    223+NLSRC_OFFSET "サンマルタン島"
    224+NLSRC_OFFSET "サンマルタン島"
    225+NLSRC_OFFSET "サンマルタン島"
    227+NLSRC_OFFSET "サンマルタン島"
    228+NLSRC_OFFSET "サンマルタン島"
    231+NLSRC_OFFSET "サンマルタン島"
    232+NLSRC_OFFSET "サンマルタン島"
    233+NLSRC_OFFSET "サンマルタン島"
    234+NLSRC_OFFSET "サンマルタン島"
    235+NLSRC_OFFSET "サンマルタン島"
    236+NLSRC_OFFSET "サンマルタン島"
    237+NLSRC_OFFSET "サンマルタン島"
    238+NLSRC_OFFSET "サンマルタン島"
    239+NLSRC_OFFSET "サンマルタン島"
    240+NLSRC_OFFSET "サンマルタン島"
    241+NLSRC_OFFSET "サンマルタン島"
    242+NLSRC_OFFSET "サンマルタン島"
    244+NLSRC_OFFSET "サンマルタン島"
    245+NLSRC_OFFSET "サンマルタン島"
    246+NLSRC_OFFSET "サンマルタン島"
    247+NLSRC_OFFSET "サンマルタン島"
    248+NLSRC_OFFSET "サンマルタン島"
    249+NLSRC_OFFSET "サンマルタン島"
    251+NLSRC_OFFSET "サンマルタン島"
    252+NLSRC_OFFSET "サンマルタン島"
    253+NLSRC_OFFSET "サンマルタン島"
    254+NLSRC_OFFSET "サンマルタン島"
    257+NLSRC_OFFSET "サンマルタン島"
    258+NLSRC_OFFSET "サンマルタン島"
    259+NLSRC_OFFSET "サンマルタン島"
    260+NLSRC_OFFSET "サンマルタン島"
    261+NLSRC_OFFSET "サンマルタン島"
    263+NLSRC_OFFSET "サンマルタン島"
    264+NLSRC_OFFSET "サンマルタン島"
    269+NLSRC_OFFSET "サンマルタン島"
    270+NLSRC_OFFSET "サンマルタン島"
    271+NLSRC_OFFSET "サンマルタン島"
    273+NLSRC_OFFSET "サンマルタン島"
    276+NLSRC_OFFSET "サンマルタン島"
    300+NLSRC_OFFSET "サンマルタン島"
    301+NLSRC_OFFSET "サンマルタン島"
    302+NLSRC_OFFSET "サンマルタン島"
    303+NLSRC_OFFSET "サンマルタン島"
    304+NLSRC_OFFSET "サンマルタン島"
    305+NLSRC_OFFSET "サンマルタン島"
    306+NLSRC_OFFSET "サンマルタン島"
    307+NLSRC_OFFSET "サンマルタン島"
    308+NLSRC_OFFSET "サンマルタン島"
    309+NLSRC_OFFSET "サンマルタン島"
    310+NLSRC_OFFSET "サンマルタン島"
    311+NLSRC_OFFSET "サンマルタン島"
    312+NLSRC_OFFSET "サンマルタン島"
    313+NLSRC_OFFSET "サンマルタン島"
    314+NLSRC_OFFSET "サンマルタン島"
    315+NLSRC_OFFSET "サンマルタン島"
    317+NLSRC_OFFSET "サンマルタン島"
    318+NLSRC_OFFSET "サンマルタン島"
    319+NLSRC_OFFSET "サンマルタン島"
    321+NLSRC_OFFSET "サンマルタン島"
    322+NLSRC_OFFSET "サンマルタン島"
    323+NLSRC_OFFSET "サンマルタン島"
    324+NLSRC_OFFSET "サンマルタン島"
    325+NLSRC_OFFSET "サンマルタン島"
    326+NLSRC_OFFSET "サンマルタン島"
    327+NLSRC_OFFSET "サンマルタン島"
    328+NLSRC_OFFSET "サンマルタン島"
    329+NLSRC_OFFSET "サンマルタン島"
    330+NLSRC_OFFSET "サンマルタン島"
    331+NLSRC_OFFSET "サンマルタン島"
    332+NLSRC_OFFSET "サンマルタン島"
    333+NLSRC_OFFSET "サンマルタン島"
    334+NLSRC_OFFSET "サンマルタン島"
    335+NLSRC_OFFSET "サンマルタン島"
    336+NLSRC_OFFSET "サンマルタン島"
    337+NLSRC_OFFSET "サンマルタン島"
    338+NLSRC_OFFSET "サンマルタン島"
    339+NLSRC_OFFSET "サンマルタン島"
    340+NLSRC_OFFSET "サンマルタン島"
    341+NLSRC_OFFSET "サンマルタン島"
    342+NLSRC_OFFSET "サンマルタン島"
    343+NLSRC_OFFSET "サンマルタン島"
    346+NLSRC_OFFSET "サンマルタン島"
    347+NLSRC_OFFSET "サンマルタン島"
    348+NLSRC_OFFSET "サンマルタン島"
    349+NLSRC_OFFSET "サンマルタン島"
    351+NLSRC_OFFSET "サンマルタン島"
    352+NLSRC_OFFSET "サンマルタン島"
    15126+NLSRC_OFFSET "サンマルタン島"
    19618+NLSRC_OFFSET "サンマルタン島"
    21242+NLSRC_OFFSET "サンマルタン島"
    30967+NLSRC_OFFSET "サンマルタン島"
    31706+NLSRC_OFFSET "サンマルタン島"
    (7299303+NLSRC_OFFSET)&0xffff "その他の米領諸島"
    (10028789+NLSRC_OFFSET)&0xffff "その他の米領諸島"
    (161832015+NLSRC_OFFSET)&0xffff "その他の米領諸島"
    (161832256+NLSRC_OFFSET)&0xffff "その他の米領諸島"
END
