LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA

STRINGTABLE
BEGIN
    /* Names of code pages */
    1250 "1250  (ANSI - central-european)"
    1251 "1251  (ANSI - chirilic)"
    1252 "1252  (ANSI - latin I)"
    1253 "1253  (ANSI - grecesc)"
    1254 "1254  (ANSI - turcesc)"
    1255 "1255  (ANSI - ebraic)"
    1256 "1256  (ANSI - arab)"
    1257 "1257  (ANSI - baltic)"
    1258 "1258  (ANSI/OEM - vietnamez)"
    874  "874   (ANSI/OEM - thailandez)"
    932  "932   (ANSI/OEM - japonez Shift-JIS)"
    936  "936   (ANSI/OEM - chinezesc simplificat GBK)"
    949  "949   (ANSI/OEM - coreean)"
    950  "950   (ANSI/OEM - chinezesc tradițional Big5)"

    437  "437   (OEM - SUA)"
    737  "737   (OEM - grecesc 437G)"
    775  "775   (OEM - baltic)"
    850  "850   (OEM - latin multilingv I)"
    852  "852   (OEM - latin II)"
    855  "855   (OEM - chirilic)"
    856  "856   (OEM - ebraic PC)"
    857  "857   (OEM - turcesc)"
    858  "858   (OEM - latin multilingv I + Euro)"
    860  "860   (OEM - portughez)"
    861  "861   (OEM - islandez)"
    862  "862   (OEM - ebraic)"
    863  "863   (OEM - francez canadian)"
    864  "Conține comenzile de editare."
    865  "865   (OEM - nordic)"
    866  "866   (OEM - rusesc)"
    869  "869   (OEM - grecesc modern)"

    10000 "10000 (MAC - latin)"
    10001 "10001 (MAC - japonez)"
    10002 "10002 (MAC - chinezesc tradițional Big5)"
    10003 "10003 (MAC - coreean)"
    10004 "10004 (MAC - arab)"
    10005 "10005 (MAC - ebraic)"
    10006 "10006 (MAC - grecesc I)"
    10007 "10007 (MAC - chirilic)"
    10008 "10008 (MAC - chinezesc simplificat GB 2312)"
    10010 "10010 (MAC - românesc)"
    10017 "10017 (MAC - ucrainean)"
    10021 "10021 (MAC - thailandez)"
    10029 "10029 (MAC - latin II)"
    10079 "10079 (MAC - islandez)"
    10081 "10081 (MAC - turcesc)"
    10082 "10082 (MAC - croat)"

    65000 "65000 (UTF-7)"
    65001 "65001 (UTF-8)"

    3700  "37    (IBM EBCDIC - SUA/canadian)" // On Windows, this is CP 20424
    1026  "1026  (IBM EBCDIC - turcesc (latin-5))"
    1047  "1047  (IBM EBCDIC - latin-1/Open System)"
    1140  "1140  (IBM EBCDIC - SUA/canadian (37 + Euro))"
    1141  "1141  (IBM EBCDIC - german (20273 + Euro))"
    1142  "1142  (IBM EBCDIC - danez/norvegian (20277 + Euro))"
    1143  "1143  (IBM EBCDIC - finlandez/suedez (20278 + Euro))"
    1144  "1144  (IBM EBCDIC - italian (20280 + Euro))"
    1145  "1145  (IBM EBCDIC - latin american/spaniol (20284 + Euro))"
    1146  "1146  (IBM EBCDIC - britanic (20285 + Euro))"
    1147  "1147  (IBM EBCDIC - francez (20297 + Euro))"
    1148  "1148  (IBM EBCDIC - internațional (500 + Euro))"
    1149  "1149  (IBM EBCDIC - islandez (20871 + Euro))"
    20273 "20273 (IBM EBCDIC - german)"
    20277 "20277 (IBM EBCDIC - danez/norvegian)"
    20278 "20278 (IBM EBCDIC - finlandez/suedez)"
    20280 "20280 (IBM EBCDIC - italian)"
    20284 "20284 (IBM EBCDIC - latin american/spaniol)"
    20285 "20285 (IBM EBCDIC - britanic)"
    20290 "20290 (IBM EBCDIC - japonez katakana extins)"
    20297 "20297 (IBM EBCDIC - francez)"
    20420 "20420 (IBM EBCDIC - arab)"
    20423 "20423 (IBM EBCDIC - grecesc)"
    20424 "20424 (IBM EBCDIC - ebraic)"
    20833 "20833 (IBM EBCDIC - coreean extins)"
    20838 "20838 (IBM EBCDIC - thailandez)"
    20871 "20871 (IBM EBCDIC - islandez)"
    20880 "20880 (IBM EBCDIC - chirilic (rusesc))"
    20905 "20905 (IBM EBCDIC - turcesc)"
    20924 "20924 (IBM EBCDIC - latin-1/Open System (1047 + Euro))"
    21025 "21025 (IBM EBCDIC - chirilic (sârbesc, bulgar))"
    500   "500   (IBM EBCDIC - internațional)"
    870   "870   (IBM EBCDIC - multilingv/ROECE (latin-2))"
    875   "875   (IBM EBCDIC - grecesc modern)"

    20269 "20269 (ISO 6937 diacritice)"
    28591 "28591 (ISO 8859-1 latin I)"
    28592 "28592 (ISO 8859-2 central european)"
    28593 "28593 (ISO 8859-3 latin 3)"
    28594 "28594 (ISO 8859-4 baltic)"
    28595 "28595 (ISO 8859-5 chirilic)"
    28596 "28596 (ISO 8859-6 arab)"
    28597 "28597 (ISO 8859-7 grecesc)"
    28598 "28598 (ISO 8859-8 ebraic: ordonare vizuală)"
    28599 "28599 (ISO 8859-9 latin 5 turcesc)"
    28600 "28600 (ISO 8859-10 latin 6 nordic)"
    28603 "28603 (ISO 8859-13 latin 7 eston)"
    28604 "28604 (ISO 8859-14 latin 8 celtic)"
    28605 "28605 (ISO 8859-15 latin 9)"
    28606 "28606 (ISO 8859-16 latin 10 balcanic)"
    38598 "38598 (ISO 8859-8 ebraic: ordonare logică)"

    20105 "20105 (IA5 alfabetul internațional IRV Nr.5)"
    20106 "20106 (IA5 german)"
    20107 "20107 (IA5 suedez)"
    20108 "20108 (IA5 norvegian)"

    1361  "1361  (coreean - Johab)"
    20000 "20000 (CNS - taiwanez)"
    20001 "20001 (TCA - taiwanez)"
    20002 "20002 (Eten - taiwanez)"
    20003 "20003 (IBM5550 - taiwanez)"
    20004 "20004 (TeleText - taiwanez)"
    20005 "20005 (Wang - taiwanez)"
    20127 "20127 (SUA-ASCII)"
    20261 "20261 (T.61)"
//  878   "878   (rusesc - KOI8)" // On Windows, this is CP 20866
    20866 "20866 (rusesc - KOI8)"
    21027 "21027 (alfab. extins minuscule)"
    21866 "21866 (ucrainean - KOI8-U)"
    708   "708   (arab - ASMO)"
    720   "720   (arab - transparent ASMO)"
    20932 "20932 (JIS X 0208-1990 & 0212-1990)"
    20936 "20936 (chinezesc simplificat GB2312)"
    20949 "20949 (Wansung - coreean)"

    57002 "57002 (ISCII devanagari)"
    57003 "57003 (ISCII bengalez)"
    57004 "57004 (ISCII tamil)"
    57005 "57005 (ISCII telugu)"
    57006 "57006 (ISCII assamez)"
    57007 "57007 (ISCII orissean)"
    57008 "57008 (ISCII cannadez)"
    57009 "57009 (ISCII malabaric)"
    57010 "57010 (ISCII gujaratean)"
    57011 "57011 (ISCII gurmukhi)"

    50930 "50930 (IBM EBCDIC - japonez (cu katakana))"
    50931 "50931 (IBM EBCDIC - SUA/canadian și japonez)"
    50933 "50933 (IBM EBCDIC - coreean extins și coreean)"
    50935 "50935 (IBM EBCDIC - chinezesc simplificat)"
    50937 "50937 (IBM EBCDIC - SUA/canadian și chinezesc tradițional)"
    50939 "50939 (IBM EBCDIC - japonez (latin) extins și japonez)"

    50220 "50220 (ISO-2022 japonez fără katakana restrâns)"
    50221 "50221 (ISO-2022 japonez cu katakana restrâns)"
    50222 "50222 (ISO-2022 japonez JIS X 0201-1989)"
    50225 "50225 (ISO-2022 coreean)"
    50227 "50227 (ISO-2022 chinezesc simplificat)"
    50229 "50229 (ISO-2022 chinezesc tradițional)"

    51932 "51932 (EUC-japonez)"
    51936 "51936 (EUC-chinezesc simplificat)"
    51949 "51949 (EUC-coreean)"
    51950 "51950 (EUC-chinezesc tradițional)"

    52936 "52936 (HZ-GB2312 chinezesc simplificat)"
    54936 "54936 (GB18030 chinezesc simplificat)"
    
/* Locations */
    2+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    3+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    4+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    5+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    6+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    7+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    8+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    9+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    10+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    11+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    12+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    14+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    17+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    18+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    19+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    20+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    21+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    22+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    23+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    24+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    25+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    26+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    27+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    28+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    29+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    30+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    32+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    34+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    35+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    37+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    38+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    39+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    40+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    41+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    42+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    43+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    44+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    45+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    46+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    49+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    50+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    51+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    54+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    55+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    56+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    57+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    59+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    61+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    62+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    63+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    65+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    66+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    67+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    68+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    69+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    70+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    71+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    72+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    73+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    75+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    77+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    78+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    80+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    81+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    84+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    86+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    87+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    88+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    89+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    90+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    91+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    93+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    94+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    98+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    99+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    100+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    101+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    103+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    104+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    106+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    108+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    109+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    110+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    111+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    113+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    114+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    116+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    117+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    118+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    119+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    121+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    122+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    124+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    125+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    126+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    127+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    129+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    130+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    131+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    133+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    134+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    136+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    137+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    138+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    139+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    140+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    141+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    142+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    143+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    145+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    146+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    147+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    148+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    149+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    151+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    152+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    154+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    156+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    157+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    158+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    159+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    160+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    162+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    163+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    164+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    165+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    166+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    167+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    168+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    173+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    174+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    175+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    176+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    177+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    178+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    180+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    181+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    182+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    183+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    184+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    185+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    187+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    190+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    191+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    192+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    193+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    194+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    195+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    196+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    197+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    198+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    199+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    200+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    201+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    202+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    203+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    204+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    205+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    206+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    207+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    208+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    209+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    210+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    212+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    213+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    214+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    215+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    216+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    217+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    218+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    219+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    220+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    221+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    222+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    223+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    224+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    225+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    227+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    228+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    231+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    232+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    233+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    234+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    235+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    236+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    237+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    238+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    239+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    240+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    241+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    242+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    244+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    245+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    246+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    247+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    248+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    249+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    251+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    252+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    253+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    254+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    257+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    258+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    259+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    260+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    261+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    263+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    264+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    269+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    270+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    271+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    273+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    276+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    300+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    301+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    302+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    303+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    304+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    305+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    306+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    307+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    308+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    309+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    310+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    311+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    312+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    313+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    314+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    315+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    317+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    318+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    319+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    321+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    322+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    323+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    324+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    325+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    326+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    327+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    328+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    329+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    330+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    331+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    332+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    333+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    334+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    335+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    336+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    337+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    338+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    339+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    340+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    341+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    342+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    343+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    346+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    347+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    348+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    349+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    351+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    352+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    15126+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    19618+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    21242+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    30967+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    31706+NLSRC_OFFSET "Saint Martin (partea Franceză)"
    (7299303+NLSRC_OFFSET)&0xffff "Minore Îndepărtate ale SUA, Insulele"
    (10028789+NLSRC_OFFSET)&0xffff "Minore Îndepărtate ale SUA, Insulele"
    (161832015+NLSRC_OFFSET)&0xffff "Minore Îndepărtate ale SUA, Insulele"
    (161832256+NLSRC_OFFSET)&0xffff "Minore Îndepărtate ale SUA, Insulele"
END
