LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    /* Names of code pages */
    1250 "1250  (ANSI - 中欧)"
    1251 "1251  (ANSI - 西里尔文)"
    1252 "1252  (ANSI - 拉丁 I)"
    1253 "1253  (ANSI - 希腊语)"
    1254 "1254  (ANSI - 土耳其语)"
    1255 "1255  (ANSI - 希伯来语)"
    1256 "1256  (ANSI - 阿拉伯语)"
    1257 "1257  (ANSI - 波罗的海)"
    1258 "1258  (ANSI/OEM - 越南)"
    874  "874   (ANSI/OEM - 泰语)"
    932  "932   (ANSI/OEM - 日本 Shift-JIS)"
    936  "936   (ANSI/OEM - 简体中文 GBK)"
    949  "949   (ANSI/OEM - 朝鲜语)"
    950  "950   (ANSI/OEM - 繁体中文 Big5)"

    437  "437   (OEM - 美国)"
    737  "737   (OEM - 希腊语 437G)"
    775  "775   (OEM - 波罗的海)"
    850  "850   (OEM - 多语言拉丁语 I)"
    852  "852   (OEM - 拉丁语 II)"
    855  "855   (OEM - 西里尔文)"
    856  "856   (OEM - 希伯来语 PC)"
    857  "857   (OEM - 土耳其语)"
    858  "858   (OEM - 多语言拉丁语 I + 欧语)"
    860  "860   (OEM - 葡萄牙语)"
    861  "861   (OEM - 冰岛语)"
    862  "862   (OEM - 希伯来语)"
    863  "863   (OEM - 加拿大法语)"
    864  "包含编辑命令。"
    865  "865   (OEM - 北欧)"
    866  "866   (OEM - 俄语)"
    869  "869   (OEM - 现代希腊语)"

    10000 "10000 (MAC - 罗马)"
    10001 "10001 (MAC - 日语)"
    10002 "10002 (MAC - 繁体中文 Big5)"
    10003 "10003 (MAC - 朝鲜语)"
    10004 "10004 (MAC - 阿拉伯语)"
    10005 "10005 (MAC - 希伯来语)"
    10006 "10006 (MAC - 希腊语 I)"
    10007 "10007 (MAC - 西里尔文)"
    10008 "10008 (MAC - 简体中文 GB 2312)"
    10010 "10010 (MAC - 罗马尼亚)"
    10017 "10017 (MAC - 乌克兰)"
    10021 "10021 (MAC - 泰语)"
    10029 "10029 (MAC - 拉丁语 II)"
    10079 "10079 (MAC - 冰岛语)"
    10081 "10081 (MAC - 土耳其语)"
    10082 "10082 (MAC - 克罗地亚)"

    65000 "65000 (UTF-7)"
    65001 "65001 (UTF-8)"

    3700  "37    (IBM EBCDIC - 美国/加拿大)"" /* FIXME */
//  424   ""424   (IBM EBCDIC - 希伯来语)" // On Windows, this is CP 20424
    1026  "1026  (IBM EBCDIC - 土耳其语 (Latin-5))"
    1047  "1047  (IBM EBCDIC - 拉丁语-1/打开系统)"
    1140  "1140  (IBM EBCDIC - 美国/加拿大 (37 + 欧语))"
    1141  "1141  (IBM EBCDIC - 德国 (20273 + 欧语))"
    1142  "1142  (IBM EBCDIC - 丹麦/挪威 (20277 + 欧语))"
    1143  "1143  (IBM EBCDIC - 芬兰/瑞典 (20278 + 欧语))"
    1144  "1144  (IBM EBCDIC - 意大利 (20280 + 欧语))"
    1145  "1145  (IBM EBCDIC - 拉丁美洲/西班牙 (20284 + 欧语))"
    1146  "1146  (IBM EBCDIC - 英国 (20285 + 欧语))"
    1147  "1147  (IBM EBCDIC - 法国 (20297 + 欧语))"
    1148  "1148  (IBM EBCDIC - 国际 (500 + 欧语))"
    1149  "1149  (IBM EBCDIC - 冰岛语 (20871 + 欧语))"
    20273 "20273 (IBM EBCDIC - 德国)"
    20277 "20277 (IBM EBCDIC - 丹麦/挪威)"
    20278 "20278 (IBM EBCDIC - 芬兰/瑞典)"
    20280 "20280 (IBM EBCDIC - 意大利)"
    20284 "20284 (IBM EBCDIC - 拉丁美洲/西班牙)"
    20285 "20285 (IBM EBCDIC - 英国)"
    20290 "20290 (IBM EBCDIC - 扩展的日语片假名)"
    20297 "20297 (IBM EBCDIC - 法国)"
    20420 "20420 (IBM EBCDIC - 阿拉伯语)"
    20423 "20423 (IBM EBCDIC - 希腊语)"
    20424 "20424 (IBM EBCDIC - 希伯来语)"
    20833 "20833 (IBM EBCDIC - 韩国扩展)"
    20838 "20838 (IBM EBCDIC - 泰语)"
    20871 "20871 (IBM EBCDIC - 冰岛语)"
    20880 "20880 (IBM EBCDIC - 西里尔文 (俄罗斯))"
    20905 "20905 (IBM EBCDIC - 土耳其语)"
    20924 "20924 (IBM EBCDIC - 拉丁语-1/开放系统 (1047 + 欧语))"
    21025 "21025 (IBM EBCDIC - 西里尔文 (塞尔维亚语, 保加利亚语))"
    500   "500   (IBM EBCDIC - 国际)"
    870   "870   (IBM EBCDIC - 多语言/ROECE (拉丁语-2))"
    875   "875   (IBM EBCDIC - 现代希腊语)"

    20269 "20269 (ISO 6937 非间距口音)"
    28591 "28591 (ISO 8859-1 拉丁语 I)"
    28592 "28592 (ISO 8859-2 中欧)"
    28593 "28593 (ISO 8859-3 拉丁语 3)"
    28594 "28594 (ISO 8859-4 波罗的海)"
    28595 "28595 (ISO 8859-5 西里尔文)"
    28596 "28596 (ISO 8859-6 阿拉伯语)"
    28597 "28597 (ISO 8859-7 希腊语)"
    28598 "28598 (ISO 8859-8 希伯来语: 视觉订购)"
    28599 "28599 (ISO 8859-9 拉丁语 5 土耳其语)"
    28600 "28600 (ISO 8859-10 拉丁语 6 北欧)"
    28603 "28603 (ISO 8859-13 拉丁语 7 Estonian)"
    28604 "28604 (ISO 8859-14 拉丁语 8 Celtic)"
    28605 "28605 (ISO 8859-15 拉丁语 9)"
    28606 "28606 (ISO 8859-16 拉丁语 10 Balkan)"
    38598 "38598 (ISO 8859-8 希伯来语: 逻辑排序)"

    20105 "20105 (IA5 IRV 国际字母表 5 号)"
    20106 "20106 (IA5 德语)"
    20107 "20107 (IA5 瑞典语)"
    20108 "20108 (IA5 挪威语)"

    1361  "1361  (韩国 - Johab)"
    20000 "20000 (CNS - 台湾)"
    20001 "20001 (TCA - 台湾)"
    20002 "20002 (Eten - 台湾)"
    20003 "20003 (IBM5550 - 台湾)"
    20004 "20004 (图文电视 - 台湾)"
    20005 "20005 (Wang - 台湾)"
    20127 "20127 (美国-ASCII)"
    20261 "20261 (T.61)"
//  878   "878   (俄罗斯-KOI8)" // On Windows, this is CP 20866
    20866 "20866 (俄罗斯-KOI8)"
    21027 "21027 (Ext 字母小写)"
    21866 "21866 (乌克兰语 - KOI8-U)"
    708   "708   (阿拉伯语 - ASMO)"
    720   "720   (阿拉伯语 - 透明 ASMO)"
    20932 "20932 (JIS X 0208-1990 & 0212-1990)"
    20936 "20936 (简体中文 GB2312)"
    20949 "20949 (韩国 Wansung)"

    57002 "57002 (ISCII 梵文)"
    57003 "57003 (ISCII 孟加拉语)"
    57004 "57004 (ISCII 泰米尔语)"
    57005 "57005 (ISCII 泰卢固语)"
    57006 "57006 (ISCII 阿萨姆语)"
    57007 "57007 (ISCII 奥里亚文)"
    57008 "57008 (ISCII 卡纳拉语)"
    57009 "57009 (ISCII 马拉雅拉姆语)"
    57010 "57010 (ISCII 古吉拉特语)"
    57011 "57011 (ISCII 锡克教文)"

    50930 "50930 (IBM EBCDIC - 日本 (片假名) 扩展和日本)"
    50931 "50931 (IBM EBCDIC - 美国 / 加拿大和日本)"
    50933 "50933 (IBM EBCDIC - 扩展的朝鲜和韩国)"
    50935 "50935 (IBM EBCDIC - 简体中文)"
    50937 "50937 (IBM EBCDIC - 美国 / 加拿大与繁体中文)"
    50939 "50939 (IBM EBCDIC - 日本 (拉丁语) 扩展和日本)"

    50220 "50220 (ISO-2022 有没有半形片假名的日语)"
    50221 "50221 (ISO-2022 日语以半形片假名)"
    50222 "50222 (ISO-2022 日语 JIS X 0201-1989)"
    50225 "50225 (ISO-2022 朝鲜语)"
    50227 "50227 (ISO-2022 简体中文)"
    50229 "50229 (ISO-2022 繁体中文)"

    51932 "51932 (EUC-日语)"
    51936 "51936 (EUC-简体中文)"
    51949 "51949 (EUC-朝鲜语)"
    51950 "51950 (EUC-繁体中文)"

    52936 "52936 (HZ-GB2312 简体中文)"
    54936 "54936 (GB18030 简体中文)"
    
/* Locations */
    2+NLSRC_OFFSET "马丁 (法国部分)"
    3+NLSRC_OFFSET "马丁 (法国部分)"
    4+NLSRC_OFFSET "马丁 (法国部分)"
    5+NLSRC_OFFSET "马丁 (法国部分)"
    6+NLSRC_OFFSET "马丁 (法国部分)"
    7+NLSRC_OFFSET "马丁 (法国部分)"
    8+NLSRC_OFFSET "马丁 (法国部分)"
    9+NLSRC_OFFSET "马丁 (法国部分)"
    10+NLSRC_OFFSET "马丁 (法国部分)"
    11+NLSRC_OFFSET "马丁 (法国部分)"
    12+NLSRC_OFFSET "马丁 (法国部分)"
    14+NLSRC_OFFSET "马丁 (法国部分)"
    17+NLSRC_OFFSET "马丁 (法国部分)"
    18+NLSRC_OFFSET "马丁 (法国部分)"
    19+NLSRC_OFFSET "马丁 (法国部分)"
    20+NLSRC_OFFSET "马丁 (法国部分)"
    21+NLSRC_OFFSET "马丁 (法国部分)"
    22+NLSRC_OFFSET "马丁 (法国部分)"
    23+NLSRC_OFFSET "马丁 (法国部分)"
    24+NLSRC_OFFSET "马丁 (法国部分)"
    25+NLSRC_OFFSET "马丁 (法国部分)"
    26+NLSRC_OFFSET "马丁 (法国部分)"
    27+NLSRC_OFFSET "马丁 (法国部分)"
    28+NLSRC_OFFSET "马丁 (法国部分)"
    29+NLSRC_OFFSET "马丁 (法国部分)"
    30+NLSRC_OFFSET "马丁 (法国部分)"
    32+NLSRC_OFFSET "马丁 (法国部分)"
    34+NLSRC_OFFSET "马丁 (法国部分)"
    35+NLSRC_OFFSET "马丁 (法国部分)"
    37+NLSRC_OFFSET "马丁 (法国部分)"
    38+NLSRC_OFFSET "马丁 (法国部分)"
    39+NLSRC_OFFSET "马丁 (法国部分)"
    40+NLSRC_OFFSET "马丁 (法国部分)"
    41+NLSRC_OFFSET "马丁 (法国部分)"
    42+NLSRC_OFFSET "马丁 (法国部分)"
    43+NLSRC_OFFSET "马丁 (法国部分)"
    44+NLSRC_OFFSET "马丁 (法国部分)"
    45+NLSRC_OFFSET "马丁 (法国部分)"
    46+NLSRC_OFFSET "马丁 (法国部分)"
    49+NLSRC_OFFSET "马丁 (法国部分)"
    50+NLSRC_OFFSET "马丁 (法国部分)"
    51+NLSRC_OFFSET "马丁 (法国部分)"
    54+NLSRC_OFFSET "马丁 (法国部分)"
    55+NLSRC_OFFSET "马丁 (法国部分)"
    56+NLSRC_OFFSET "马丁 (法国部分)"
    57+NLSRC_OFFSET "马丁 (法国部分)"
    59+NLSRC_OFFSET "马丁 (法国部分)"
    61+NLSRC_OFFSET "马丁 (法国部分)"
    62+NLSRC_OFFSET "马丁 (法国部分)"
    63+NLSRC_OFFSET "马丁 (法国部分)"
    65+NLSRC_OFFSET "马丁 (法国部分)"
    66+NLSRC_OFFSET "马丁 (法国部分)"
    67+NLSRC_OFFSET "马丁 (法国部分)"
    68+NLSRC_OFFSET "马丁 (法国部分)"
    69+NLSRC_OFFSET "马丁 (法国部分)"
    70+NLSRC_OFFSET "马丁 (法国部分)"
    71+NLSRC_OFFSET "马丁 (法国部分)"
    72+NLSRC_OFFSET "马丁 (法国部分)"
    73+NLSRC_OFFSET "马丁 (法国部分)"
    75+NLSRC_OFFSET "马丁 (法国部分)"
    77+NLSRC_OFFSET "马丁 (法国部分)"
    78+NLSRC_OFFSET "马丁 (法国部分)"
    80+NLSRC_OFFSET "马丁 (法国部分)"
    81+NLSRC_OFFSET "马丁 (法国部分)"
    84+NLSRC_OFFSET "马丁 (法国部分)"
    86+NLSRC_OFFSET "马丁 (法国部分)"
    87+NLSRC_OFFSET "马丁 (法国部分)"
    88+NLSRC_OFFSET "马丁 (法国部分)"
    89+NLSRC_OFFSET "马丁 (法国部分)"
    90+NLSRC_OFFSET "马丁 (法国部分)"
    91+NLSRC_OFFSET "马丁 (法国部分)"
    93+NLSRC_OFFSET "马丁 (法国部分)"
    94+NLSRC_OFFSET "马丁 (法国部分)"
    98+NLSRC_OFFSET "马丁 (法国部分)"
    99+NLSRC_OFFSET "马丁 (法国部分)"
    100+NLSRC_OFFSET "马丁 (法国部分)"
    101+NLSRC_OFFSET "马丁 (法国部分)"
    103+NLSRC_OFFSET "马丁 (法国部分)"
    104+NLSRC_OFFSET "马丁 (法国部分)"
    106+NLSRC_OFFSET "马丁 (法国部分)"
    108+NLSRC_OFFSET "马丁 (法国部分)"
    109+NLSRC_OFFSET "马丁 (法国部分)"
    110+NLSRC_OFFSET "马丁 (法国部分)"
    111+NLSRC_OFFSET "马丁 (法国部分)"
    113+NLSRC_OFFSET "马丁 (法国部分)"
    114+NLSRC_OFFSET "马丁 (法国部分)"
    116+NLSRC_OFFSET "马丁 (法国部分)"
    117+NLSRC_OFFSET "马丁 (法国部分)"
    118+NLSRC_OFFSET "马丁 (法国部分)"
    119+NLSRC_OFFSET "马丁 (法国部分)"
    121+NLSRC_OFFSET "马丁 (法国部分)"
    122+NLSRC_OFFSET "马丁 (法国部分)"
    124+NLSRC_OFFSET "马丁 (法国部分)"
    125+NLSRC_OFFSET "马丁 (法国部分)"
    126+NLSRC_OFFSET "马丁 (法国部分)"
    127+NLSRC_OFFSET "马丁 (法国部分)"
    129+NLSRC_OFFSET "马丁 (法国部分)"
    130+NLSRC_OFFSET "马丁 (法国部分)"
    131+NLSRC_OFFSET "马丁 (法国部分)"
    133+NLSRC_OFFSET "马丁 (法国部分)"
    134+NLSRC_OFFSET "马丁 (法国部分)"
    136+NLSRC_OFFSET "马丁 (法国部分)"
    137+NLSRC_OFFSET "马丁 (法国部分)"
    138+NLSRC_OFFSET "马丁 (法国部分)"
    139+NLSRC_OFFSET "马丁 (法国部分)"
    140+NLSRC_OFFSET "马丁 (法国部分)"
    141+NLSRC_OFFSET "马丁 (法国部分)"
    142+NLSRC_OFFSET "马丁 (法国部分)"
    143+NLSRC_OFFSET "马丁 (法国部分)"
    145+NLSRC_OFFSET "马丁 (法国部分)"
    146+NLSRC_OFFSET "马丁 (法国部分)"
    147+NLSRC_OFFSET "马丁 (法国部分)"
    148+NLSRC_OFFSET "马丁 (法国部分)"
    149+NLSRC_OFFSET "马丁 (法国部分)"
    151+NLSRC_OFFSET "马丁 (法国部分)"
    152+NLSRC_OFFSET "马丁 (法国部分)"
    154+NLSRC_OFFSET "马丁 (法国部分)"
    156+NLSRC_OFFSET "马丁 (法国部分)"
    157+NLSRC_OFFSET "马丁 (法国部分)"
    158+NLSRC_OFFSET "马丁 (法国部分)"
    159+NLSRC_OFFSET "马丁 (法国部分)"
    160+NLSRC_OFFSET "马丁 (法国部分)"
    162+NLSRC_OFFSET "马丁 (法国部分)"
    163+NLSRC_OFFSET "马丁 (法国部分)"
    164+NLSRC_OFFSET "马丁 (法国部分)"
    165+NLSRC_OFFSET "马丁 (法国部分)"
    166+NLSRC_OFFSET "马丁 (法国部分)"
    167+NLSRC_OFFSET "马丁 (法国部分)"
    168+NLSRC_OFFSET "马丁 (法国部分)"
    173+NLSRC_OFFSET "马丁 (法国部分)"
    174+NLSRC_OFFSET "马丁 (法国部分)"
    175+NLSRC_OFFSET "马丁 (法国部分)"
    176+NLSRC_OFFSET "马丁 (法国部分)"
    177+NLSRC_OFFSET "马丁 (法国部分)"
    178+NLSRC_OFFSET "马丁 (法国部分)"
    180+NLSRC_OFFSET "马丁 (法国部分)"
    181+NLSRC_OFFSET "马丁 (法国部分)"
    182+NLSRC_OFFSET "马丁 (法国部分)"
    183+NLSRC_OFFSET "马丁 (法国部分)"
    184+NLSRC_OFFSET "马丁 (法国部分)"
    185+NLSRC_OFFSET "马丁 (法国部分)"
    187+NLSRC_OFFSET "马丁 (法国部分)"
    190+NLSRC_OFFSET "马丁 (法国部分)"
    191+NLSRC_OFFSET "马丁 (法国部分)"
    192+NLSRC_OFFSET "马丁 (法国部分)"
    193+NLSRC_OFFSET "马丁 (法国部分)"
    194+NLSRC_OFFSET "马丁 (法国部分)"
    195+NLSRC_OFFSET "马丁 (法国部分)"
    196+NLSRC_OFFSET "马丁 (法国部分)"
    197+NLSRC_OFFSET "马丁 (法国部分)"
    198+NLSRC_OFFSET "马丁 (法国部分)"
    199+NLSRC_OFFSET "马丁 (法国部分)"
    200+NLSRC_OFFSET "马丁 (法国部分)"
    201+NLSRC_OFFSET "马丁 (法国部分)"
    202+NLSRC_OFFSET "马丁 (法国部分)"
    203+NLSRC_OFFSET "马丁 (法国部分)"
    204+NLSRC_OFFSET "马丁 (法国部分)"
    205+NLSRC_OFFSET "马丁 (法国部分)"
    206+NLSRC_OFFSET "马丁 (法国部分)"
    207+NLSRC_OFFSET "马丁 (法国部分)"
    208+NLSRC_OFFSET "马丁 (法国部分)"
    209+NLSRC_OFFSET "马丁 (法国部分)"
    210+NLSRC_OFFSET "马丁 (法国部分)"
    212+NLSRC_OFFSET "马丁 (法国部分)"
    213+NLSRC_OFFSET "马丁 (法国部分)"
    214+NLSRC_OFFSET "马丁 (法国部分)"
    215+NLSRC_OFFSET "马丁 (法国部分)"
    216+NLSRC_OFFSET "马丁 (法国部分)"
    217+NLSRC_OFFSET "马丁 (法国部分)"
    218+NLSRC_OFFSET "马丁 (法国部分)"
    219+NLSRC_OFFSET "马丁 (法国部分)"
    220+NLSRC_OFFSET "马丁 (法国部分)"
    221+NLSRC_OFFSET "马丁 (法国部分)"
    222+NLSRC_OFFSET "马丁 (法国部分)"
    223+NLSRC_OFFSET "马丁 (法国部分)"
    224+NLSRC_OFFSET "马丁 (法国部分)"
    225+NLSRC_OFFSET "马丁 (法国部分)"
    227+NLSRC_OFFSET "马丁 (法国部分)"
    228+NLSRC_OFFSET "马丁 (法国部分)"
    231+NLSRC_OFFSET "马丁 (法国部分)"
    232+NLSRC_OFFSET "马丁 (法国部分)"
    233+NLSRC_OFFSET "马丁 (法国部分)"
    234+NLSRC_OFFSET "马丁 (法国部分)"
    235+NLSRC_OFFSET "马丁 (法国部分)"
    236+NLSRC_OFFSET "马丁 (法国部分)"
    237+NLSRC_OFFSET "马丁 (法国部分)"
    238+NLSRC_OFFSET "马丁 (法国部分)"
    239+NLSRC_OFFSET "马丁 (法国部分)"
    240+NLSRC_OFFSET "马丁 (法国部分)"
    241+NLSRC_OFFSET "马丁 (法国部分)"
    242+NLSRC_OFFSET "马丁 (法国部分)"
    244+NLSRC_OFFSET "马丁 (法国部分)"
    245+NLSRC_OFFSET "马丁 (法国部分)"
    246+NLSRC_OFFSET "马丁 (法国部分)"
    247+NLSRC_OFFSET "马丁 (法国部分)"
    248+NLSRC_OFFSET "马丁 (法国部分)"
    249+NLSRC_OFFSET "马丁 (法国部分)"
    251+NLSRC_OFFSET "马丁 (法国部分)"
    252+NLSRC_OFFSET "马丁 (法国部分)"
    253+NLSRC_OFFSET "马丁 (法国部分)"
    254+NLSRC_OFFSET "马丁 (法国部分)"
    257+NLSRC_OFFSET "马丁 (法国部分)"
    258+NLSRC_OFFSET "马丁 (法国部分)"
    259+NLSRC_OFFSET "马丁 (法国部分)"
    260+NLSRC_OFFSET "马丁 (法国部分)"
    261+NLSRC_OFFSET "马丁 (法国部分)"
    263+NLSRC_OFFSET "马丁 (法国部分)"
    264+NLSRC_OFFSET "马丁 (法国部分)"
    269+NLSRC_OFFSET "马丁 (法国部分)"
    270+NLSRC_OFFSET "马丁 (法国部分)"
    271+NLSRC_OFFSET "马丁 (法国部分)"
    273+NLSRC_OFFSET "马丁 (法国部分)"
    276+NLSRC_OFFSET "马丁 (法国部分)"
    300+NLSRC_OFFSET "马丁 (法国部分)"
    301+NLSRC_OFFSET "马丁 (法国部分)"
    302+NLSRC_OFFSET "马丁 (法国部分)"
    303+NLSRC_OFFSET "马丁 (法国部分)"
    304+NLSRC_OFFSET "马丁 (法国部分)"
    305+NLSRC_OFFSET "马丁 (法国部分)"
    306+NLSRC_OFFSET "马丁 (法国部分)"
    307+NLSRC_OFFSET "马丁 (法国部分)"
    308+NLSRC_OFFSET "马丁 (法国部分)"
    309+NLSRC_OFFSET "马丁 (法国部分)"
    310+NLSRC_OFFSET "马丁 (法国部分)"
    311+NLSRC_OFFSET "马丁 (法国部分)"
    312+NLSRC_OFFSET "马丁 (法国部分)"
    313+NLSRC_OFFSET "马丁 (法国部分)"
    314+NLSRC_OFFSET "马丁 (法国部分)"
    315+NLSRC_OFFSET "马丁 (法国部分)"
    317+NLSRC_OFFSET "马丁 (法国部分)"
    318+NLSRC_OFFSET "马丁 (法国部分)"
    319+NLSRC_OFFSET "马丁 (法国部分)"
    321+NLSRC_OFFSET "马丁 (法国部分)"
    322+NLSRC_OFFSET "马丁 (法国部分)"
    323+NLSRC_OFFSET "马丁 (法国部分)"
    324+NLSRC_OFFSET "马丁 (法国部分)"
    325+NLSRC_OFFSET "马丁 (法国部分)"
    326+NLSRC_OFFSET "马丁 (法国部分)"
    327+NLSRC_OFFSET "马丁 (法国部分)"
    328+NLSRC_OFFSET "马丁 (法国部分)"
    329+NLSRC_OFFSET "马丁 (法国部分)"
    330+NLSRC_OFFSET "马丁 (法国部分)"
    331+NLSRC_OFFSET "马丁 (法国部分)"
    332+NLSRC_OFFSET "马丁 (法国部分)"
    333+NLSRC_OFFSET "马丁 (法国部分)"
    334+NLSRC_OFFSET "马丁 (法国部分)"
    335+NLSRC_OFFSET "马丁 (法国部分)"
    336+NLSRC_OFFSET "马丁 (法国部分)"
    337+NLSRC_OFFSET "马丁 (法国部分)"
    338+NLSRC_OFFSET "马丁 (法国部分)"
    339+NLSRC_OFFSET "马丁 (法国部分)"
    340+NLSRC_OFFSET "马丁 (法国部分)"
    341+NLSRC_OFFSET "马丁 (法国部分)"
    342+NLSRC_OFFSET "马丁 (法国部分)"
    343+NLSRC_OFFSET "马丁 (法国部分)"
    346+NLSRC_OFFSET "马丁 (法国部分)"
    347+NLSRC_OFFSET "马丁 (法国部分)"
    348+NLSRC_OFFSET "马丁 (法国部分)"
    349+NLSRC_OFFSET "马丁 (法国部分)"
    351+NLSRC_OFFSET "马丁 (法国部分)"
    352+NLSRC_OFFSET "马丁 (法国部分)"
    15126+NLSRC_OFFSET "马丁 (法国部分)"
    19618+NLSRC_OFFSET "马丁 (法国部分)"
    21242+NLSRC_OFFSET "马丁 (法国部分)"
    30967+NLSRC_OFFSET "马丁 (法国部分)"
    31706+NLSRC_OFFSET "马丁 (法国部分)"
    (7299303+NLSRC_OFFSET)&0xffff "美国本土外小岛屿"
    (10028789+NLSRC_OFFSET)&0xffff "美国本土外小岛屿"
    (161832015+NLSRC_OFFSET)&0xffff "美国本土外小岛屿"
    (161832256+NLSRC_OFFSET)&0xffff "美国本土外小岛屿"
END
