LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDD_VOLUME DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Volume"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLICON, IDI_CPLICON, 8, 5, 32, 32
    LTEXT "", IDC_DEVICE_NAME, 40, 10, 194, 20
    GROUPBOX "Suara perangkat", -1, 7, 30, 230, 100
    CONTROL "", IDC_MUTE_ICON, "Static", SS_ICON | WS_VISIBLE, 17, 45, 32, 32
    CONTROL "", IDC_VOLUME_TRACKBAR, "msctls_trackbar32", TBS_AUTOTICKS | TBS_ENABLESELRANGE | TBS_BOTTOM | TBS_HORZ | WS_TABSTOP, 65, 45, 140, 14
    LTEXT "Rendah", -1, 62, 66, 30, 9
    LTEXT "Tinggi", -1, 195, 66, 30, 9
    AUTOCHECKBOX "&Bisu", IDC_MUTE_CHECKBOX, 50, 78, 140, 10
    AUTOCHECKBOX "Tempatkan volume &ikon pada taskbar", IDC_ICON_IN_TASKBAR, 50, 92, 140, 10
    PUSHBUTTON "&Lanjutan...", IDC_ADVANCED_BTN, 150, 105, 75, 15
    GROUPBOX "Pengaturan speaker", IDC_SPEAKER_SET_BTN, 7, 140, 230, 80
    CONTROL "", IDC_SPEAKIMG, "Static", SS_OWNERDRAW, 4, 155, 70, 70
    LTEXT "Gunakan pengaturan di bawah untuk mengubah suara pembicara individu dan pengaturan lainnya.", -1, 70, 155, 150, 36
    PUSHBUTTON "&Volume Pembicara...", IDC_SPEAKER_VOL_BTN, 70, 195, 75, 15
    PUSHBUTTON "Lanjutan", IDC_ADVANCED2_BTN, 150, 195, 75, 15
END

IDD_SOUNDS DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Suara"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Skema suara adalah serangkaian suara yang diterapkan pada acara di ReactOS dan program. Anda dapat memilih skema yang ada atau menyimpannya yang telah Anda modifikasi.", -1, 8, 7, 230, 30
    LTEXT "Skema Suara:", -1, 8, 42, 150, 9
    COMBOBOX IDC_SOUND_SCHEME, 8, 53, 230, 46, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Sav & e Sebagai...", IDC_SAVEAS_BTN, 134, 70, 50, 15
    PUSHBUTTON "&Menghapus", IDC_DELETE_BTN, 188, 70, 50, 15
    LTEXT "Untuk mengubah suara, klik sebuah acara program dalam daftar berikut dan pilih suara yang akan diterapkan. Anda dapat menyimpan perubahan sebagai skema suara baru.", -1, 8, 90, 230, 27
    LTEXT "Acara &Program:", -1, 8, 118, 150, 9
    CONTROL "", IDC_SCHEME_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 8, 130, 230, 60, WS_EX_CLIENTEDGE
    LTEXT "&Suara:", IDC_TEXT_SOUND, 8, 194, 80, 9, WS_DISABLED
    COMBOBOX IDC_SOUND_LIST, 8, 205, 155, 146, CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "", IDC_PLAY_SOUND, 168, 205, 15, 15, WS_DISABLED | BS_ICON
    PUSHBUTTON "& Jelajahi...", IDC_BROWSE_SOUND, 188, 205, 50, 15, WS_DISABLED
END

IDD_AUDIO DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Suara"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Pemutaran suara", -1, 7, 7, 230, 60
    ICON IDI_CPLICON, IDI_CPLICON, 15, 20, 32, 32
    LTEXT "Perangkat stan&dar:", -1, 50, 20, 80, 9
    COMBOBOX IDC_DEVICE_PLAY_LIST, 50, 30, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "&Volume...", IDC_VOLUME1_BTN, 85, 47, 70, 15
    PUSHBUTTON "Maju...", IDC_ADV2_BTN, 160, 47, 70, 15
    GROUPBOX "Rekaman suara", -1, 7, 75, 230, 60
    ICON IDI_MICROPHONE_ICON, IDI_MICROPHONE_ICON, 15, 88, 32, 32
    LTEXT "Perangkat stan&dar:", -1, 50, 88, 80, 9
    COMBOBOX IDC_DEVICE_REC_LIST, 50, 98, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "Volume...", IDC_VOLUME2_BTN, 85, 115, 70, 15
    PUSHBUTTON "Maju...", IDC_ADV1_BTN, 160, 115, 70, 15
    GROUPBOX "Pemutaran musik MIDI", -1, 7, 145, 230, 60
    ICON IDI_MIDICON, IDI_MIDICON, 15, 158, 32, 32
    LTEXT "Perangkat stan&dar:", -1, 50, 158, 80, 9
    COMBOBOX IDC_DEVICE_MIDI_LIST, 50, 168, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "Volume...", IDC_VOLUME3_BTN, 85, 185, 70, 15
    PUSHBUTTON "Te&ntang...", IDC_ADV3_BTN, 160, 185, 70, 15
    AUTOCHECKBOX "&Gunakan hanya perangkat standar", IDC_DEFAULT_DEV_CHECKBOX, 7, 212, 140, 10
END

IDD_VOICE DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Suara"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Pengaturan ini mengontrol volume dan opsi lanjutan untuk pemutaran suara atau perangkat perekaman yang Anda pilih.", -1, 8, 7, 230, 40
    GROUPBOX "Pemutaran suara", -1, 7, 37, 230, 60
    ICON IDI_CPLICON, IDI_CPLICON, 15, 50, 32, 32
    LTEXT "Perangkat stan&dar:", -1, 50, 50, 80, 9
    COMBOBOX IDC_DEVICE_VOICE_LIST, 50, 60, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "&Volume...", IDC_VOLUME4_BTN, 85, 77, 70, 15
    PUSHBUTTON "Maju...", IDC_ADV4_BTN, 160, 77, 70, 15
    GROUPBOX "Rekaman suara", -1, 7, 105, 230, 60
    ICON IDI_MICROPHONE_ICON, IDI_MICROPHONE_ICON, 15, 118, 32, 32
    LTEXT "Perangkat stan&dar:", -1, 50, 118, 80, 9
    COMBOBOX IDC_DEVICE_VOICE_REC_LIST, 50, 128, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "Volume...", IDC_VOLUME5_BTN, 85, 145, 70, 15
    PUSHBUTTON "Maju...", IDC_ADV5_BTN, 160, 145, 70, 15
    PUSHBUTTON "&Uji perangkat keras...", IDC_TEST_HARDWARE, 160, 175, 70, 15
END

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Perangkat keras"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_SAVE_SCHEME_AS DIALOGEX 9, 23, 225, 54
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Simpan Skema As"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Simpan skema suara ini sebagai:", -1, 7, 7, 212, 9
    EDITTEXT 8960, 7, 17, 211, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Oke", IDOK, 93, 36, 60, 14
    PUSHBUTTON "Membatalkan", IDCANCEL, 157, 36, 60, 14
END

IDD_SPEAKERS DIALOGEX 0, 0, 257, 204
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Pembicara"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 4379, -1, 7, 8, 20, 20
    LTEXT "Pilih pengaturan speaker yang paling mirip pengaturan yang Anda miliki di komputer Anda.", -1, 36, 8, 215, 27
    CONTROL 110, 5376, "STATIC", SS_BITMAP | SS_CENTERIMAGE, 37, 40, 209, 112, WS_EX_TRANSPARENT
    LTEXT "Penyiapan S & peaker:", 8502, 53, 169, 55, 10
    COMBOBOX 5401, 52, 182, 170, 200, CBS_DROPDOWNLIST | WS_VSCROLL | NOT WS_TABSTOP
END

IDD_PERFORMANCE1 DIALOGEX 0, 0, 257, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Kinerja"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Pengaturan ini mengontrol bagaimana ReactOS memutar audio. Mereka dapat membantu Anda memecahkan masalah terkait audio.", 8492, 34, 7, 218, 23
    GROUPBOX "Pemutaran audio", 8494, 7, 32, 243, 152
    ICON 4379, 8512, 8, 8, 20, 20
    LTEXT "&Akselerasi perangkat keras:", 8495, 13, 56, 111, 14
    CONTROL "Slider1", 5395, "MSCTLS_TRACKBAR32", WS_GROUP | WS_TABSTOP | 0x00000401, 150, 54, 62, 18
    LTEXT "Kualita&s konversi tingkat sampel:", 8496, 13, 123, 103, 14
    CONTROL "Slider1", 5396, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 150, 121, 62, 18
    PUSHBUTTON "&Kembalikan Default", 5400, 7, 191, 110, 14
    LTEXT "Tidak ada", 8497, 128, 56, 21, 10
    LTEXT "Penuh", 8498, 214, 56, 21, 9
    LTEXT "Bagus", 8499, 128, 123, 21, 10
    LTEXT "Terbaik", 8500, 214, 123, 23, 9
    LTEXT "String ini menjelaskan setting hardware untuk capture device", 5399, 13, 145, 227, 21
    LTEXT "String ini menjelaskan pengaturan perangkat keras untuk perangkat render", 5398, 13, 78, 227, 22
END

IDD_PERFORMANCE2 DIALOGEX 0, 0, 257, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Kinerja"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Pengaturan ini mengontrol bagaimana ReactOS mencatat audio. Mereka dapat membantu Anda memecahkan masalah terkait audio.", 8492, 34, 7, 217, 20
    GROUPBOX "Rekaman audio", 8494, 7, 29, 242, 122
    ICON 4380, 8512, 8, 7, 20, 20
    LTEXT "&Akselerasi perangkat keras:", 8495, 13, 46, 103, 9
    CONTROL "Slider1", 5395, "MSCTLS_TRACKBAR32", WS_GROUP | WS_TABSTOP | 0x00000401, 150, 43, 62, 18
    LTEXT "Kualita&s konversi tingkat sampel:", 8496, 13, 103, 103, 9
    CONTROL "Slider1", 5396, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 150, 101, 62, 18
    PUSHBUTTON "&Kembalikan Default", 5400, 9, 158, 110, 14
    LTEXT "Tidak ada", 8497, 125, 46, 24, 10
    LTEXT "Penuh", 8498, 217, 46, 19, 9
    LTEXT "Bagus", 8499, 125, 103, 24, 10
    LTEXT "Terbaik", 8500, 217, 103, 19, 9
    LTEXT "String ini menjelaskan setting hardware untuk capture device", 5399, 13, 125, 222, 21
    LTEXT "String ini menjelaskan pengaturan perangkat keras untuk perangkat render", 5398, 13, 68, 218, 24
END

IDD_SETUP1 DIALOGEX 0, 0, 227, 206
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Mempersiapkan"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Audio ReactOS", 10243, 7, 5, 213, 192
    ICON 4393, 10241, 26, 26, 20, 20
    LTEXT "Komputer ini tidak dapat memutar audio karena layanan ReactOS Audio tidak diaktifkan.", 10245, 60, 25, 150, 40
    AUTOCHECKBOX "& Aktifkan ReactOS Audio", 10253, 60, 68, 150, 9
    LTEXT "Catatan", 10246, 58, 87, 150, 11
    LTEXT "1. Anda harus menjadi administrator untuk mengaktifkan layanan ini. Jika Anda tidak masuk sebagai administrator, Anda akan diminta memasukkan nama administrator dan kata sandi.", 10247, 60, 100, 150, 40
    LTEXT "2. Setelah Anda mengaktifkan ReactOS Audio Anda harus me-restart komputer.", 10248, 60, 140, 150, 40
END

IDD_MULTICHANNEL DIALOGEX 0, 0, 227, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Banyak saluran"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Deskripsi di sini.", 9506, 8, 4, 212, 24
    LTEXT "Rendah", 9473, 65, 31, 14, 8
    LTEXT "", 9472, 5, 31, 55, 8
    CONTROL "Slider1", 9475, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 29, 108, 17
    LTEXT "Tinggi", 9474, 202, 31, 17, 8
    LTEXT "Rendah", 9477, 65, 50, 14, 8
    LTEXT "", 9476, 5, 50, 55, 8
    CONTROL "Slider1", 9479, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 48, 108, 17
    LTEXT "Tinggi", 9478, 202, 50, 17, 8
    LTEXT "Rendah", 9481, 65, 69, 14, 8
    LTEXT "", 9480, 5, 69, 55, 8
    CONTROL "Slider1", 9483, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 67, 108, 17
    LTEXT "Tinggi", 9482, 202, 69, 17, 8
    LTEXT "Rendah", 9485, 65, 88, 14, 8
    LTEXT "", 9484, 5, 88, 55, 8
    CONTROL "Slider1", 9487, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 86, 108, 17
    LTEXT "Tinggi", 9486, 202, 88, 17, 8
    LTEXT "Rendah", 9489, 65, 107, 14, 8
    LTEXT "", 9488, 5, 107, 55, 8
    CONTROL "Slider1", 9491, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 105, 108, 17
    LTEXT "Tinggi", 9490, 202, 107, 17, 8
    LTEXT "Rendah", 9493, 65, 126, 14, 8
    LTEXT "", 9492, 5, 126, 55, 8
    CONTROL "Slider1", 9495, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 124, 108, 17
    LTEXT "Tinggi", 9494, 202, 126, 17, 8
    LTEXT "Rendah", 9497, 65, 145, 14, 8
    LTEXT "", 9496, 5, 145, 55, 8
    CONTROL "Slider1", 9499, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 143, 108, 17
    LTEXT "Tinggi", 9498, 202, 145, 17, 8
    LTEXT "Rendah", 9501, 65, 164, 14, 8
    LTEXT "", 9500, 5, 164, 55, 8
    CONTROL "Slider1", 9503, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 162, 108, 17
    LTEXT "Tinggi", 9502, 202, 164, 17, 8
    AUTOCHECKBOX "& Pindahkan semua indikator slide secara bersamaan", 9504, 5, 185, 216, 9
    PUSHBUTTON "Kembalikan Default", 9505, 110, 199, 110, 14
END

IDD_SETUP2 DIALOGEX 0, 0, 227, 206
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Mempersiapkan"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Audio ReactOS", 10259, 7, 5, 213, 192
    ICON 4394, 10257, 25, 25, 20, 20
    LTEXT "Layanan ReactOS Audio sekarang diaktifkan. Namun, audio mungkin tidak berfungsi dengan benar sampai Anda me-restart ReactOS. Jika Anda ingin me-restart sekarang, simpan dulu pekerjaan Anda dan tutup semua program.", 10261, 60, 25, 150, 50
    LTEXT "Untuk me-restart ReactOS, klik OK.", 10262, 60, 75, 150, 20
    LTEXT "Jika Anda Batal, Anda perlu memulai ulang nanti agar ReactOS Audio berfungsi dengan benar.", 10263, 60, 100, 150, 40
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Suara dan Audio Devices"
    IDS_CPLDESCRIPTION "Mengubah skema suara untuk komputer anda, atau mengkonfigurasi setelan untuk speaker dan device perekaman anda."
    IDS_NO_SOUND "(Tidak ada)"
    IDS_NO_DEVICES "Tidak ada perangkat"
    5825 "Kesalahan program"
    5826 "Tutup program"
    5827 "Kritis Alarm Baterai"
    5828 "Sambungan Perangkat"
    5829 "Putuskan Perangkat"
    5830 "Perangkat Gagal Terhubung"
    5831 "Kosong recycle bin"
    5832 "Baterai Alarm Rendah"
    5833 "Maksimalkan"
    5834 "Perintah menu"
    5835 "Daftar popup"
    5836 "Memperkecil"
    5837 "Pemberitahuan Mail Baru"
    5838 "Mulai Navigasi"
    5839 "Buka program"
    5840 "Cetak Lengkap"
    5841 "Pulihkan ke bawah"
    5842 "Kembalikan"
    5843 "Asterisk"
    5844 "Suara standar"
    5845 "Seruan"
    5846 "Keluar dari ReactOS"
    5847 "Berhenti Kritis"
    5848 "Pemberitahuan Sistem"
    5849 "Pertanyaan"
    5850 "Mulai ReactOS"
    5851 "Start Menu"
    IDS_REACTOS_LOGOFF "Keluar ReactOS"
    IDS_REACTOS_LOGON "Masuk ReactOS"
    5854 "Menjelajah ReactOS"
    IDS_BROWSE_FOR_SOUND "Mencari suara baru"
    IDS_WAVE_FILES_FILTER "Berkas Gelombang (*.wav)|*.wav|"
END
