LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_VOLUME DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Volume"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLICON, IDI_CPLICON, 8, 5, 32, 32
    LTEXT "", IDC_DEVICE_NAME, 40, 10, 194, 20
    GROUPBOX "Volume de dispositivo", -1, 7, 30, 230, 100
    CONTROL "", IDC_MUTE_ICON, "Static", SS_ICON | WS_VISIBLE, 17, 45, 32, 32
    CONTROL "", IDC_VOLUME_TRACKBAR, "msctls_trackbar32", TBS_AUTOTICKS | TBS_ENABLESELRANGE | TBS_BOTTOM | TBS_HORZ | WS_TABSTOP, 65, 45, 140, 14
    LTEXT "Baixa", -1, 62, 66, 30, 9
    LTEXT "Alta", -1, 195, 66, 30, 9
    AUTOCHECKBOX "&Mudo", IDC_MUTE_CHECKBOX, 50, 78, 140, 10
    AUTOCHECKBOX "Coloque o í&cone de volume na barra de tarefas", IDC_ICON_IN_TASKBAR, 50, 92, 140, 10
    PUSHBUTTON "Ava&nçadas...", IDC_ADVANCED_BTN, 150, 105, 75, 15
    GROUPBOX "Configurações de caixas de som", IDC_SPEAKER_SET_BTN, 7, 140, 230, 80
    CONTROL "", IDC_SPEAKIMG, "Static", SS_OWNERDRAW, 4, 155, 70, 70
    LTEXT "Use as configurações abaixo para alterar o volume de cada caixa de som e outras configurações.", -1, 70, 155, 150, 36
    PUSHBUTTON "&Volume das caixas de som...", IDC_SPEAKER_VOL_BTN, 70, 195, 75, 15
    PUSHBUTTON "Ava&nçada...", IDC_ADVANCED2_BTN, 150, 195, 75, 15
END

IDD_SOUNDS DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Sons"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Um esquema de som é um conjunto de sons aplicados a eventos no ReactOS e nos programas. Você pode selecionar um esquema existente ou salvar um que você modificou.", -1, 8, 7, 230, 30
    LTEXT "Sound s&cheme:", -1, 8, 42, 150, 9
    COMBOBOX IDC_SOUND_SCHEME, 8, 53, 230, 46, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Salv&ar Como...", IDC_SAVEAS_BTN, 134, 70, 50, 15
    PUSHBUTTON "&Apagar", IDC_DELETE_BTN, 188, 70, 50, 15
    LTEXT "Para alterar sons, clique em um evento do programa na lista e em seguida, selecione um som para aplicar. Você pode salvar as alterações como um novo esquema de som.", -1, 8, 90, 230, 27
    LTEXT "&Eventos de programa:", -1, 8, 118, 150, 9
    CONTROL "", IDC_SCHEME_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 8, 130, 230, 60, WS_EX_CLIENTEDGE
    LTEXT "&Sons:", IDC_TEXT_SOUND, 8, 194, 80, 9, WS_DISABLED
    COMBOBOX IDC_SOUND_LIST, 8, 205, 155, 146, CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "", IDC_PLAY_SOUND, 168, 205, 15, 15, WS_DISABLED | BS_ICON
    PUSHBUTTON "&Browse...", IDC_BROWSE_SOUND, 188, 205, 50, 15, WS_DISABLED
END

IDD_AUDIO DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Áudio"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Reprodução de som", -1, 7, 7, 230, 60
    ICON IDI_CPLICON, IDI_CPLICON, 15, 20, 32, 32
    LTEXT "&Dispositivo padrão:", -1, 50, 20, 80, 9
    COMBOBOX IDC_DEVICE_PLAY_LIST, 50, 30, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "&Volume...", IDC_VOLUME1_BTN, 85, 47, 70, 15
    PUSHBUTTON "Avan&çado...", IDC_ADV2_BTN, 160, 47, 70, 15
    GROUPBOX "Gravação de som", -1, 7, 75, 230, 60
    ICON IDI_MICROPHONE_ICON, IDI_MICROPHONE_ICON, 15, 88, 32, 32
    LTEXT "D&ispositivo padrão:", -1, 50, 88, 80, 9
    COMBOBOX IDC_DEVICE_REC_LIST, 50, 98, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "V&olume...", IDC_VOLUME2_BTN, 85, 115, 70, 15
    PUSHBUTTON "Avança&do...", IDC_ADV1_BTN, 160, 115, 70, 15
    GROUPBOX "MIDI music playback", -1, 7, 145, 230, 60
    ICON IDI_MIDICON, IDI_MIDICON, 15, 158, 32, 32
    LTEXT "De&fault device:", -1, 50, 158, 80, 9
    COMBOBOX IDC_DEVICE_MIDI_LIST, 50, 168, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "Volu&me...", IDC_VOLUME3_BTN, 85, 185, 70, 15
    PUSHBUTTON "So&bre...", IDC_ADV3_BTN, 160, 185, 70, 15
    AUTOCHECKBOX "&Usar apenas dispositivos padrão", IDC_DEFAULT_DEV_CHECKBOX, 7, 212, 140, 10
END

IDD_VOICE DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Voz"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Essas configurações controlam o volume e opções avançadas para os dispositivos de reprodução de voz ou de gravação selecionado.", -1, 8, 7, 230, 40
    GROUPBOX "Reprodução de voz", -1, 7, 37, 230, 60
    ICON IDI_CPLICON, IDI_CPLICON, 15, 50, 32, 32
    LTEXT "&Dispositivo padrão:", -1, 50, 50, 80, 9
    COMBOBOX IDC_DEVICE_VOICE_LIST, 50, 60, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "&Volume...", IDC_VOLUME4_BTN, 85, 77, 70, 15
    PUSHBUTTON "Avan&çado...", IDC_ADV4_BTN, 160, 77, 70, 15
    GROUPBOX "Gravação de voz", -1, 7, 105, 230, 60
    ICON IDI_MICROPHONE_ICON, IDI_MICROPHONE_ICON, 15, 118, 32, 32
    LTEXT "D&ispositivo padrão:", -1, 50, 118, 80, 9
    COMBOBOX IDC_DEVICE_VOICE_REC_LIST, 50, 128, 180, 46, CBS_DROPDOWNLIST
    PUSHBUTTON "V&olume...", IDC_VOLUME5_BTN, 85, 145, 70, 15
    PUSHBUTTON "Avança&do...", IDC_ADV5_BTN, 160, 145, 70, 15
    PUSHBUTTON "&Test hardware...", IDC_TEST_HARDWARE, 160, 175, 70, 15
END

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Hardware"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_SAVE_SCHEME_AS DIALOGEX 9, 23, 225, 54
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Salvar Esquema Como"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Salva este esquema de som como:", -1, 7, 7, 212, 9
    EDITTEXT 8960, 7, 17, 211, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 93, 36, 60, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 157, 36, 60, 14
END

IDD_SPEAKERS DIALOGEX 0, 0, 257, 204
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Caixas de som"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 4379, -1, 7, 8, 20, 20
    LTEXT "Selecione a configuração das caixas de som que é a mais parecida com a configuração que você tem no seu computador.", -1, 36, 8, 215, 27
    CONTROL 110, 5376, "STATIC", SS_BITMAP | SS_CENTERIMAGE, 37, 40, 209, 112, WS_EX_TRANSPARENT
    LTEXT "C&onfiguração das caixas de som:", 8502, 53, 169, 55, 10
    COMBOBOX 5401, 52, 182, 170, 200, CBS_DROPDOWNLIST | WS_VSCROLL | NOT WS_TABSTOP
END

IDD_PERFORMANCE1 DIALOGEX 0, 0, 257, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Desempenho"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Estas configurações controlam como o ReactOS reproduz áudio. Elas podem ajudá-lo a solucionar problemas relacionados ao áudio.", 8492, 34, 7, 218, 23
    GROUPBOX "Reprodução de áudio", 8494, 7, 32, 243, 152
    ICON 4379, 8512, 8, 8, 20, 20
    LTEXT "&Hardware acceleration:", 8495, 13, 56, 111, 14
    CONTROL "Slider1", 5395, "MSCTLS_TRACKBAR32", WS_GROUP | WS_TABSTOP | 0x00000401, 150, 54, 62, 18
    LTEXT "&Sample rate conversion quality:", 8496, 13, 123, 103, 14
    CONTROL "Slider1", 5396, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 150, 121, 62, 18
    PUSHBUTTON "&Restaurar Padrões", 5400, 7, 191, 110, 14
    LTEXT "Nenhum", 8497, 128, 56, 21, 10
    LTEXT "Full", 8498, 214, 56, 21, 9
    LTEXT "Bom", 8499, 128, 123, 21, 10
    LTEXT "Melhor", 8500, 214, 123, 23, 9
    LTEXT "This string describes the hardware setting for the capture device", 5399, 13, 145, 227, 21
    LTEXT "This string describes the hardware setting for the render device", 5398, 13, 78, 227, 22
END

IDD_PERFORMANCE2 DIALOGEX 0, 0, 257, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Desempenho"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Estas configurações controlam como o ReactOS grava áudio. Elas podem ajudá-lo a solucionar problemas relacionados ao áudio.", 8492, 34, 7, 217, 20
    GROUPBOX "Gravação de áudio", 8494, 7, 29, 242, 122
    ICON 4380, 8512, 8, 7, 20, 20
    LTEXT "&Hardware acceleration:", 8495, 13, 46, 103, 9
    CONTROL "Slider1", 5395, "MSCTLS_TRACKBAR32", WS_GROUP | WS_TABSTOP | 0x00000401, 150, 43, 62, 18
    LTEXT "&Sample rate conversion quality:", 8496, 13, 103, 103, 9
    CONTROL "Slider1", 5396, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 150, 101, 62, 18
    PUSHBUTTON "&Restaurar Padrões", 5400, 9, 158, 110, 14
    LTEXT "Nenhum", 8497, 125, 46, 24, 10
    LTEXT "Full", 8498, 217, 46, 19, 9
    LTEXT "Bom", 8499, 125, 103, 24, 10
    LTEXT "Melhor", 8500, 217, 103, 19, 9
    LTEXT "This string describes the hardware setting for the capture device", 5399, 13, 125, 222, 21
    LTEXT "This string describes the hardware setting for the render device", 5398, 13, 68, 218, 24
END

IDD_SETUP1 DIALOGEX 0, 0, 227, 206
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Áudio do ReactOS", 10243, 7, 5, 213, 192
    ICON 4393, 10241, 26, 26, 20, 20
    LTEXT "Este computador não pode reproduzir áudio porque o serviço de áudio do ReactOS não está ativado.", 10245, 60, 25, 150, 40
    AUTOCHECKBOX "&Ativar o áudio do ReactOS", 10253, 60, 68, 150, 9
    LTEXT "Observações", 10246, 58, 87, 150, 11
    LTEXT "1. você deve ser um administrador para habilitar esse serviço. Se você não fez login como administrador, você será solicitado um nome de administrador e senha.", 10247, 60, 100, 150, 40
    LTEXT "2. Depois que você ativar o áudio ReactOS você terá que reiniciar o computador.", 10248, 60, 140, 150, 40
END

IDD_MULTICHANNEL DIALOGEX 0, 0, 227, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Multichannel"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Description goes here.", 9506, 8, 4, 212, 24
    LTEXT "Baixa", 9473, 65, 31, 14, 8
    LTEXT "", 9472, 5, 31, 55, 8
    CONTROL "Slider1", 9475, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 29, 108, 17
    LTEXT "Alta", 9474, 202, 31, 17, 8
    LTEXT "Baixa", 9477, 65, 50, 14, 8
    LTEXT "", 9476, 5, 50, 55, 8
    CONTROL "Slider1", 9479, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 48, 108, 17
    LTEXT "Alta", 9478, 202, 50, 17, 8
    LTEXT "Baixa", 9481, 65, 69, 14, 8
    LTEXT "", 9480, 5, 69, 55, 8
    CONTROL "Slider1", 9483, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 67, 108, 17
    LTEXT "Alta", 9482, 202, 69, 17, 8
    LTEXT "Baixa", 9485, 65, 88, 14, 8
    LTEXT "", 9484, 5, 88, 55, 8
    CONTROL "Slider1", 9487, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 86, 108, 17
    LTEXT "Alta", 9486, 202, 88, 17, 8
    LTEXT "Baixa", 9489, 65, 107, 14, 8
    LTEXT "", 9488, 5, 107, 55, 8
    CONTROL "Slider1", 9491, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 105, 108, 17
    LTEXT "Alta", 9490, 202, 107, 17, 8
    LTEXT "Baixa", 9493, 65, 126, 14, 8
    LTEXT "", 9492, 5, 126, 55, 8
    CONTROL "Slider1", 9495, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 124, 108, 17
    LTEXT "Alta", 9494, 202, 126, 17, 8
    LTEXT "Baixa", 9497, 65, 145, 14, 8
    LTEXT "", 9496, 5, 145, 55, 8
    CONTROL "Slider1", 9499, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 143, 108, 17
    LTEXT "Alta", 9498, 202, 145, 17, 8
    LTEXT "Baixa", 9501, 65, 164, 14, 8
    LTEXT "", 9500, 5, 164, 55, 8
    CONTROL "Slider1", 9503, "MSCTLS_TRACKBAR32", WS_TABSTOP | 0x00000401, 87, 162, 108, 17
    LTEXT "Alta", 9502, 202, 164, 17, 8
    AUTOCHECKBOX "&Move todos os indicadores de slide ao mesmo tempo", 9504, 5, 185, 216, 9
    PUSHBUTTON "Restaurar &Padrões", 9505, 110, 199, 110, 14
END

IDD_SETUP2 DIALOGEX 0, 0, 227, 206
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Áudio do ReactOS", 10259, 7, 5, 213, 192
    ICON 4394, 10257, 25, 25, 20, 20
    LTEXT "O serviço de áudio do ReactOS está habilitado. Entretanto, áudio pode não funcionar corretamente até que você reinicie o ReactOS. Se você deseja reiniciar agora, primeiro salve o trabalho e feche todos os programas.", 10261, 60, 25, 150, 50
    LTEXT "Para reiniciar o ReactOS, clique OK.", 10262, 60, 75, 150, 20
    LTEXT "Se você Cancelar, você precisará reiniciar mais tarde para o que o áudio ReactOS funcione corretamente.", 10263, 60, 100, 150, 40
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Sons e dispositivos de áudio"
    IDS_CPLDESCRIPTION "Altera o esquema de som para o seu computador ou define as configurações para as caixas de som e dispositivos de gravação."
    IDS_NO_SOUND "(Nenhum)"
    IDS_NO_DEVICES "Nenhum dispositivo"
    5825 "Erro de programa"
    5826 "Fechar programa"
    5827 "Alarme de bateria crítica"
    5828 "Conexão de Dispositivo"
    5829 "Dispositivo Desconectado"
    5830 "Dispositivo Falhou ao Conectar"
    5831 "Esvaziar Lixeira"
    5832 "Alarme de Bateria Fraca"
    5833 "Maximizar"
    5834 "Comando de menu"
    5835 "Menu popup"
    5836 "Minimizar"
    5837 "Nova Notificação de Email"
    5838 "Iniciar Navegação"
    5839 "Abrir Programa"
    5840 "Impressão Completa"
    5841 "Restore Down"
    5842 "Restore Up"
    5843 "Asterisco"
    5844 "Som padrão"
    5845 "Exclamação"
    5846 "Sair do ReactOS"
    5847 "Parada Crítica"
    5848 "Notificação de Sistema"
    5849 "Pergunta"
    5850 "Iniciar ReactOS"
    5851 "Menu Iniciar"
    IDS_REACTOS_LOGOFF "ReactOS Logoff"
    IDS_REACTOS_LOGON "ReactOS Logon"
    5854 "Explorador ReactOS"
    IDS_BROWSE_FOR_SOUND "Buscar novos sons"
    IDS_WAVE_FILES_FILTER "Wave Files (*.wav)|*.wav|"
END
