LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_PROFILEPATH "%SystemDrive%\\Documents dan Pengaturan"
    IDS_APPDATA "data aplikasi"
    IDS_DESKTOP "Desktop"
    IDS_FAVORITES "Favorit"
    IDS_MYDOCUMENTS "Dokumen-dokumen saya"
    IDS_NETHOOD "NetHood"
    IDS_PRINTHOOD "PrintHood"
    IDS_RECENT "terbaru"
    IDS_SENDTO "Kirim ke"
    IDS_TEMPLATES "Template"
    IDS_STARTMENU "Start Menu"
    IDS_PROGRAMS "Start Menu\\Program"
    IDS_STARTUP "Start Menu\\ Program \\Memulai"
    IDS_LOCALSETTINGS "Pengaturan Lokal"
    IDS_LOCALAPPDATA "Local Settings\\Application Data"
    IDS_TEMP "Pengaturan Lokal\\Temp"
    IDS_CACHE "Pengaturan Lokal\\Temporary Internet Files"
    IDS_HISTORY "Pengaturan Lokal\\Riwayat"
    IDS_COOKIES "Kue"
END
