LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

STRINGTABLE
BEGIN
    IDS_PROFILEPATH "%SystemDrive%\\Documents and Settings"
    IDS_APPDATA "Dati applicazioni"
    IDS_DESKTOP "Desktop"
    IDS_FAVORITES "Preferiti"
    IDS_MYDOCUMENTS "Documenti"
    IDS_NETHOOD "Risorse di rete"
    IDS_PRINTHOOD "Stampanti"
    IDS_RECENT "Recenti"
    IDS_SENDTO "Invia a"
    IDS_TEMPLATES "Modelli"
    IDS_STARTMENU "Menu Avvio"
    IDS_PROGRAMS "Menu Avvio\\Programmi"
    IDS_STARTUP "Menu Avvio\\Programmi\\Esecuzione automatica"
    IDS_LOCALSETTINGS "Impostazioni locali"
    IDS_LOCALAPPDATA "Impostazioni locali\\Dati applicazioni"
    IDS_TEMP "Impostazioni locali\\Temp"
    IDS_CACHE "Impostazioni locali\\Temporary Internet Files"
    IDS_HISTORY "Impostazioni locali\\Cronologia"
    IDS_COOKIES "Cookies"
END
