LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE
{
    STRING_USAGE, "Syntax:\n\nREG [ ADD | DELETE | QUERY ]\nREG Befehl /?\n"
    STRING_ADD_USAGE, "REG ADD Schlüssel [/v Wert | /ve] [/t Typ] [/s Trenner] [/d Daten] [/f]\n"
    STRING_DELETE_USAGE, "REG DELETE Schlüssel [/v Wert | /ve | /va] [/f]\n"
    STRING_QUERY_USAGE, "REG QUERY Schlüssel [/v Wert | /ve] [/s]\n"
    STRING_SUCCESS, "Der Vorgang wurde erfolgreich abgeschlossen\n"
    STRING_INVALID_KEY, "Fehler: Ungültiger Schlüssel\n"
    STRING_INVALID_CMDLINE, "Fehler: Ungültige Befehlszeilenargumente\n"
    STRING_NO_REMOTE, "Fehler: Konnte Schlüssel nicht zum entfernten Rechner hinzufügen\n"
    STRING_CANNOT_FIND, "Fehler: Der angegebene Schlüssel oder Wert konnte nicht gefunden werden\n"
    STRING_UNSUPPORTED_TYPE, "Error: Unsupported type\n"
    STRING_MISSING_INTEGER, "reg: Der Option [/d] muss ein gültiger Ganzzahlwert folgen\n"
    STRING_MISSING_HEXDATA, "reg: Der Option [/d] muss ein gültiger Hexadezimalwert folgen\n"
    STRING_UNHANDLED_TYPE, "reg: Unbehandelter Registry Datentyp [/t 0x%1!x!, /d %2]\n"
    STRING_OVERWRITE_VALUE, "Der Registrywert '%1' existiert bereits. Möchten Sie ihn überschreiben?"
    STRING_YESNO, " (Ja|Nein)"
    STRING_YES, "Z"
    STRING_NO, "N"
    STRING_CANCELLED, "Der Registryvorgang wurde abgebrochen\n"
    STRING_DEFAULT_VALUE, "(Standard)"
    STRING_DELETE_VALUE, "Registry Wert '%1' wirklich löschen'?"
    STRING_DELETE_VALUEALL, "Alle Registry Werte in '%1' wirklich löschen'?"
    STRING_DELETE_SUBKEY, "Registry Schlüssel '%1' wirklich löschen'?"
    STRING_INVALID_STRING, "reg: Der Option [/d] muss eine gültige Zeichenkette folgen\n"
    STRING_VALUEALL_FAILED, "reg: Konnte nicht alle Registry Werte in '%1' löschen. Ein unerwarteter Fehler ist aufgetreten.\n"
    STRING_GENERAL_FAILURE, "reg: Der angegebene Vorgang kann nicht abgeschlossen werden. Ein unerwarteter Fehler ist aufgetreten.\n"
    STRING_MATCHES_FOUND, "Suche abgeschlossen. Anzahl gefundener Übereinstimmungen: %1!d!\n"
    STRING_INVALID_SYNTAX, "reg: Ungültige syntax. "
    STRING_INVALID_OPTION, "reg: Ungültige option [%1]. "
    STRING_REG_HELP, "Type ""REG /?"" for help.\n"
    STRING_FUNC_HELP, "Type ""REG %1 /?"" for help.\n"
    STRING_VALUE_NOT_SET, "(Wert nicht gesetzt)"
    STRING_IMPORT_USAGE, "REG IMPORT file.reg\n"
    STRING_FILE_NOT_FOUND, "reg: Die Datei '%1' wurde nicht gefunden.\n"
    STRING_OPEN_KEY_FAILED, "reg: Konnte den Registry Schlpssel '%1' nicht öffnen.\n"
    STRING_ESCAPE_SEQUENCE, "reg: Nicht erkannte Escapesequenz [\\%1!c!]\n"
}
