LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
{
    STRING_USAGE, "Sintaks dari perintah ini adalah:\n\nREG [MENAMBAHKAN | HAPUS | PERTANYAAN]\nREG perintah /?\n"
    STRING_ADD_USAGE, "REG MENAMBAHKAN kunci_nama [/v nilai_nama |/ve] [/t jenis] [/s alat pemisah] [/d data] [/f]\n"
    STRING_DELETE_USAGE, "REG MENGHAPUS kunci_nama [/v nilai_nama | /ve | /va] [/f]\n"
    STRING_QUERY_USAGE, "REG PERTANYAAN kunci_nama [/v value_name | /ve] [/s]\n"
    STRING_SUCCESS, "Operasi berhasil diselesaikan\n"
    STRING_INVALID_KEY, "reg: Nama kunci tidak valid\n"
    STRING_INVALID_CMDLINE, "reg: Parameter baris perintah tidak valid\n"
    STRING_NO_REMOTE, "reg: Tidak dapat mengakses mesin remote\n"
    STRING_CANNOT_FIND, "reg: Sistem tidak dapat menemukan kunci registri atau nilai yang ditentukan\n"
    STRING_UNSUPPORTED_TYPE, "reg: Tipe data registri yang tidak didukung [%1]\n"
    STRING_MISSING_INTEGER, "reg: Pilihan [/d] harus diikuti dengan bilangan bulat yang valid\n"
    STRING_MISSING_HEXDATA, "reg: Pilihan [/d] harus diikuti dengan nilai heksadesimal yang valid\n"
    STRING_UNHANDLED_TYPE, "reg: Tipe data registri yang tidak tertangani [/t 0x%1!x!, /d %2]\n"
    STRING_OVERWRITE_VALUE, "Nilai registri '%1' sudah ada. Apakah Anda ingin menimpanya?"
    STRING_YESNO, " (Ya|Tidak)"
    STRING_YES, "Y"
    STRING_NO, "N"
    STRING_CANCELLED, "Operasi registri dibatalkan\n"
    STRING_DEFAULT_VALUE, "(Standar)"
    STRING_DELETE_VALUE, "Yakin ingin menghapus nilai registri '%1'?"
    STRING_DELETE_VALUEALL, "Yakin ingin menghapus semua nilai registri di '%1'?"
    STRING_DELETE_SUBKEY, "Yakin ingin menghapus kunci registri '%1'?"
    STRING_INVALID_STRING, "reg: Pilihan [/d] harus diikuti oleh tali yang valid\n"
    STRING_VALUEALL_FAILED, "reg: Tidak dapat menghapus semua nilai registri di '%1'. Terjadi kesalahan tak terduga.\n"
    STRING_GENERAL_FAILURE, "reg: Tidak dapat menyelesaikan operasi yang ditentukan. Terjadi kesalahan tak terduga. \n"
    STRING_MATCHES_FOUND, "Pencarian selesai Jumlah kecocokan ditemukan: %1!d!\n"
    STRING_INVALID_SYNTAX, "reg: Invalid syntax. "
    STRING_INVALID_OPTION, "reg: Invalid option [%1]. "
    STRING_REG_HELP, "Jenis ""REG /?"" untuk bantuan.\n"
    STRING_FUNC_HELP, "Jenis ""REG %1 /?"" untuk bantuan.\n"
    STRING_VALUE_NOT_SET, "(nilai tidak disetel)"
    STRING_IMPORT_USAGE, "REG IMPORT file.reg\n"
    STRING_FILE_NOT_FOUND, "reg: The file '%1' was not found.\n"
    STRING_OPEN_KEY_FAILED, "reg: Tidak dapat membuka kunci registri '%1'.\n"
    STRING_ESCAPE_SEQUENCE, "reg: urutan escape yang tidak dikenal [\\%1!c!]\n"
}
