LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_NT_AUTHORITY "NT AUTHORITY"
    IDS_NULL_RID "NULL SID"
    IDS_WORLD_RID "Semua orang"
    IDS_LOCAL_RID "LOKAL"
    IDS_CREATOR_OWNER_RID "PEMBUAT PEMILIK"
    IDS_CREATOR_GROUP_RID "CREATOR GROUP"
    IDS_CREATOR_OWNER_SERVER_RID "CREATOR OWNER SERVER"
    IDS_CREATOR_GROUP_SERVER_RID "CREATOR GROUP SERVER"
    IDS_DIALUP_RID "PANGGILAN"
    IDS_NETWORK_RID "JARINGAN"
    IDS_BATCH_RID "BATCH"
    IDS_INTERACTIVE_RID "INTERAKTIF"
    IDS_SERVICE_RID "LAYANAN"
    IDS_ANONYMOUS_LOGON_RID "LOGON ANONIM"
    IDS_PROXY_RID "PROXY"
    IDS_ENTERPRISE_CONTROLLERS_RID "ENTERPRISE DOMAIN CONTROLLERS"
    IDS_PRINCIPAL_SELF_RID "DIRI"
    IDS_AUTHENTICATED_USER_RID "Pengguna yang dikonfirmasi"
    IDS_RESTRICTED_CODE_RID "TERBATAS"
    IDS_TERMINAL_SERVER_RID "PENGGUNA TERMINAL SERVER"
    IDS_REMOTE_LOGON_RID "REMOTE INTERACTIVE LOGON"
    IDS_THIS_ORGANIZATION_RID "Mengedit Organisasi"
    IDS_LOCAL_SYSTEM_RID "SISTEM"
    IDS_LOCAL_SERVICE_RID "LAYANAN LOKAL"
    IDS_NETWORK_SERVICE_RID "JARINGAN JARINGAN"
    IDS_BUILTIN_DOMAIN_RID "BUILTIN"
    IDS_ALIAS_RID_ADMINS "Administrator"
    IDS_ALIAS_RID_USERS "Pengguna"
    IDS_ALIAS_RID_GUESTS "Tamu"
    IDS_ALIAS_RID_POWER_USERS "Pengguna Daya"
    IDS_ALIAS_RID_ACCOUNT_OPS "Operator Akun"
    IDS_ALIAS_RID_SYSTEM_OPS "Operator server"
    IDS_ALIAS_RID_PRINT_OPS "Operator Cetak"
    IDS_ALIAS_RID_BACKUP_OPS "Operator Cadangan"
    IDS_ALIAS_RID_REPLICATOR "Replikator"
    IDS_ALIAS_RID_RAS_SERVERS "RAS dan IAS Server"
    IDS_ALIAS_RID_PREW2KCOMPACCESS "Sebelum-Windows 2000 Akses yang Kompatibel"
    IDS_ALIAS_RID_REMOTE_DESKTOP_USERS "Pengguna Desktop Jarak Jauh"
    IDS_ALIAS_RID_NETWORK_CONFIGURATION_OPS "Operator Konfigurasi Jaringan"
END

STRINGTABLE
BEGIN
    IDS_CREATE_TOKEN_PRIVILEGE "Buat sebuah objek token"
    IDS_ASSIGNPRIMARYTOKEN_PRIVILEGE "Menggantikan tingkat proses level token"
    IDS_LOCK_MEMORY_PRIVILEGE "Kunci halaman di memori"
    IDS_INCREASE_QUOTA_PRIVILEGE "Sesuaikan kuota memori untuk sebuah proses"
    IDS_MACHINE_ACCOUNT_PRIVILEGE "Tambahkan stasiun kerja ke domain"
    IDS_TCB_PRIVILEGE "Bertindak sebagai bagian dari sistem operasi"
    IDS_SECURITY_PRIVILEGE "Mengelola audit dan kunci keamanan"
    IDS_TAKE_OWNERSHIP_PRIVILEGE "Ambil kepemilikan file atau objek lainnya"
    IDS_LOAD_DRIVER_PRIVILEGE "Muatkan dan bongkar driver perangkat"
    IDS_SYSTEM_PROFILE_PRIVILEGE "Kinerja sistem profil"
    IDS_SYSTEMTIME_PRIVILEGE "Ubah waktu sistem"
    IDS_PROF_SINGLE_PROCESS_PRIVILEGE "Proses profil tunggal"
    IDS_INC_BASE_PRIORITY_PRIVILEGE "Tingkatkan prioritas penjadwalan"
    IDS_CREATE_PAGEFILE_PRIVILEGE "Buat halaman pengajuan"
    IDS_CREATE_PERMANENT_PRIVILEGE "Buat objek berbagi permanen"
    IDS_BACKUP_PRIVILEGE "Cadangkan file dan direktori"
    IDS_RESTORE_PRIVILEGE "Kembalikan file dan direktori"
    IDS_SHUTDOWN_PRIVILEGE "Matikan sistem"
    IDS_DEBUG_PRIVILEGE "Program debug"
    IDS_AUDIT_PRIVILEGE "Menghasilkan keamanan audit"
    IDS_SYSTEM_ENVIRONMENT_PRIVILEGE "Ubah nilai lingkungan firmware"
    IDS_CHANGE_NOTIFY_PRIVILEGE "Dengan melewati pemeriksaan melintas"
    IDS_REMOTE_SHUTDOWN_PRIVILEGE "Angkatan mematikan dari sistem asing"
    IDS_UNDOCK_PRIVILEGE "Lepaskan komputer dari perkaitan pemancar"
    IDS_SYNC_AGENT_PRIVILEGE "Sinkronkan data layanan direktori"
    IDS_ENABLE_DELEGATION_PRIVILEGE "Aktifkan akun komputer dan pengguna agar dipercaya delegasi"
    IDS_MANAGE_VOLUME_PRIVILEGE "Lakukan tugas pemeliharaan volume"
    IDS_IMPERSONATE_PRIVILEGE "Meniru klien setelah otentikasi"
    IDS_CREATE_GLOBAL_PRIVILEGE "Buat objek global"
END
