LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

STRINGTABLE
BEGIN
    IDS_EDIT "편집"
    IDS_MARK "Mark"
    IDS_COPY "Copy\tEnter"
    IDS_PASTE "Paste"
    IDS_SELECTALL "Select All"
    IDS_SCROLL "Scroll"
    IDS_FIND "Find..."
    IDS_DEFAULTS "Defaults"
    IDS_PROPERTIES "속성"
/*
    IDS_SCROLLHERE "Scroll here"
    IDS_SCROLLTOP "Scroll top"
    IDS_SCROLLBOTTOM "Scroll bottom"
    IDS_SCROLLPAGE_UP "Page up"
    IDS_SCROLLPAGE_DOWN "Page down"
    IDS_SCROLLUP "Scroll up"
    IDS_SCROLLDOWN "Scroll down"
*/
    IDS_TERMINAL_TITLE "ReactOS Console"
END
