LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE
BEGIN
    STRING_CHCP_HELP "Displays or sets the active code page number.\n\n\
CHCP [nnn]\n\n\
  nnn   Specifies the active code page number.\n\n\
Type CHCP without a parameter to display the active code page number.\n"
    STRING_CHCP_ERROR1 "Página de código ativa: %u\n"
    STRING_CHCP_ERROR4 "Página de código inválida\n"
    STRING_ERROR_INVALID_PARAM_FORMAT "Formato de parâmetro inválido - %s\n"
END
