/*
 * PROJECT:    ReactOS Event Viewer
 * LICENSE:    GPL - See COPYING in the top level directory
 * FILE:       base/applications/mscutils/eventvwr/lang/en-US.rc
 * PURPOSE:    English Language File for ReactOS Event Viewer
 * TRANSLATOR: Marc Piulachs
 */

LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDM_EVENTVWR MENU
BEGIN
    POPUP "&Log"
    BEGIN
        MENUITEM "&Terbuka...", IDM_OPEN_EVENTLOG
        MENUITEM "Simpan &Event Log sebagai...", IDM_SAVE_EVENTLOG
        MENUITEM "Tutup", IDM_CLOSE_EVENTLOG
        MENUITEM SEPARATOR
        MENUITEM "C&apus semua Events", IDM_CLEAR_EVENTS
        MENUITEM "&Rename\tF2", IDM_RENAME_EVENTLOG
        MENUITEM "Masuk Se&ttings...", IDM_EVENTLOG_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Keluar", IDM_EXIT
    END
    POPUP "&Lihat"
    BEGIN
        MENUITEM "&Pertama Terbaru", IDM_LIST_NEWEST
        MENUITEM "&Terlama pertama", IDM_LIST_OLDEST
        MENUITEM SEPARATOR
        MENUITEM "&Details...\tEnter", IDM_EVENT_DETAILS
        MENUITEM SEPARATOR
        MENUITEM "&Segarkan\tF5", IDM_REFRESH
    END
    POPUP "&Opsi"
    BEGIN
        MENUITEM "&Tampilkan detail acara melihat", IDM_SHOW_EVENT_DETAILS_VIEW
    END
    POPUP "&File"
    BEGIN
        MENUITEM "Membantu", IDM_HELP
        MENUITEM SEPARATOR
        MENUITEM "&Tentang", IDM_ABOUT
    END
END

IDA_EVENTVWR ACCELERATORS
BEGIN
    "?", IDM_ABOUT, ASCII, ALT
    "/", IDM_ABOUT, ASCII, ALT
    VK_F2, IDM_RENAME_EVENTLOG, VIRTKEY
    VK_F5, IDM_REFRESH, VIRTKEY
END

IDD_EVENTDETAILS_DLG DIALOGEX 0, 0, 266, 240
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_THICKFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Detail acara"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "EvtDetailsCtrl", IDC_STATIC, 0, 0, 266, 215
    PUSHBUTTON "&File", IDHELP, 8, 220, 50, 14
    DEFPUSHBUTTON "Tutup", IDOK, 208, 220, 50, 14
END

IDD_EVENTDETAILS_CTRL DIALOGEX 0, 0, 266, 215
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Tanggal:", IDC_STATIC, 8, 5, 31, 8
    EDITTEXT IDC_EVENTDATESTATIC, 46, 5, 47, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Sumber:", IDC_STATIC, 103, 5, 36, 8
    EDITTEXT IDC_EVENTSOURCESTATIC, 140, 5, 82, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Waktu:", IDC_STATIC, 8, 15, 31, 8
    EDITTEXT IDC_EVENTTIMESTATIC, 46, 15, 47, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Katagori:", IDC_STATIC, 103, 15, 36, 8
    EDITTEXT IDC_EVENTCATEGORYSTATIC, 140, 15, 82, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Tipe:", IDC_STATIC, 8, 25, 31, 8
    EDITTEXT IDC_EVENTTYPESTATIC, 46, 25, 47, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "ID Acara:", IDC_STATIC, 103, 25, 36, 8
    EDITTEXT IDC_EVENTIDSTATIC, 140, 25, 82, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Pengguna:", IDC_STATIC, 8, 35, 36, 8
    EDITTEXT IDC_EVENTUSERSTATIC, 46, 35, 152, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Komputer:", IDC_STATIC, 8, 45, 36, 8
    EDITTEXT IDC_EVENTCOMPUTERSTATIC, 46, 45, 152, 8, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL

    PUSHBUTTON "", IDC_PREVIOUS, 230, 5, 28, 14, BS_ICON
    PUSHBUTTON "", IDC_NEXT, 230, 21, 28, 14, BS_ICON
    PUSHBUTTON "", IDC_COPY, 230, 37, 28, 14, BS_ICON

    LTEXT "&Deskripsi:", IDC_STATIC, 8, 65, 39, 8
    CONTROL "", IDC_EVENTTEXTEDIT, RICHEDIT_CLASS, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER, 8, 76, 250, 60

    LTEXT "D&ata:", IDC_DETAILS_STATIC, 8, 140, 20, 8
    CONTROL "&Bytes", IDC_BYTESRADIO, "Button", BS_AUTORADIOBUTTON, 39, 140, 34, 8
    CONTROL "&Kata", IDC_WORDRADIO, "Button", BS_AUTORADIOBUTTON, 77, 140, 34, 8
    EDITTEXT IDC_EVENTDATAEDIT, 8, 150, 250, 60, ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
END

IDD_LOGPROPERTIES_GENERAL DIALOGEX 0, 0, 252, 234
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION
CAPTION "Umum"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Nama tampilan:", IDC_STATIC, 7, 9, 60, 8
    EDITTEXT IDC_DISPLAYNAME, 67, 7, 178, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
    LTEXT "&Catatan nama:", IDC_STATIC, 7, 25, 60, 8
    EDITTEXT IDC_LOGNAME, 67, 23, 178, 12, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
    LTEXT "Catatan &file:", IDC_STATIC, 7, 41, 60, 8
    EDITTEXT IDC_LOGFILE, 67, 39, 178, 12, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
    LTEXT "Ukuran:", IDC_STATIC, 7, 57, 60, 8
    EDITTEXT IDC_SIZE_LABEL, 67, 57, 178, 12, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Dibuat:", IDC_STATIC, 7, 69, 60, 8
    EDITTEXT IDC_CREATED_LABEL, 67, 69, 178, 12, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Modifikasi:", IDC_STATIC, 7, 81, 60, 8
    EDITTEXT IDC_MODIFIED_LABEL, 67, 81, 178, 12, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Diakses:", IDC_STATIC, 7, 93, 60, 8
    EDITTEXT IDC_ACCESSED_LABEL, 67, 93, 178, 12, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Ukuran catatan", IDC_STATIC, 7, 106, 238, 99
    LTEXT "&Ukuran maksimum log:", IDC_STATIC, 17, 122, 58, 8
    EDITTEXT IDC_EDIT_MAXLOGSIZE, 80, 119, 40, 14, ES_LEFT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_MAXLOGSIZE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 120, 119, 10, 14
    LTEXT "KB", IDC_STATIC, 130, 122, 20, 8
    LTEXT "Saat ukuran log maksimum tercapai:", IDC_STATIC, 17, 140, 219, 8
    CONTROL "&Menimpa peristiwa yang diperlukan", IDC_OVERWRITE_AS_NEEDED, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 17, 155, 219, 10
    CONTROL "T&impa peristiwa yang lebih tua dari", IDC_OVERWRITE_OLDER_THAN, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 17, 168, 102, 10
    EDITTEXT IDC_EDIT_EVENTS_AGE, 122, 165, 35, 14, ES_LEFT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_EVENTS_AGE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 157, 165, 10, 14
    LTEXT "hari", IDC_STATIC, 162, 168, 20, 8
    CONTROL "Lakukan &jangan menimpa acara\n(hapus log secara manual)", IDC_NO_OVERWRITE, "Button", BS_AUTORADIOBUTTON | BS_MULTILINE | WS_GROUP | WS_TABSTOP, 17, 180, 143, 20
    PUSHBUTTON "&Kembalikan Default", IDC_RESTOREDEFAULTS, 166, 183, 70, 14
    AUTOCHECKBOX "Menggunakan koneksi lo&w-kecepatan", IDC_LOW_SPEED_CONNECTION, 7, 217, 167, 10
    PUSHBUTTON "&Clear Log", ID_CLEARLOG, 195, 213, 50, 14
END

STRINGTABLE
BEGIN
    IDS_COPYRIGHT "Hak cipta (C) 2007 Marc Piulachs (marc.piulachs@codexchange.net)"
    IDS_APP_TITLE "Peraga Peristiwa"
    IDS_APP_TITLE_EX "%s - %s Log on \\\\"
    IDS_STATUS_MSG "%s has %lu event(s) (listed: %lu)"
    IDS_LOADING_WAIT "Memuat Log Peristiwa. Mohon tunggu..."
    IDS_NO_ITEMS "Tidak ada item untuk ditampilkan dalam tampilan ini. ""//"" Tidak ada kejadian di log ini."
    IDS_EVENTLOG_SYSTEM "Log Sistem"
    IDS_EVENTLOG_APP "Aplikasi Log"
    IDS_EVENTLOG_USER "Log Pengguna"
    IDS_EVENTSTRINGIDNOTFOUND "Uraian untuk ID Peristiwa ( %lu) di Sumber ( %s ) tidak dapat ditemukan. Komputer lokal mungkin tidak memiliki informasi registri atau file DLL yang diperlukan untuk menampilkan pesan dari komputer jauh.\n\nInformasi berikut adalah bagian dari acara:\n\n"
    IDS_CLEAREVENTS_MSG "Apakah Anda ingin menyimpan catatan peristiwa ini sebelum menghapusnya?"
    IDS_SAVE_FILTER "Catatan Event (*.evt)\0*.evt\0"
END

STRINGTABLE
BEGIN
    IDS_EVENTLOG_ERROR_TYPE "Salah"
    IDS_EVENTLOG_WARNING_TYPE "Peringatan"
    IDS_EVENTLOG_INFORMATION_TYPE "Informasi"
    IDS_EVENTLOG_AUDIT_SUCCESS "Keberhasilan Audit"
    IDS_EVENTLOG_AUDIT_FAILURE "Kegagalan Audit"
    IDS_EVENTLOG_SUCCESS "Sukses"
    IDS_EVENTLOG_UNKNOWN_TYPE "Acara tidak Diketahui"
END

STRINGTABLE
BEGIN
    IDS_BYTES_FORMAT "bytes"" // ""%s bytes"
    // "%1!ls! (%2!ls! bytes)"
END

STRINGTABLE
BEGIN
    IDS_COLUMNTYPE "Jenis"
    IDS_COLUMNDATE "Tanggal"
    IDS_COLUMNTIME "Waktu"
    IDS_COLUMNSOURCE "Sumber"
    IDS_COLUMNCATEGORY "Kategori"
    IDS_COLUMNEVENT "Acara"
    IDS_COLUMNUSER "Pengguna"
    IDS_COLUMNCOMPUTER "Komputer"
END

STRINGTABLE
BEGIN
    IDS_COPY "Event Type:     %s\r\n\
Event Source:   %s\r\n\
Event Category: %s\r\n\
Event ID:       %s\r\n\
Date:           %s\r\n\
Time:           %s\r\n\
User:           %s\r\n\
Computer:       %s\r\n\
Description:\r\n%s"
END

STRINGTABLE
BEGIN
    IDS_NONE "Tidak ada"
    IDS_NOT_AVAILABLE "N/A"
END
