LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE
BEGIN
    IDS_DOMAIN_BUILTIN_NAME "Builtin"
    IDS_GROUP_NONE_NAME "Nenhum"
    IDS_GROUP_NONE_COMMENT "Usuários Comuns"
    IDS_ALIAS_ADMINISTRATORS_NAME "Administradores"
    IDS_ALIAS_ADMINISTRATORS_COMMENT "Administradores tem acesso irrestrito ao computador do domínio."
    IDS_ALIAS_GUESTS_NAME "Convidados"
    IDS_ALIAS_GUESTS_COMMENT "Convidados tem por padrão os mesmos direitos que Usuários do grupo."
    IDS_ALIAS_POWER_USERS_NAME "Power Users"
    IDS_ALIAS_POWER_USERS_COMMENT "Power Users have most administrative rights with some restrictions."
    IDS_ALIAS_USERS_NAME "Usuários"
    IDS_ALIAS_USERS_COMMENT "Users are prevented from making system-wide changes."
    /*
     * ATTENTION: 
     *   If you translate the administrator account name, keep IDS_USER_ADMINISTRATOR_NAME and
     *   syssetup.dll:IDS_ADMINISTRATOR_NAME synchronized.
     */
    IDS_USER_ADMINISTRATOR_NAME "Administrador"
    IDS_USER_ADMINISTRATOR_COMMENT "Built-in account used to administrate the computer or domain."
    IDS_USER_GUEST_NAME "Convidado"
    IDS_USER_GUEST_COMMENT "Built-in account for guest access to the computer or domain."
END
