LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE DISCARDABLE
BEGIN
  IDS_APPNAME   "ImageSoft"
  IDS_VERSION   "v0.1"
END

IDR_MAINMENU MENU
BEGIN
  POPUP "&Datei"
  BEGIN
    MENUITEM "&Neu...",             ID_NEW
    MENUITEM "&Öffnen...",            ID_OPEN
    MENUITEM SEPARATOR
    MENUITEM "&Schließen\tStrg+F4",     ID_CLOSE,   GRAYED
    MENUITEM "A&lle Schließen",          ID_CLOSEALL,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Speichern",               ID_SAVE,    GRAYED
    MENUITEM "Speichern &unter...",         ID_SAVEAS,  GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Druckansicht",      ID_PRINTPRE,GRAYED
    MENUITEM "&Drucken...",           ID_PRINT,   GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Eigenschaften...",      ID_PROP,    GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Beenden\tAlt+F4",       ID_EXIT
  END
  POPUP "&Bearbeiten"
  BEGIN
    MENUITEM "Rückgängig",               ID_UNDO,    GRAYED
    MENUITEM "&Wiederholen",               ID_REDO,    GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Ausschneiden",                ID_CUT,     GRAYED
    MENUITEM "&Kopieren",               ID_COPY,    GRAYED
    MENUITEM "&Einfügen",              ID_PASTE,   GRAYED
    MENUITEM "Als neues &Bild einfügen", ID_PASTENEWIMAGE, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "A&lles auswählen",         ID_SELALL,  GRAYED
  END
  POPUP "&Ansicht"
  BEGIN
    MENUITEM "&Werkzeuge",              ID_TOOLS
    MENUITEM "&Farben",             ID_COLOR
    MENUITEM "&Verlauf",            ID_HISTORY
    MENUITEM "&Statusleiste",         ID_STATUSBAR
  END
  POPUP "&Anpassen"
  BEGIN
    MENUITEM "Helligkeit...",       ID_BRIGHTNESS
    MENUITEM "Kontrast...",         ID_CONTRAST
    MENUITEM "Farbton/Sättigung...",   -1, GRAYED
    POPUP "Farbe"
    BEGIN
      MENUITEM "Schwarz und Weiß",   ID_BLACKANDWHITE
      MENUITEM "Farben invertieren",     ID_INVERTCOLORS
    END
    MENUITEM SEPARATOR
    MENUITEM "Unschärfe",                ID_BLUR
    MENUITEM "Schärfen",             ID_SHARPEN
    MENUITEM "Smooth Edges",        -1, GRAYED
    MENUITEM "Smooth Edges",          -1, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Smooth Edges",       -1, GRAYED
    MENUITEM "Smooth Edges",                -1, GRAYED
    MENUITEM "Smooth Edges",              -1, GRAYED
    MENUITEM "Smooth Edges",              -1, GRAYED

  END
  POPUP "&Farben"
  BEGIN
    MENUITEM "Farben &Bearbeiten...", ID_EDITCOLOURS
  END
  POPUP "&Fenster"
  BEGIN
    MENUITEM "Übe&rlappend",           ID_WINDOW_CASCADE
    MENUITEM "&Untereinander", ID_WINDOW_TILE_HORZ
    MENUITEM "&Nebeneinander",   ID_WINDOW_TILE_VERT
    MENUITEM "&Symbole anordnen",     ID_WINDOW_ARRANGE
    MENUITEM SEPARATOR
    MENUITEM "Nächs&tes\tStrg+F6",     ID_WINDOW_NEXT
  END
  POPUP "&Hilfe"
  BEGIN
    MENUITEM "&Info...",       ID_ABOUT
  END
END

IDR_POPUP MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM SEPARATOR
  END
END


IDD_BRIGHTNESS DIALOGEX 6, 5, 193, 120
CAPTION "Helligkeit"
FONT 8,"MS Shell Dlg", 0, 0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT      "", IDC_PICPREVIEW, 0, 1, 132, 96, SS_OWNERDRAW | SS_SUNKEN
  LTEXT      "Color form:", IDC_STATIC, 135, 5, 36, 9
  GROUPBOX   "", IDC_BRI_GROUP, 138 ,30, 50, 48
  CONTROL    "Voll (RGB)", IDC_BRI_FULL, "Button", BS_AUTORADIOBUTTON, 138, 18, 46, 9
  CONTROL    "Rot", IDC_BRI_RED, "Button", BS_AUTORADIOBUTTON, 142, 38, 42, 9
  CONTROL    "Grün", IDC_BRI_GREEN, "Button", BS_AUTORADIOBUTTON, 142, 51, 42, 9
  CONTROL    "Blau", IDC_BRI_BLUE, "Button", BS_AUTORADIOBUTTON, 142, 64, 42, 9
  EDITTEXT   IDC_BRI_EDIT, 98, 103, 28, 13
  CONTROL    "", IDC_BRI_TRACKBAR, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 2, 105, 90, 11
  PUSHBUTTON "OK", IDOK, 142, 88, 48, 13
  PUSHBUTTON "Abbrechen", IDCANCEL, 142, 105, 48, 13
END

IDD_ABOUTBOX DIALOGEX 22,16,210,182
CAPTION "Über ImageSoft"
FONT 8,"MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
//EXSTYLE WS_EX_LAYERED
BEGIN
  LTEXT      "ImageSoft v0.1\nCopyright (C) 2006\nThomas Weidenmueller (w3seek@reactos.org)\nGed Murphy (gedmurphy@gmail.com)", IDC_STATIC, 48, 7, 150, 36
  PUSHBUTTON "Schließen", IDOK, 75, 162, 44, 15
  ICON       IDI_IMAGESOFTICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT   IDC_LICENSE_EDIT, 8, 44, 194, 107, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END


IDD_IMAGE_PROP DIALOGEX 6, 5, 156, 163
CAPTION "Bildeigenschaften"
FONT 8,"MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT      "Name:", IDC_STATIC, 12, 5, 38, 9
  EDITTEXT   IDC_IMAGE_NAME_EDIT,  58, 3, 94, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  GROUPBOX   "Leinwand-Eigenschaften", IDC_STATIC, 4, 22, 148, 98
  LTEXT      "Bildtyp:", IDC_STATIC, 12, 36, 42, 9
  CONTROL    "", IDC_IMAGETYPE, "ComboBox", WS_CHILD | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 58, 35, 88, 54
  LTEXT      "Breite:", IDC_STATIC, 12, 51, 42, 9
  EDITTEXT   IDC_WIDTH_EDIT, 58, 49, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_WIDTH_STAT, 94, 51, 40, 9
  LTEXT      "Höhe:", IDC_STATIC, 12, 68, 42, 9
  EDITTEXT   IDC_HEIGHT_EDIT, 58, 66, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_HEIGHT_STAT, 94, 68, 40, 9
  LTEXT      "Auflösung:", IDC_STATIC, 12, 84, 42, 9
  EDITTEXT   IDC_RES_EDIT, 58, 83, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_RES_STAT, 94, 84, 40, 9
  LTEXT      "Maßeinheit:", IDC_STATIC, 12, 99, 42, 9
  CONTROL    "", IDC_UNIT, "ComboBox", WS_CHILD | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 58, 99, 54, 50
  LTEXT      "Bildgröße:", IDC_STATIC, 12, 125, 42, 9
  LTEXT      "", IDC_IMAGE_SIZE, 58, 125, 54, 9
  PUSHBUTTON "OK", IDOK, 50, 144, 48, 13
  PUSHBUTTON "Abbrechen", IDCANCEL, 102, 144, 48, 13
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_LICENSE           "Dieses Programm ist kostenlos; Sie können es frei verteilen mit od. ohne Änderungen unter der GNU Lesser General Public License wie es von der Free Software Foundation veröffentlicht wurde; entweder Version 2.1 der Lizenz, oder eine spätere Version (ihrer Wahl).\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA."
  IDS_READY             " Fertig."
  IDS_TOOLBAR_STANDARD  "Standard"
  IDS_TOOLBAR_TEST      "Test"
  IDS_IMAGE_NAME        "Bild %1!u!"
  IDS_FLT_TOOLS         "Werkzeuge"
  IDS_FLT_COLORS        "Farben"
  IDS_FLT_HISTORY       "Verlauf"
END

/* imageprop.c */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_IMAGE_MONOCHROME  "Monochrom (1 Bit)"
  IDS_IMAGE_GREYSCALE   "Graustufen (8 Bit)"
  IDS_IMAGE_PALETTE     "Palette oder 256 Farben (8 Bit)"
  IDS_IMAGE_TRUECOLOR   "True Color (24 Bit)"

  IDS_UNIT_PIXELS       "Pixel"
  IDS_UNIT_CM           "Cm"
  IDS_UNIT_INCHES       "Zoll"
  IDS_UNIT_DOTSCM       "Punkte / Cm"
  IDS_UNIT_DPI          "DPI"
  IDS_UNIT_KB           "%d KB"
  IDS_UNIT_MB           "%d MB"
END

/* Tooltips */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_TOOLTIP_NEW       "Neu"
  IDS_TOOLTIP_OPEN      "Öffnen"
  IDS_TOOLTIP_SAVE      "Speichern"
  IDS_TOOLTIP_PRINTPRE  "Druckansicht"
  IDS_TOOLTIP_PRINT     "&Drucken"
  IDS_TOOLTIP_CUT       "Ausschneiden"
  IDS_TOOLTIP_COPY      "Kopieren"
  IDS_TOOLTIP_PASTE     "Einfügen"
  IDS_TOOLTIP_UNDO      "Rückgängig"
  IDS_TOOLTIP_REDO      "Wiederholen"
END


/* Hints */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_HINT_BLANK        " "
  IDS_HINT_NEW          " Erstellt ein neues Dokument."
  IDS_HINT_OPEN         " Öffnet ein vorhandenes Dokument."
  IDS_HINT_CLOSE        " Schließt dieses Fenster."
  IDS_HINT_CLOSEALL     " Schließt alle Fenster."
  IDS_HINT_SAVE         " Speichert das aktive Dokument."
  IDS_HINT_SAVEAS       " Speichert das aktive Dokument unter einem neuen Namen."
  IDS_HINT_PRINTPRE     " Voransicht des gedruckten Dokumentes."
  IDS_HINT_PRINT        " Druckt das aktive Dokument."
  IDS_HINT_PROP         " Zeigt die Eigenschaften des aktiven Bildes."
  IDS_HINT_EXIT         " Beendet das Programm."

  IDS_HINT_TOOLS        " Shows or hides the tools floating window."
  IDS_HINT_COLORS       " Shows or hides the colors floating window."
  IDS_HINT_HISTORY      " Shows or hides the history floating window."
  IDS_HINT_STATUS       " Zeigt oder versteckt die Statusleiste."

  IDS_HINT_CASCADE      " Ordnet die Fenster so an, dass sie überlappen."
  IDS_HINT_TILE_HORZ    " Ordnet die Fenster so an, dass sie nicht-überlappen."
  IDS_HINT_TILE_VERT    " Ordnet die Fenster so an, dass sie nicht-überlappen."
  IDS_HINT_ARRANGE      " Ordnet Symbole am Fuß des Fensters an."
  IDS_HINT_NEXT         " Aktiviert das nächste Fenster."

  IDS_HINT_SYS_RESTORE  " Stellt die Normalgröße dieses Fensters wieder her."
  IDS_HINT_SYS_MOVE     " Verschiebt dieses Fenster."
  IDS_HINT_SYS_SIZE     " Ändert die Größe dieses Fensters."
  IDS_HINT_SYS_MINIMIZE " Minimiert dieses Fenster zu einem Symbol."
  IDS_HINT_SYS_MAXIMIZE " Maximiert dieses Fenster auf Bildschirmgröße."
END
