LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDR_MAINMENU MENU
BEGIN
    POPUP "&Arquivo"
    BEGIN
        MENUITEM "&Abrir...\tCtrl+O", IDM_OPEN_FILE
        MENUITEM "&Fechar\tCtrl+W", IDM_CLOSE_FILE
        MENUITEM SEPARATOR
        MENUITEM "&Sair", IDM_EXIT
    END
    POPUP "&Executar"
    BEGIN
        MENUITEM "Tocar/&Pausar\tCtrl+P", IDC_PLAY
        MENUITEM "St&op\tCtrl+S", IDC_STOP
        MENUITEM SEPARATOR
        MENUITEM "Repea&t\tCtrl+T", IDM_REPEAT
    END
    POPUP "&Exibir"
    BEGIN
        MENUITEM "Single-Window &Mode", IDM_SWITCHVIEW
    END
    POPUP "&Device"
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "&Propriedades", IDM_DEVPROPS
        MENUITEM SEPARATOR
        MENUITEM "&Controle de Volume", IDM_VOLUMECTL
    END
    POPUP "A&juda"
    BEGIN
        MENUITEM "&Sobre", IDM_ABOUT
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^O", IDM_OPEN_FILE
    "^W", IDM_CLOSE_FILE
    "^P", IDC_PLAY
    "^S", IDC_STOP
    "^T", IDM_REPEAT
END

STRINGTABLE
BEGIN
    IDS_MODE_UNKNOWN "Desconhecido"
    IDS_MODE_OPEN "Aberto"
    IDS_MODE_STOP "Parou"
    IDS_MODE_PLAY "Reproduzindo"
    IDS_MODE_PAUSE "Em pausa"
    IDS_MODE_RECORD "Gravando"
    IDS_MODE_SEEK "Buscando"
    IDS_MODE_NOT_READY "Não está pronto"
    IDS_ALL_TYPES_FILTER "Todos os formatos"
    IDS_TOOLTIP_PLAY "Executar"
    IDS_TOOLTIP_STOP "Pausar"
    IDS_TOOLTIP_EJECT "Ejetar"
    IDS_TOOLTIP_BACKWARD "Pular Anterior"
    IDS_TOOLTIP_SEEKBACK "Procurar Anterior"
    IDS_TOOLTIP_SEEKFORW "Procurar Próximo"
    IDS_TOOLTIP_FORWARD "Pular Próxima"
    IDS_TOOLTIP_PAUSE "Pausar"
    IDS_APPTITLE "ReactOS Multimedia Player"
    IDS_PLAY "Executar"
    IDS_DEFAULTMCIERRMSG "Nenhuma descrição está disponível para este erro."
END
