LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_USAGE "Terminates a session.\n\n\
  /v\t\tDisplays information about the actions performed.\n\
  /?\t\tShows this information.\n\n"
    IDS_LOGOFF_REMOTE "Mengakhiri sesi di mesin remot."
    IDS_LOGOFF_LOCAL "Menghentikan sesi saat ini pada mesin ini."
    IDS_ILLEGAL_PARAM "Parameter tidak valid(s)\n"
END
