LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DESCRIPTION "Starfield Bildschirmschoner"
    IDS_TITLE       "Über"
    IDS_TEXT        "Keinerlei Einstellungen notwendig."
END
