LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DESCRIPTION "Matrix (animație de inactivitate)"
    IDS_TITLE       "Despre…"
    IDS_TEXT        "Nu este necesară stabilirea de opțiuni."
END
