LANGUAGE LANG_HUNGARIAN, SUBLANG_HUNGARIAN_HUNGARY

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Preferences...", ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "&Kilépés", ID_EXIT
    END
END
