LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDR_POPUP MENU
BEGIN
    POPUP "muncul"
    BEGIN
        MENUITEM "&Preferensi...", ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "&Keluar", ID_EXIT
    END
END
