LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Preferences...", ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "종료(&X)", ID_EXIT
    END
END
