LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DESCRIPTION "Cylinders fractal"
    IDS_TITLE       "Informazioni Magnifier"
    IDS_TEXT        "Cylinders fractal by unC0Rr.\nSpecial for ReactOS."
END
