LANGUAGE LANG_HEBREW, SUBLANG_HEBREW_ISRAEL

IDD_CHARMAP DIALOGEX 6, 6, 292, 224
FONT 8, "MS Shell Dlg", 0, 0
STYLE DS_SHELLFONT | WS_CHILD | WS_VISIBLE
BEGIN
    LTEXT "גופן", IDC_STATIC, 6, 7, 24, 9
    COMBOBOX IDC_FONTCOMBO, 36, 5, 210, 210, WS_CHILD | WS_VISIBLE |
             WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT | CBS_HASSTRINGS
    PUSHBUTTON "עזרה", IDC_CMHELP, 249, 5, 35, 13
    CONTROL "", IDC_FONTMAP, "FontMapWnd", WS_CHILD | WS_VISIBLE | WS_TABSTOP |
            WS_VSCROLL, 20, 22, 266, 156
    LTEXT "תווים להעתקה:", IDC_STATIC, 6, 188, 66, 9
    CONTROL "", IDC_TEXTBOX, RICHEDIT_CLASS, ES_AUTOHSCROLL | WS_BORDER |
            WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 186, 114, 13
    DEFPUSHBUTTON "בחר", IDC_SELECT, 194, 186, 44, 13
    PUSHBUTTON "העתק", IDC_COPY, 242, 186, 44, 13, WS_DISABLED
    CONTROL "Ad&vanced view", IDC_CHECK_ADVANCED, "Button", BS_AUTOCHECKBOX |
            WS_TABSTOP, 8, 208, 95, 10
END

IDD_ADVANCED DIALOGEX 0, 0, 292, 64
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "ערכת תווים:", IDC_STATIC, 8, 8, 48, 8
    COMBOBOX IDC_COMBO_CHARSET, 72, 4, 116, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "קבץ לפי:", IDC_STATIC, 8, 28, 50, 8
    COMBOBOX IDC_COMBO_GROUPBY, 72, 24, 116, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "חפש", IDC_BUTTON_SEARCH, 200, 44, 50, 14
    EDITTEXT IDC_EDIT_SEARCH, 72, 44, 116, 14, ES_AUTOHSCROLL
    LTEXT "חפש את:", IDC_STATIC, 8, 48, 42, 8
    LTEXT "מעבר ל-Unicode:", IDC_STATIC, 200, 8, 30, 8
    EDITTEXT IDC_EDIT_UNICODE, 236, 4, 28, 12, ES_AUTOHSCROLL
END

IDD_ABOUTBOX DIALOGEX 22, 16, 210, 182
CAPTION "אודות מפת תווים"
FONT 8, "MS Shell Dlg", 0, 0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
    LTEXT "Character Map v0.1\nCopyright (C) 2007 Ged Murphy (gedmurphy@reactos.org)", IDC_STATIC, 48, 7, 150, 36
    PUSHBUTTON "סגור", IDOK, 75, 162, 44, 15
    ICON IDI_ICON, IDC_STATIC, 10, 10, 7, 30
    EDITTEXT IDC_LICENSE_EDIT, 8, 44, 194, 107, WS_VISIBLE | WS_VSCROLL |
             WS_TABSTOP | ES_READONLY | ES_MULTILINE
END

STRINGTABLE
BEGIN
    IDS_LICENSE "תוכנית זו היא תוכנה חופשית; אתה יכול להפיצו מחדש ו / או לשנות אותו תחת תנאי הרישיון הציבורי הכללי של גנו כפי שפורסם על ידי קרן התוכנה החופשית; או גירסה 2 של הרישיון, או (לפי בחירתך) כל גרסה מאוחרת יותר. \ r \ n \ r \ n תוכנית זו מופצת בתקווה שזה יהיה שימושי, אך ללא אחריות כלשהי; אפילו ללא אחריות מרומזת של סחירות או התאמה למטרה מסוימת. עיין ברישיון הציבורי הכללי של GNU לפרטים נוספים. \ R \ n \ r \ n היית אמור לקבל עותק של הרישיון הציבורי הכללי של GNU יחד עם תוכנית זו; אם לא, לכתוב את קרן תוכנה חופשית, Inc, 51 פרנקלין רחוב, קומה 5, בוסטון, MA 02110-1301 ארה""ב.
"
    IDS_ABOUT "&אודות..."
    IDS_TITLE "מפת תווים"
END
