LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE
BEGIN
    IDS_USAGE "ReactOS Timeout Utility\n\
\n\
TIMEOUT [/?] [/T] delay [/NOBREAK]\n\
\n\
Description:\n\
    This tool waits until a specified time period (in seconds) has elapsed,\n\
    or until any key is pressed. A parameter to ignore the key press is also\n\
    accepted.\n\
\n\
Parameters:\n\
    /?        Display this help screen.\n\
\n\
    /T delay  Specify the number of seconds to wait (-1 to 99999).\n\
              A value of -1 means the program will wait until a key is pressed.\n\
              Note that the """/T""" specification is optional, you can just\n\
              specify the delay value without it.\n\
\n\
    /NOBREAK  Ignore all keyboard input except for Ctrl+C.\n\
"
    IDS_ERROR_OUT_OF_RANGE "FEHLER: Der Timerwert muss im erlaubten Bereich sein (-1 bis 99999).\n"
    IDS_ERROR_INVALID_HANDLE_VALUE "ERROR: Unable to get the standard handle for the console (error %lu).\n"
    IDS_ERROR_READ_INPUT "FEHLER: Konnte Konsoleneingabe nicht lesen (Fehler %lu).\n"
    IDS_ERROR_NO_TIMER_VALUE "FEHLER: Der Timerwert muss angegeben sein (-1 bis 99999).\n"
    IDS_ERROR_ONE_TIME "FEHLER: Nur ein Timerwert ist erforderlich.\n"
    IDS_NOBREAK_INPUT "Drücken Sie Strg + C zum beenden..."
    IDS_USER_INPUT "Drücken Sie eine beliebige Taste..."
    IDS_NOBREAK_INPUT_COUNT "Warten für %d Sekunde(n), drücken Sie Strg + C zum beenden..."
    IDS_USER_INPUT_COUNT "Warten für %d Sekunde(n), drücken Sie eine beliebige Taste um fortzufahren..."
END
