LANGUAGE LANG_SPANISH, SUBLANG_SPANISH

101 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Dialing Rules"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 201, 2000, 7, 7, 21, 20
    LTEXT "La lista siguiente muestra las ubicaciones que ha especificado. Seleccione la ubicación desde la que usted está marcando.", -1, 35, 7, 210, 16
    LTEXT "&Ubicaciones:", -1, 7, 35, 210, 8
    CONTROL "", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000011D, 7, 46, 238, 105, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Nueva...", 1030, 87, 155, 50, 14
    PUSHBUTTON "Editar...", 1031, 141, 155, 50, 14
    PUSHBUTTON "&Borrar", 1032, 195, 155, 50, 14
    LTEXT "El número de teléfono será marcado como:", 1052, 7, 181, 100, 8
    LTEXT "", 1053, 14, 195, 224, 16
END

102 DIALOGEX 0, 0, 252, 255
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "General"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 202, 2000, 7, 7, 20, 20
    LTEXT "Ubicacion &nombre:", -1, 35, 11, 56, 8, SS_CENTERIMAGE
    EDITTEXT 1038, 96, 8, 149, 14, ES_AUTOHSCROLL
    LTEXT "Especifique la ubicación desde la que esta marcando.", 2001, 7, 33, 238, 8
    LTEXT "País/&región:", -1, 7, 49, 161, 8
    COMBOBOX 1006, 7, 60, 175, 200, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    LTEXT "Area &codigo:", -1, 190, 49, 48, 8
    EDITTEXT 1034, 190, 60, 48, 12, ES_AUTOHSCROLL
    GROUPBOX "Reglas de marcado", 2002, 7, 80, 238, 92
    LTEXT "Al marcar desde esta ubicación, utilice las siguientes reglas:", 2003, 14, 92, 224, 8
    LTEXT "Para acceder a una línea externa para &llamadas locales, marque:", -1, 14, 106, 170, 8
    EDITTEXT 1010, 190, 104, 48, 12, ES_AUTOHSCROLL
    LTEXT "Para acceder a una línea externa para &llamadas de larga distancia, marque:", -1, 14, 122, 170, 8
    EDITTEXT 1011, 190, 120, 48, 12, ES_AUTOHSCROLL
    LTEXT "Usa este codigo portad&or para hacer llamadas de larga distancia:", -1, 14, 138, 170, 8
    EDITTEXT 1059, 190, 136, 48, 12, ES_AUTOHSCROLL
    LTEXT "Usa este código portador para hacer &llamadas internacionales:", -1, 14, 154, 170, 8
    EDITTEXT 1060, 190, 152, 48, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX "Para desactivar espera de &llamada, marque:", 1035, 14, 177, 170, 10
    COMBOBOX 1013, 190, 176, 48, 73, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL
    LTEXT "Marcar utilizando:", -1, 14, 195, 40, 8
    AUTORADIOBUTTON "&Tono", 1036, 58, 194, 50, 10, NOT WS_TABSTOP
    AUTORADIOBUTTON "&Pulso", 1037, 112, 194, 50, 10, NOT WS_TABSTOP
    LTEXT "El número de teléfono será marcado como:", 1052, 7, 219, 100, 8
    LTEXT "", 1053, 14, 232, 224, 16
END

103 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Area Code Rules"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Una regla del código de área determina qué números de teléfono son marcados desde tu código de área actual hacia otro código de área y entre tu código de area.", 2000, 7, 7, 238, 16
    LTEXT "Reglas del &codigo de area:", -1, 7, 31, 238, 8
    CONTROL "", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000801D, 7, 42, 238, 99, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Nueva...", 1030, 87, 147, 50, 14
    PUSHBUTTON "Editar...", 1031, 141, 147, 50, 14
    PUSHBUTTON "&Borrar", 1032, 195, 147, 50, 14
    GROUPBOX "Descripción", 2006, 7, 166, 238, 45
    LTEXT "", 1039, 14, 180, 224, 24
END

104 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Calling Card"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Seleccione la tarjeta de llamada que usara, o haga clic en Nueva para añadir una tarjeta diferente.", 2000, 7, 7, 238, 8
    LTEXT "Tarjeta & Tipos:", -1, 7, 23, 238, 8
    CONTROL "", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000400D, 7, 34, 238, 63, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Nueva...", 1030, 87, 103, 50, 14
    PUSHBUTTON "Editar...", 1031, 141, 103, 50, 14
    PUSHBUTTON "&Borrar", 1032, 195, 103, 50, 14
    LTEXT "N&umero de cuenta:", -1, 7, 127, 91, 8
    EDITTEXT 1018, 102, 125, 143, 12, ES_AUTOHSCROLL
    LTEXT "&Número de identificación personal (PIN):", -1, 7, 145, 91, 8
    EDITTEXT 1019, 102, 143, 143, 12, ES_AUTOHSCROLL
    GROUPBOX "Números de teléfono de acceso para", 2001, 7, 158, 238, 53
    LTEXT "Llamadas de larga distancia:", -1, 14, 172, 84, 8
    LTEXT "", 1042, 102, 172, 136, 8
    LTEXT "Llamadas internacionales:", -1, 14, 184, 84, 8
    LTEXT "", 1043, 102, 184, 136, 8
    LTEXT "Llamadas locales:", -1, 14, 196, 84, 8
    LTEXT "", 1051, 102, 196, 136, 8
END

105 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "General"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 203, 2000, 7, 7, 20, 20
    LTEXT "&Nombre de la tarjeta llamante:", -1, 35, 12, 64, 8, SS_CENTERIMAGE
    EDITTEXT 1047, 105, 9, 140, 14, ES_AUTOHSCROLL
    LTEXT "Cuenta &numero:", -1, 7, 35, 238, 8
    EDITTEXT 1018, 7, 46, 116, 14, ES_AUTOHSCROLL
    LTEXT "&Numero de Identificacion Personal (PIN):", -1, 7, 68, 238, 8
    EDITTEXT 1019, 7, 80, 116, 14, ES_AUTOHSCROLL
    LTEXT "Esta tarjeta de llamada sera usada cuando:", 1056, 14, 117, 224, 8
    GROUPBOX "Detalles de la tarjeta de llamada", 2001, 7, 105, 238, 66
    LTEXT "", 1000, 22, 131, 216, 8
    LTEXT "", 1001, 22, 143, 216, 8
    LTEXT "", 1002, 22, 155, 216, 8
END

106 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Long Distance"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Número de acceso para &llamadas de larga distancia:", -1, 7, 7, 238, 8
    EDITTEXT 1044, 7, 18, 140, 14, ES_AUTOHSCROLL
    LTEXT "Utilice los botones de abajo para entrar en los pasos de marcación para hacer llamadas de larga distancia.  Escriba estos pasos en el orden exacto como aparecen en su tarjeta de llamadas.", 2000, 7, 40, 238, 24
    LTEXT "Pasos de marcado de la ta&rjeta de llamada:", -1, 7, 72, 80, 8
    CONTROL "List1", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000400D, 7, 83, 184, 74, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Subir", 1022, 195, 83, 50, 14
    PUSHBUTTON "&Mover hacia abajo", 1023, 195, 101, 50, 14
    PUSHBUTTON "&Borrar", 1024, 195, 119, 50, 14
    PUSHBUTTON "Acceso &Numero", 1025, 7, 161, 90, 14
    PUSHBUTTON "N&umero de Cuenta", 1018, 101, 161, 90, 14
    PUSHBUTTON "&PIN", 1019, 7, 179, 90, 14
    PUSHBUTTON "Numero de D&estino...", 1020, 101, 179, 90, 14
    PUSHBUTTON "&Espera por la Impresion...", 1017, 7, 197, 90, 14
    PUSHBUTTON "&Especificar dígitos...", 1021, 101, 197, 90, 14
END

107 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "International"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Número de acceso para &llamadas de larga distancia:", -1, 7, 7, 238, 8
    EDITTEXT 1045, 7, 18, 140, 14, ES_AUTOHSCROLL
    LTEXT "Utilice los botones de abajo para entrar en los pasos de marcación para hacer llamadas de larga distancia.  Escriba estos pasos en el orden exacto como aparecen en su tarjeta de llamadas.", 2000, 7, 40, 244, 24
    LTEXT "Pasos de marcado de la ta&rjeta de llamada:", -1, 7, 72, 80, 8
    CONTROL "List1", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000400D, 7, 83, 184, 74, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Subir", 1022, 195, 83, 50, 14
    PUSHBUTTON "&Mover hacia abajo", 1023, 195, 101, 50, 14
    PUSHBUTTON "&Borrar", 1024, 195, 119, 50, 14
    PUSHBUTTON "Acceso &Numero", 1025, 7, 161, 90, 14
    PUSHBUTTON "N&umero de Cuenta", 1018, 101, 161, 90, 14
    PUSHBUTTON "&PIN", 1019, 7, 179, 90, 14
    PUSHBUTTON "Numero de D&estino...", 1020, 101, 179, 90, 14
    PUSHBUTTON "&Espera por la Impresion...", 1017, 7, 197, 90, 14
    PUSHBUTTON "&Especificar dígitos...", 1021, 101, 197, 90, 14
END

108 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Local Calls"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Access number for &local calls:", -1, 7, 7, 238, 8
    EDITTEXT 1008, 7, 18, 140, 14, ES_AUTOHSCROLL
    LTEXT "Use the buttons below to enter the dialing steps for making local calls. Enter these steps in the exact order as they appear on your calling card. To make local calls without using your calling card, leave this section blank.", 2000, 7, 40, 238, 24
    LTEXT "Pasos de marcado de la ta&rjeta de llamada:", -1, 7, 72, 238, 8
    CONTROL "List1", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000400D, 7, 83, 184, 74, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Subir", 1022, 195, 83, 50, 14
    PUSHBUTTON "&Mover hacia abajo", 1023, 195, 101, 50, 14
    PUSHBUTTON "&Borrar", 1024, 195, 119, 50, 14
    PUSHBUTTON "Acceso &Numero", 1025, 7, 161, 90, 14
    PUSHBUTTON "N&umero de Cuenta", 1018, 101, 161, 90, 14
    PUSHBUTTON "&PIN", 1019, 7, 179, 90, 14
    PUSHBUTTON "Numero de D&estino...", 1020, 101, 179, 90, 14
    PUSHBUTTON "&Espera por la Impresion...", 1017, 7, 197, 90, 14
    PUSHBUTTON "&Especificar dígitos...", 1021, 101, 197, 90, 14
END

109 DIALOGEX 0, 0, 252, 257
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "New Area Code Rule"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "This area code rule will only apply to calls made to the area code and prefix combination you specify below.", 2000, 7, 6, 238, 16
    LTEXT "Area code you are calling:", -1, 7, 31, 110, 8
    LTEXT "A&rea code:", -1, 7, 47, 36, 8
    EDITTEXT 1034, 46, 44, 50, 14, ES_AUTOHSCROLL
    LTEXT "Specify the prefixes to be used for this area code rule.", -1, 14, 78, 224, 8
    AUTORADIOBUTTON "&Include all the prefixes within this area code", 1014, 14, 90, 224, 12, NOT WS_TABSTOP
    AUTORADIOBUTTON "Include &only the prefixes in the list below:", 1015, 14, 104, 224, 12, NOT WS_TABSTOP
    LTEXT "&Prefixes to include:", 1057, 26, 117, 119, 8
    CONTROL "List1", 1033, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000411D, 25, 128, 66, 32, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Añadir...", 1005, 95, 128, 50, 14
    PUSHBUTTON "D&elete", 1024, 95, 146, 50, 14
    LTEXT "When dialing phone numbers that contain the prefixes above:", -1, 14, 184, 224, 8
    AUTOCHECKBOX "&Dial:", 1012, 14, 198, 30, 12
    EDITTEXT 1007, 46, 196, 42, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "Include the area &code", 1029, 14, 214, 85, 12
    DEFPUSHBUTTON "Aceptar", 1, 141, 236, 50, 14
    PUSHBUTTON "Cancelar", 2, 195, 236, 50, 14
    RTEXT "Area code", 2001, 133, 31, 51, 8
    LTEXT "Prefix", 2002, 200, 31, 45, 8
    CONTROL "", 2003, "STATIC", SS_BLACKFRAME | SS_SUNKEN, 180, 41, 1, 6
    CONTROL "", 2004, "STATIC", SS_BLACKFRAME | SS_SUNKEN, 203, 41, 1, 6
    RTEXT "X - X X X - X X X - X X X X", 2005, 133, 48, 112, 8
    GROUPBOX "Prefijos", -1, 7, 64, 238, 102
    GROUPBOX "Rules", -1, 7, 170, 238, 60
END

110 DIALOGEX 0, 0, 227, 82
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", 1003, 7, 7, 213, 8
    LTEXT "", 1039, 7, 23, 213, 8
    EDITTEXT 1031, 7, 34, 213, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Aceptar", 1, 116, 62, 50, 14
    PUSHBUTTON "Cancelar", 2, 170, 62, 50, 14
END

111 DIALOGEX 0, 0, 252, 124
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Wait for"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Select the type of prompt to wait for before continuing with the dialing sequence.", 2000, 7, 7, 238, 16
    AUTORADIOBUTTON "Wait for a &dial tone", 1009, 7, 31, 238, 10, WS_GROUP
    AUTORADIOBUTTON "Wait for a &voice message to complete", 1016, 7, 47, 238, 10, NOT WS_TABSTOP
    AUTORADIOBUTTON "Wait for a specific length of &time:", 1048, 7, 63, 238, 10, NOT WS_TABSTOP
    EDITTEXT 1050, 18, 77, 36, 14, ES_AUTOHSCROLL | WS_GROUP
    CONTROL "Spin1", 1049, "msctls_updown32", 0x00000036, 42, 78, 11, 14
    LTEXT "&seconds", -1, 58, 81, 187, 8
    DEFPUSHBUTTON "Aceptar", 1, 141, 103, 50, 14
    PUSHBUTTON "Cancelar", 2, 195, 103, 50, 14
END

112 DIALOGEX 0, 0, 252, 111
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Destination number"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "This step will place the destination number that you will be dialing into the calling card sequence.  When dialing the destination number, which parts of the number do you want to dial?", 2000, 7, 7, 238, 24
    AUTOCHECKBOX "Dial the &country/region code", 1027, 7, 39, 238, 10
    AUTOCHECKBOX "Dial the &area code", 1034, 7, 55, 238, 10
    AUTOCHECKBOX "Dial the &number", 1008, 7, 71, 238, 10, WS_DISABLED
    DEFPUSHBUTTON "Aceptar", 1, 141, 92, 50, 14
    PUSHBUTTON "Cancelar", 2, 195, 92, 50, 14
END

113 DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones avanzadas"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 201, 2000, 7, 7, 20, 20
    LTEXT "The following telephony providers are installed on this computer:", -1, 40, 7, 205, 8
    LTEXT "&Providers:", -1, 7, 35, 238, 8
    LISTBOX 1033, 7, 46, 238, 147, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
    PUSHBUTTON "Ag&regar...", 1005, 87, 197, 50, 14
    PUSHBUTTON "&Eliminar", 1024, 141, 197, 50, 14
    PUSHBUTTON "&Configure...", 1031, 195, 197, 50, 14
END

114 DIALOGEX 20, 15, 252, 127
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Add Provider"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Select the provider you wish to install from the list below, and click Add.", 2000, 7, 7, 241, 8
    LTEXT "&Telephony providers:", -1, 7, 23, 144, 10
    LISTBOX 1055, 7, 34, 238, 74, LBS_STANDARD | WS_TABSTOP
    PUSHBUTTON "&Añadir", 1005, 141, 106, 50, 14
    DEFPUSHBUTTON "Cancelar", 2, 195, 106, 50, 14
END

115 DIALOGEX 10, 10, 303, 228
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Información de la Ubicacion"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL 302, 302, "STATIC", SS_BITMAP, 10, 10, 88, 155
    LTEXT "Before you can make any phone or modem connections, ReactOS needs the following information about your current location.", 2000, 107, 15, 188, 25
    LTEXT "&What country/region are you in now?", -1, 107, 43, 189, 10
    COMBOBOX 1006, 107, 55, 180, 200, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    LTEXT "What area &code (or city code) are you in now?", -1, 107, 74, 189, 10
    EDITTEXT 1034, 107, 87, 45, 12, ES_AUTOHSCROLL
    LTEXT "If you need to specify a ca&rrier code, what is it?", -1, 107, 105, 189, 10
    EDITTEXT 1058, 106, 118, 45, 12, ES_UPPERCASE | ES_AUTOHSCROLL
    LTEXT "If you dial a number to access an &outside line, what is it?", -1, 107, 137, 189, 10
    EDITTEXT 1010, 107, 149, 45, 12, ES_UPPERCASE | ES_AUTOHSCROLL
    LTEXT "The phone system at this location uses:", -1, 107, 168, 189, 10
    AUTORADIOBUTTON "&Tone dialing", 1036, 107, 178, 57, 14, WS_GROUP | NOT WS_TABSTOP
    AUTORADIOBUTTON "&Pulse dialing", 1037, 175, 178, 57, 14, NOT WS_TABSTOP
    DEFPUSHBUTTON "Aceptar", 1, 192, 204, 50, 14
    PUSHBUTTON "Cancelar", 2, 246, 204, 50, 14
END

400 DIALOGEX 0, 0, 290, 151
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL 302, 302, "STATIC", SS_BITMAP, 0, 0, 88, 155
    LTEXT "Before you can make any phone or modem connections, ReactOS needs the following information about your current location.", 2000, 95, 2, 188, 25
    LTEXT "&What country/region are you in now?", -1, 95, 30, 188, 10
    COMBOBOX 1006, 95, 41, 177, 68, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    LTEXT "What area &code (or city code) are you in now?", -1, 95, 61, 188, 10
    EDITTEXT 1034, 95, 73, 40, 14, ES_AUTOHSCROLL
    LTEXT "If you dial a number to access an &outside line, what is it?", -1, 95, 96, 188, 10
    EDITTEXT 1010, 95, 107, 40, 14, ES_UPPERCASE | ES_AUTOHSCROLL
    LTEXT "The phone system at this location uses:", -1, 95, 129, 159, 10
    AUTORADIOBUTTON "&Tone dialing", 1036, 95, 139, 55, 12, WS_GROUP | NOT WS_TABSTOP
    AUTORADIOBUTTON "&Pulse dialing", 1037, 155, 139, 55, 12, NOT WS_TABSTOP
END

500 DIALOGEX 0, 0, 235, 88
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Explorador de ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON 504, 501, 13, 14, 21, 20
    LTEXT "", 502, 47, 15, 180, 32
    AUTOCHECKBOX "&In the future, always trust this page", 503, 50, 47, 147, 12
    DEFPUSHBUTTON "&Aceptar", 505, 110, 65, 50, 14
    PUSHBUTTON "&Cancelar", 506, 164, 65, 50, 14
END

STRINGTABLE
BEGIN
    1 "Teléfono y módem"
    2 "GRUPO_TRABAJO"
    3 "Ubicación"
    4 "Cambios en el nombre del equipo"
    5 "Grupo de trabajo:"
    6 "Dominio:"
    7 "Nueva tarjeta de llamada"
    8 "Editar Tarjeta de Llamada"
    9 "Código de área"
    10 "Prefijos"
    11 "Regla"
    12 "El carácter que introdujo es invalido \n\ncaracteres validos son del 0 al 9, *, # y coma."
    13 "El carácter que introdujo es invalido \n\nCaracteres validos son del 0 al 9, *, #, espacio y coma."
    14 "El carácter que introdujo es invalido \n\ncaracteres validos son del 0 al 9."
    15 "El caracter que introdujo es invalido."
    16 "Marcar %1"
    17 "Marcar %1 mas el código de área"
    18 "Marcar código de area"
    19 "Marcar solo el numero"
    20 "GENERIC_ALL"
    21 "Seleccionado"
    22 "Bienvenido al grupo de trabajo %1."
    23 "Bienvenido al dominio %1."
    24 "Debe reiniciar el equipo para que los cambios tengan efecto."
    25 "Puede cambiar el nombre y la pertenencia de este grupo. Los cambios pueden afectar el acceso a los recursos de red."
    26 "Marcar el código de área antes que el numero para todas las llamadas en el código de área %1."
    27 "Marcar solo el numero para todas las llamadas en el codigo de area %1."
    28 "Marcar '%2' y el código de área antes del número para las llamadas en el código de zona %1, que contengalos prefijos que especificó."
    29 "Marcar '%2' antes del numero para llamadas en el codigo de area %1, que contengan los prefijos que especificó."
    30 "Marcar el código de área antes del número para las llamadas en el código de zona %1, que contengan los prefijos que especificó."
    31 "Marcar solo los números para llamadas en el código de área %1, que contengan los prefijos que usted especificó."
    32 "Marque un '1' antes de llamar dentro de todos los otros códigos de área, e incluir el código de área para todos los prefijos."
    33 "Añadir prefijo"
    34 "Introduzca uno o más prefijos separados por espacios o comas."
    35 "Especificar dígitos"
    36 "Introduzca uno o más dígitos (incluyendo * y #) para ser marcado."
    37 "Intentaste ingresar un caracter invalido.\n\nCaracteres validos son de 0 a 9 y el espacio."
    38 "Espera por %1!d! segundos."
    39 "Marque el número de acceso."
    40 "Marque el número de cuenta."
    41 "Marque el número de PIN."
    42 "Esperar un tono de marcación."
    43 "Esperar un mensaje de voz al final."
    44 "Marcar el código de país/región, código de área y número."
    45 "Marcar el código de país/región y numero."
    46 "Marcar el código de area y numero."
    47 "Marcar el código de país/región."
    48 "Marque el código de area."
    49 "Marque el número."
    50 "marcación de llamadas de larga distancia."
    51 "marcacion de llamadas internacionales."
    52 "marcacion de llamadas locales."
    53 "No existen reglas definidas de cómo debe usarse esta tarjeta de llamadas."
    54 "Debe introducir el código de proveedor de larga distancia para esta ubicación."
    55 "Debes introducir un nombre para esta ubicación."
    56 "Debes introducirel codigo de area para esta ubicación."
    57 "Debes seleccionar el numero a marcar para desactivar la espera de llamada."
    58 "Debe seleccionar el país o región desde el que usted está llamando."
    59 "Falta información"
    60 "El nombre de la ubicación que has introducido no está disponible, por favor, elige uno nuevo."
    61 "Falta información requerida para esta tarjeta de llamada. Para usar esta tarjeta, haz clic en Editar para proveer mas información, o elige una tarjeta diferente."
    62 "Debe seleccionar una tarjeta de llamada por defecto. Seleccione una tarjeta de la lista, o haga clic en Nuevo para crear una nueva tarjeta."
    63 "Debe introducir el nombre de la tarjeta de llamadas."
    64 "Debe introducir el número de cuenta."
    65 "Debe introducir el número PIN."
    66 "No hay reglas definidas para esta tarjeta. Para crear una regla, seleccione la ficha de larga distancia, internacional o de llamadas locales."
    67 "Tu regla de larga distancia requiere el numero de acceso a llamadas de larga distancia de tu tarjeta."
    68 "Tu regla internacional requiere tel numero de acceso de tu tarjeta internacional."
    69 "Tu regla local requiere el numero de acceso local de tu tarjeta."
    70 "Ninguno"
    71 "¿Estás seguro de que deseas eliminar a los Proveedores de Servicio Telefonico seleccionados?"
    72 "<ningún proveedor de servicio está instalado>"
    73 "Debe introducir los prefijos para que esta regla se aplica."
    74 "%Digitos:"
    75 "&Prefijos:"
    76 "Intentaste ingresar un caracter invalido.\n\nCaracteres validos son de 0 a 9, y el espacio."
    77 "Confirmar la eliminación"
    78 "¿Está seguro de que desea borrar esta ubicacion?"
    79 "¿Está seguro de que desea borrar esta tarjeta de llamadas?"
    80 "¿Está seguro que desea eliminar esta regla de codigo de area?"
    81 "Debe introducir los dígitos para marcar."
    82 "El nombre de tarjeta de llamadas que ha entrado ya está en uso.  Por favor, introduzca un nombre único."
    83 "ReactOS needs telephone information about the location from which you will be dialing. If you cancel without providing this information, this program may not function correctly when dialing. In addition, some applications respond to your canceling this dialog box by immediately re-posting it.\nAre you sure you want to cancel?"
    84 "Confirmar la cancelación"
    85 "Mi ubicación"
    86 "<no hay proveedores de servicios disponibles para la instalación>"
    87 "El carácter que introdujo es invalido \n\nCaracteres validos son del 0 al 9, A hasta D, *,#, +, ."
    88 "Debes introducir el código de proveedor internacional para esta ubicación."
    89 "You must enter the carrier code for this location."
    90 "This page is attempting to make or monitor telephone calls or other multimedia connections on your computer.\nDo you want allow it to continue?"
    91 "This page is attempting to access directory information on your network.\nDo you want to allow it to continue?"
    92 "This page is attempting to access or change network conferencing information.\nDo you want to allow it to continue?"
    93 "This page is attempting to access or change registry information.\nDo you want to allow it to continue?"
    1064 "Phone And Modem control panel can not be opened. You may have a problem starting telephony service."
    1065 "Remove Provider"
    15800 "23"
    15801 "0,""None (Direct Dial)"","""","""","""","""","""","""","""","""",1"
    15802 "1,""AT&T Direct Dial via 1010ATT1"","""",""G"",""J1FG"",""J011EFG"","""","""",""1010288"",""1010288"",1"
    15803 "2,""AT&T via 1010ATT0"","""",""G"",""J0FG$TH"",""J01EFG$TH"","""","""",""1010288"",""1010288"",1"
    15804 "3,""AT&T via 1-800-321-0288"","""",""G"",""J$TFG$TH"",""J$T01EFG$TH"","""","""",""18003210288"",""18003210288"",1"
    15805 "4,""MCI Direct Dial via 10102221"","""",""G"",""J1FG"",""J011EFG"","""","""",""1010222"",""1010222"",1"
    15806 "5,""MCI via 10102220"","""",""G"",""J0FG$TH"",""J01EFG$TH"","""","""",""1010222"",""1010222"",1"
    15807 "6,""MCI via 1-800-888-8000"","""",""G"",""J,,,,,,TH,,FG"",""J,,,,,,TH,,011EFG"","""","""",""18008888000"",""18008888000"",1"
    15808 "7,""MCI via 1-800-674-0700"","""",""G"",""J,,,,,,TH,,FG"",""J,,,,,,TH,,011EFG"","""","""",""18006740700"",""18006740700"",1"
    15809 "8,""MCI via 1-800-674-7000"","""",""G"",""J,,,,,,TH,,FG"",""J,,,,,,TH,,011EFG"","""","""",""18006747000"",""18006747000"",1"
    15810 "9,""US Sprint Direct Dial via 10103331"","""",""G"",""J1FG"",""J011EFG"","""","""",""1010333"",""1010333"",1"
    15811 "10,""US Sprint via 10103330"","""",""G"",""J0FG$TH"",""J01EFG$TH"","""","""",""1010333"",""1010333"",1"
    15812 "11,""US Sprint via 1-800-877-8000"","""",""G"",""J,,,T0FG,,H"",""J,,,T01EFG#,H"","""","""",""18008778000"",""18008778000"",1"
    15813 "12,""Calling Card via 0"","""",""G"",""0FG$TH"",""01EFG$TH"","""","""","""","""",1"
    15814 "13,""Carte France Telecom"","""",""T3010,H,0FG#"",""T3010,H,0FG#"",""T3010,H,00EFG#"","""","""","""","""",1"
    15815 "14,""Mercury (UK)"","""",""J$TH,0FG"",""J$TH,0FG"",""J$TH,0FG"","""",""0500800800"",""0500800800"",""0500800800"",1"
    15816 "15,""British Telecom (UK)"","""",""J$H,0FG"",""J$H,0FG"",""J$H,00EFG"","""",""144"",""144"".""144"",1"
    15817 "16,""CLEAR Communications (New Zealand)"","""",""J$TH,0FG"",""J$TH,0FG"",""J$TH,00EFG"","""",""0502333"",""0502333"",""0502333"",1"
    15818 "17,""Telecom Nueva Zealanda"","""",""J,0FG?H"",""J,0FG?H"",""J,00EFG?H"","""",""012"",""012"",""012"",1"
    15819 "18,""Tarjeta Global (Taiwan to USA)"","""",""G"",""0FG"",""J,102880$TFG$H"","""","""","""",""0080"",1"
    15820 "19,""Telstra (Australia) via 1818 (voice)"","""",""J$TH,FG#"",""J$TH,FG#"",""J$TH,0011EFG#"","""",""1818"",""1818"",""1818"",1"
    15821 "20,""Telstra (Australia) via 1818 (fax)"","""",""J$TH,FG#"",""J$TH,FG#"",""J$TH,0015EFG#"","""",""1818"",""1818"",""1818"",1"
    15822 "21,""Salidas (Australia) via 1812"","""",""FG"",""FG"",""J@TH,0011EFG"","""","""","""",""1812"",1"
    15823 "22,""Salidas (Australia) via 008551812"","""",""FG"",""FG"",""J@TH,0011EFG"","""","""","""",""008551812"",1"
END
