LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE
BEGIN
    IDS_HELP "Ändert Datei-ACLs (Access Control List) oder zeigt sie an.\n\n\
CACLS Dateiname [/T] [/E] [/C] [/G Benutzer:Zugriff] [/R Benutzer [...]]\n\
                [/P Benutzer:Zugriff [...]] [/D Benutzer [...]]\n\
  Dateiname            ACLs für angegebene Datei anzeigen.\n\
  /T                   ACLs der angegebenen Datei im aktuellen Verzeichnis\n\
                       und allen Unterverzeichnissen ändern.\n\
  /E                   ACL bearbeiten anstatt sie zu ersetzen.\n\
  /C                   Ändern der ACLs bei Zugriffsverletzung fortsetzen.\n\
  /G Benutzer:Zugriff  Angegebene Zugriffsarten zulassen.\n\
                       Zugriff kann sein: R  Lesen\n\
                                          W  Schreiben\n\
                                          C  Ändern (Schreiben)\n\
                                          F  Vollzugriff\n\
  /R Benutzer          Zugriffsrechte des Benutzers aufheben (gültig mit /E).\n\
  /P Benutzer:Zugriff  Zugriffsrechte des Benutzers ersetzen.\n\
                       Zugriff kann sein: N  Kein\n\
                                          R  Lesen\n\
                                          W  Schreiben\n\
                                          C  Ändern (Schreiben)\n\
                                          F  Vollzugriff\n\
   /D Benutzer         Zugriff für Benutzer verweigern.\n\
Platzhalterzeichen (Wildcards) werden für Dateiname unterstützt.\n\
Mehrere Benutzer können in einem Befehl angegeben werden.\n\n\
Abkürzungen:\n\
   CI - Containervererbung.\n\
        Der ACE-Eintrag wird von Verzeichnissen geerbt.\n\
   OI - Objektvererbung.\n\
        Der ACE-Eintrag wird von Dateien geerbt.\n\
   IO - Nur vererben.\n\
        Der ACE-Eintrag bezieht sich nicht auf\n\
        die aktuelle Datei/das aktuelle Verzeichnis.\n"
    IDS_ABBR_CI "(CI)"
    IDS_ABBR_OI "(OI)"
    IDS_ABBR_IO "(IO)"
    IDS_ABBR_FULL "F"
    IDS_ABBR_READ "L"
    IDS_ABBR_WRITE "S"
    IDS_ABBR_CHANGE "Ä"
    IDS_ABBR_NONE "K"
    IDS_ALLOW ""
    IDS_DENY "(VERWEIGERN)"
    IDS_SPECIAL_ACCESS "(Spezieller Zugriff:)"
    IDS_GENERIC_READ "NORMAL_LESEN"
    IDS_GENERIC_WRITE "NORMAL_SCHREIBEN"
    IDS_GENERIC_EXECUTE "NORMAL_AUSFÜHREN"
    IDS_GENERIC_ALL "NORMAL_ALLE"
    IDS_FILE_GENERIC_EXECUTE "DATEI_NORMAL_AUSFÜHREN"
    IDS_FILE_GENERIC_READ "DATEI_NORMAL_LESEN"
    IDS_FILE_GENERIC_WRITE "DATEI_NORMAL_SCHREIBEN"
    IDS_FILE_READ_DATA "DATEI_DATEN_LESEN"
    IDS_FILE_WRITE_DATA "DATEI_DATEN_SCHREIBEN"
    IDS_FILE_APPEND_DATA "DATEI_DATEN_ANHÄNGEN"
    IDS_FILE_READ_EA "FILE_READ_EA"
    IDS_FILE_WRITE_EA "FILE_WRITE_EA"
    IDS_FILE_EXECUTE "DATEI_AUSFÜHREN"
    IDS_FILE_DELETE_CHILD "DATEI_UNTERELEMENT_LÖSCHEN"
    IDS_FILE_READ_ATTRIBUTES "DATEI_ATTRIBUTE_LESEN"
    IDS_FILE_WRITE_ATTRIBUTES "DATEI_ATTRIBUTE_SCHREIBEN"
    IDS_MAXIMUM_ALLOWED "MAXIMAL_ERLAUBTE"
    IDS_ACCESS_SYSTEM_SECURITY "ACCESS_SYSTEM_SECURITY"
    IDS_SPECIFIC_RIGHTS_ALL "SPEZIELLE_RECHTE_ALLE"
    IDS_STANDARD_RIGHTS_REQUIRED "STANDARD_RECHTE_BENÖTIGT"
    IDS_SYNCHRONIZE "SYNCHRONISIEREN"
    IDS_WRITE_OWNER "SCHREIBEN_BESITZER"
    IDS_WRITE_DAC "WRITE_DAC"
    IDS_READ_CONTROL "READ_CONTROL"
    IDS_DELETE "LÖSCHEN"
    IDS_STANDARD_RIGHTS_ALL "STANDARD_RECHTE_ALLE"
END
