LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_HELP "Menampilkan atau memodifikasi daftar kontrol akses (ACL) file\n\n\
CACLS namafile [/T] [/E] [/C] [/G user:perm [...]] [/R user [...]]\n\
               [/P user:perm [...]] [/D user [...]]\n\
   namafile      Menampilkan ACLs.\n\
   /T            Mengubah ACL file yang ditetapkan dalam\n\
                 direktori saat ini dan semua subdirektorinya.\n\
   /E            Edit ACL daripada menimpanya.\n\
   /C            Melanjutkan walau kesalahan penolakan akses.\n\
   /G user:perm  Memberikan hak akses pengguna yang ditetapkan.\n\
                 Perm berupa: R  Baca\n\
                              W  Tulis\n\
                              C  Ubah (tulis)\n\
                              F  Kontrol penuh\n\
   /R user       Cabut hak akses pengguna yang ditetapkan (hanya berlaku dengan /E).\n\
   /P user:perm  Ganti hak akses pengguna yang ditetapkan.\n\
                 Perm berupa: N  Tidak ada\n\
                              R  Baca\n\
                              W  Tulis\n\
                              C  Ubah (tulis)\n\
                              F  Kontrol penuh\n\
   /D user       Tolak akses pengguna yang ditetapkan.\n\
Wildcards dapat digunakan untuk menetapkan lebih dari satu file dalam perintah.\n\
Anda bisa menetapkan lebih dari satu pengguna dalam sebuah perintah.\n\n\
Singkatan:\n\
   CI - Container Inherit.\n\
        ACE akan diwarisi oleh direktori.\n\
   OI - Object Inherit.\n\
        ACE akan diwarisi oleh file.\n\
   IO - Inherit Only.\n\
        ACE tidak berlaku untuk file/direktori saat ini.\n"
    IDS_ABBR_CI "(CI)"
    IDS_ABBR_OI "(OI)"
    IDS_ABBR_IO "(IO)"
    IDS_ABBR_FULL "F"
    IDS_ABBR_READ "R"
    IDS_ABBR_WRITE "W"
    IDS_ABBR_CHANGE "C"
    IDS_ABBR_NONE "N"
    IDS_ALLOW ""
    IDS_DENY "(MENOLAK)"
    IDS_SPECIAL_ACCESS "(akses spesial:)"
    IDS_GENERIC_READ "BACAAN-UMUM"
    IDS_GENERIC_WRITE "TULISAN-UMUM"
    IDS_GENERIC_EXECUTE "JALANKAN-UMUM"
    IDS_GENERIC_ALL "SEMUA-UMUM"
    IDS_FILE_GENERIC_EXECUTE "JALANKAN-BERKAS-UMUM"
    IDS_FILE_GENERIC_READ "BERKAS-BACAA-UMUM"
    IDS_FILE_GENERIC_WRITE "BERKAS-TULISAN-UMUM"
    IDS_FILE_READ_DATA "BERKAS-BACAAN-DATA"
    IDS_FILE_WRITE_DATA "BERKAS-TULISAN-DATA"
    IDS_FILE_APPEND_DATA "BERKAS-MENAMBAHKAN-DATA"
    IDS_FILE_READ_EA "BERKAS-BACAAN-EA"
    IDS_FILE_WRITE_EA "BERKAS-MENULIS-DATA"
    IDS_FILE_EXECUTE "BERKAS-MENJALANKAN"
    IDS_FILE_DELETE_CHILD "BERKAS-MENGHAPUS-ANAK"
    IDS_FILE_READ_ATTRIBUTES "BERKAS-BACAAN-ATRIBUT"
    IDS_FILE_WRITE_ATTRIBUTES "BERKAS-TULISAN-ATRIBUT"
    IDS_MAXIMUM_ALLOWED "MAKSIMUM-DIZINKAN"
    IDS_ACCESS_SYSTEM_SECURITY "MENGAKSES-SISTEM-KEAMANAN"
    IDS_SPECIFIC_RIGHTS_ALL "SPESIFIK-HAK-SEMUA"
    IDS_STANDARD_RIGHTS_REQUIRED "STANDAR-HAK-WAJIB"
    IDS_SYNCHRONIZE "SYNCHRONIZE"
    IDS_WRITE_OWNER "MENULIS-OWNER"
    IDS_WRITE_DAC "MENULIS-DAC"
    IDS_READ_CONTROL "MEMBACA-KONTROL"
    IDS_DELETE "MENGHAPUS"
    IDS_STANDARD_RIGHTS_ALL "STANDAR-HAK-SEMUA"
END
