LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE
BEGIN
    MSG_COPYRIGHT "Telnet Win32 v2.1b2, Copyright (C) 2000 Paul Brannan <pbranna@clemson.edu>\nand the team.  This program comes with ABSOLUTELY NO WARRANTY; for details\nread LICENSE.TXT.  "
    MSG_COPYRIGHT_1 "This is free software, and you are welcome to redistribute\nit under certain conditions.\n\n"
    MSG_USAGE "Usage: TELNET [params][host [port]]\n\n  params\n    -d:FILENAME.EXT  Dumps all incoming data to FILENAME.EXT.\n  host              Host name or IP address of the remote host to connect to.\n"
    MSG_USAGE_1 "  port              Zu öffnender Dienstport (Standard ist Telnet Port 23).\n\n"
    MSG_HELP "Commands may be abbreviated.  Commands are:\n  \ncl[ose]         close current connection\nop[en]          connect to a site\nq[uit]          exit telnet\n"
    MSG_HELP_1 "ke[ys]          changes/displays keymaps (write keys to see the options)\nse[t]           displays/alters configuration options\nz               suspend\n? h[elp]        print help information\n"
    MSG_INVCMD "Ungültiger Befehl. Für Hilfe ? eingeben.\n"
    MSG_ERROR "%1 fehlgeschlagen.\n"
    MSG_INFO "%1\n"
    MSG_WARNING "%1\n"
    MSG_TRYING "Versuche %1.%2.%3.%4:%5...\n"
    MSG_CONNECTED "Verbunden mit %1. Escape-Taste ist ALT-%2\n"
    MSG_TERMBYREM "Verbindung getrennt.\n"
    MSG_KEYMAP "Laden von %1 aus %2.\n"
    MSG_ERRKEYMAP "Error loading keymap.\n"
    MSG_DUMPFILE "Ausgabe in Datei %1 schreiben.\n"
    MSG_CONFIG "Lade Konfigurationsoptionen von %1.\n"
    MSG_NOINI "Error loading configuration file %1.\nLoading default options.\n"
    MSG_BADVAL "Warnung: Ungültige Variable %1.\n"
    MSG_NOSPAWN "Unable to spawn process.\n"
    MSG_RESOLVING "Auflösen des Hosts: %1..."
    MSG_NOSERVICE "Konnte TCP-Service %1 nicht finden.\n"
    MSG_SIZEALIAS "Achtung: Der Alias %1 ist zu groß, wird ignoriert.\n"
    MSG_ERRPIPE "Error: unable to spawn process for pipe.\n"
    MSG_BADUSAGE "Fehler: Ungültige verwendung des Befehls.\n"
    MSG_ALREADYCONNECTED "Bereits verbunden mit %1.\n"
    MSG_WSAEINTR "Funktionsaufruf unterbrochen.\n"
    MSG_WSAEBADF "WSAEBADF\n"
    MSG_WSAEACCESS "Berechtigung verweigert.\n"
    MSG_WSAEDEFAULT "WSAEDEFAULT\n"
    MSG_WSAEINVAL "Ungültiges Argument. \n"
    MSG_WSAEMFILE "Zu viele offene Dateien.\n"
    MSG_WSAEWOULDBLOCK "Ressourcen vorübergehend nicht verfügbar.\n"
    MSG_WSAEINPROGRESS "Vorgang wird jetzt bearbeitet.\n"
    MSG_WSAEALREADY "Vorgang bereits in Bearbeitung.\n"
    MSG_WSAENOTSOCK "Socket operation on non-socket.\n"
    MSG_WSAEDESTADDRREQ "Zieladresse erforderlich.\n"
    MSG_WSAEMSGSIZE "Nachricht zu lang.\n"
    MSG_WSAEPROTOTYPE "Falscher Protokolltyp für Socket.\n"
    MSG_WSAENOPROTOOPT "Ungültige Protokoll-Option.\n"
    MSG_WSAEPROTONOTSUPPORT "Protokoll nicht unterstützt.\n"
    MSG_WSAESOCKNOTSUPPORT "Sockettyp nicht unterstützt.\n"
    MSG_WSAEOPNOTSUPP "Vorgang nicht unterstützt.\n"
    MSG_WSAEPFNOTSUPPORT "Protokollfamilie nicht unterstützt.\n"
    MSG_WSAEAFNOTSUPPORT "Adressfamilie wird von der Protokollfamilie nicht unterstützt.\n"
    MSG_WSAEADDRINUSE "Adresse wird bereits verwendet.\n"
    MSG_WSAEADDRNOTAVAIL "Konnte die angeforderte Adresse nicht zuweisen.\n"
    MSG_WSAENETDOWN "Network is down.\n"
    MSG_WSAENETUNREACH "Netzwerk ist nicht erreichbar.\n"
    MSG_WSAENETRESET "Network dropped connection on reset.\n"
    MSG_WSAECONNABORTED "Software caused connection abort.\n"
    MSG_WSAECONNRESET "Verbindung von Peer zurückgesetzt.\n"
    MSG_WSAENOBUFS "No buffer space available.\n"
    MSG_WSAEISCONN "Socket ist bereits verbunden.\n"
    MSG_WSAENOTCONN "Socket ist nicht verbunden.\n"
    MSG_WSAESHUTDOWN "Cannot send after socket shutdown.\n"
    MSG_WSAETOOMANYREFS "WSAETOOMANYREFS\n"
    MSG_WSAETIMEDOUT "Zeitüberschreitung bei der Verbindung.\n"
    MSG_WSAECONNREFUSED "Verbindung verweigert.\n"
    MSG_WSAELOOP "WSAELOOP\n"
    MSG_WSAENAMETOOLONG "Name zu lang.\n"
    MSG_WSAEHOSTDOWN "Host is down.\n"
    MSG_WSAEHOSTUNREACH "Keine Route zum Host.\n"
    MSG_WSAESYSNOTREADY "Netzwerk Subsystem ist nicht verfügbar.\n"
    MSG_WSAVERNOTSUPPORTED "WINSOCK.DLL Version nicht unterstützt.\n"
    MSG_WSANOTINITIALISED "Erfolgreicher WSAStartup noch nicht durchgeführt.\n"
    MSG_WSAHOST_NOT_FOUND "Host nicht gefunden.\n"
    MSG_WSATRY_AGAIN "Non-authoritative host not found.\n"
    MSG_WSANO_RECOVERY "This is a non-recoverable error.\n"
    MSG_WSANO_DATA "Valid name, no data record of requested type.\n"
    MSG_KEYNOVAL "[GLOBAL]: Kein Wert für %1.\n"
    MSG_KEYBADVAL "[GLOBAL]: Ungültiger Wert für %1.\n"
    MSG_KEYBADSTRUCT "%1: Ungültige Struktur.\n"
    MSG_KEYBADCHARS "%1: Ungültige Zeichen? %1 -> %3.\n"
    MSG_KEYUNEXPLINE "Unerwartete Zeile ""%1"".\n"
    MSG_KEYUNEXPEOF "Unerwartetes Dateiende.\n"
    MSG_KEYUNEXPTOK "Unerwartetes Zeichen %1.\n"
    MSG_KEYUNEXPTOKIN "Unerwartetes Zeichen in %1.\n"
    MSG_KEYUNEXP "Unerwartetes Datei- oder Zeichenende.\n"
    MSG_KEYNOGLOBAL "Keine [GLOBAL] definition!\n"
    MSG_KEYNOCONFIG "Keine [CONFIG %1].\n"
    MSG_KEYUSECONFIG "Verwende Konfiguration: %1.\n"
    MSG_KEYNOSWKEY "No switch key for ""%1"".\n"
    MSG_KEYCANNOTDEF "You cannot define switch key for default keymap - ignored.\n"
    MSG_KEYDUPSWKEY "Duplicate switching key.\n"
    MSG_KEYUNKNOWNMAP "Unknown keymap %1.\n"
    MSG_KEYNOCHARMAPS "No charmaps loaded.\n"
    MSG_KEYNOKEYMAPS "No keymaps loaded.\n"
    MSG_KEYNUMMAPS "There are %1 maps.\n"
    MSG_KEYBADMAP "Bad keymap number - try 'keys display'\n"
    MSG_KEYMAPSWITCHED "keymap switched.\n"
END
