LANGUAGE LANG_SPANISH, SUBLANG_SPANISH

STRINGTABLE
BEGIN
    MSG_COPYRIGHT "Telnet Win32 v2.1b2, Copyright (C) 2000 Paul Brannan <pbranna@clemson.edu>\nand the team.  This program comes with ABSOLUTELY NO WARRANTY; for details\nread LICENSE.TXT.  "
    MSG_COPYRIGHT_1 "This is free software, and you are welcome to redistribute\nit under certain conditions.\n\n"
    MSG_USAGE "Usage: TELNET [params][host [port]]\n\n  params\n    -d:FILENAME.EXT  Dumps all incoming data to FILENAME.EXT.\n  host              Host name or IP address of the remote host to connect to.\n"
    MSG_USAGE_1 "  port              Service port to open (default is telnet port 23).\n\n"
    MSG_HELP "Commands may be abbreviated.  Commands are:\n  \ncl[ose]         close current connection\nop[en]          connect to a site\nq[uit]          exit telnet\n"
    MSG_HELP_1 "ke[ys]          changes/displays keymaps (write keys to see the options)\nse[t]           displays/alters configuration options\nz               suspend\n? h[elp]        print help information\n"
    MSG_INVCMD "Invalid command.  Type ? for help.\n"
    MSG_ERROR "%1 failed.\n"
    MSG_INFO "%1\n"
    MSG_WARNING "%1\n"
    MSG_TRYING "Trying %1.%2.%3.%4:%5...\n"
    MSG_CONNECTED "Connected to %1.  Escape key is ALT-%2.\n"
    MSG_TERMBYREM "Connection terminated.\n"
    MSG_KEYMAP "Loading %1 from %2.\n"
    MSG_ERRKEYMAP "Error loading keymap.\n"
    MSG_DUMPFILE "Writing output to file %1.\n"
    MSG_CONFIG "Loading configuration options from %1.\n"
    MSG_NOINI "Error loading configuration file %1.\nLoading default options.\n"
    MSG_BADVAL "Warning: invalid variable %1.\n"
    MSG_NOSPAWN "Unable to spawn process.\n"
    MSG_RESOLVING "Looking up host: %1..."
    MSG_NOSERVICE "Could not find TCP service %1.\n"
    MSG_SIZEALIAS "Warning: size of alias %1 is too big, ignoring.\n"
    MSG_ERRPIPE "Error: unable to spawn process for pipe.\n"
    MSG_BADUSAGE "Error: invalid usage of command.\n"
    MSG_ALREADYCONNECTED "Already connected to %1.\n"
    MSG_WSAEINTR "Interrupted function call.\n"
    MSG_WSAEBADF "WSAEBADF\n"
    MSG_WSAEACCESS "Permission denied.\n"
    MSG_WSAEDEFAULT "WSAEDEFAULT\n"
    MSG_WSAEINVAL "Invalid argument.\n"
    MSG_WSAEMFILE "Too many open files.\n"
    MSG_WSAEWOULDBLOCK "Resource temporalily unavailable.\n"
    MSG_WSAEINPROGRESS "Operation now in progress.\n"
    MSG_WSAEALREADY "Operation already in progress.\n"
    MSG_WSAENOTSOCK "Socket operation on non-socket.\n"
    MSG_WSAEDESTADDRREQ "Dirección de destino requerida.\n"
    MSG_WSAEMSGSIZE "Mensaje demasiado largo.\n"
    MSG_WSAEPROTOTYPE "Tipo equivocado de protocolo para el socket.\n"
    MSG_WSAENOPROTOOPT "Opción de protocolo errónea.\n"
    MSG_WSAEPROTONOTSUPPORT "Protocolo no apoyado.\n"
    MSG_WSAESOCKNOTSUPPORT "Tipo de socket no soportado.\n"
    MSG_WSAEOPNOTSUPP "Operación no soportada.\n"
    MSG_WSAEPFNOTSUPPORT "Familia de protocolo no soportada.\n"
    MSG_WSAEAFNOTSUPPORT "Familia de ruta no soportada por el protocolo.\n"
    MSG_WSAEADDRINUSE "Direccion ya esta en uso.\n"
    MSG_WSAEADDRNOTAVAIL "No se pudo asignar dirección solicitada.\n"
    MSG_WSAENETDOWN "Red está abajo.\n"
    MSG_WSAENETUNREACH "Red inaccesible.\n"
    MSG_WSAENETRESET "Conexión de red cayó al restablecer.\n"
    MSG_WSAECONNABORTED "Coneccion caída por causa del software.\n"
    MSG_WSAECONNRESET "Coneccion cortada por contraparte.\n"
    MSG_WSAENOBUFS "No hay espacio libre disponible.\n"
    MSG_WSAEISCONN "Ya está conectado el socket.\n"
    MSG_WSAENOTCONN "Socket no está conectado.\n"
    MSG_WSAESHUTDOWN "No se puede enviar después de apagado de sockets.\n"
    MSG_WSAETOOMANYREFS "WSAETOOMANYREFS\n"
    MSG_WSAETIMEDOUT "Tiempo de espera agotado.\n"
    MSG_WSAECONNREFUSED "Conexión rechazada.\n"
    MSG_WSAELOOP "WSAELOOP\n"
    MSG_WSAENAMETOOLONG "Nombre demasiado largo.\n"
    MSG_WSAEHOSTDOWN "Host esta abajo.\n"
    MSG_WSAEHOSTUNREACH "No hay ruta al host.\n"
    MSG_WSAESYSNOTREADY "Subsistema de red no está disponible.\n"
    MSG_WSAVERNOTSUPPORTED "WINSOCK. Versión de la DLL fuera de rango.\n"
    MSG_WSANOTINITIALISED "WSAStartup exitoso aún no realizado.\n"
    MSG_WSAHOST_NOT_FOUND "Host no encontrado.\n"
    MSG_WSATRY_AGAIN "Host No-autoritario no encontrado.\n"
    MSG_WSANO_RECOVERY "Error no recuperable.\n"
    MSG_WSANO_DATA "Nombre Válido, no hay records de data del tipo solicitado.\n"
    MSG_KEYNOVAL "[GLOBAL]: No hay valor para %1.\n"
    MSG_KEYBADVAL "[GLOBAL]: Valor erronio para %1.\n"
    MSG_KEYBADSTRUCT "%1: Estructura mala\n"
    MSG_KEYBADCHARS "%1: Caracteres incorrectos? %1 -> %3.\n"
    MSG_KEYUNEXPLINE "Línea inesperada ""%1"".\n"
    MSG_KEYUNEXPEOF "Fin de archivo inesperado.\n"
    MSG_KEYUNEXPTOK "Símbolo inesperado %1.\n"
    MSG_KEYUNEXPTOKIN "Símbolo inesperado en %1.\n"
    MSG_KEYUNEXP "Final de archivo o simbolo inesperado.\n"
    MSG_KEYNOGLOBAL "Ninguna definición [GLOBAL]! \n"
    MSG_KEYNOCONFIG "No [CONFIG %1].\n"
    MSG_KEYUSECONFIG "Usar configuración: %1.\n"
    MSG_KEYNOSWKEY "Ninguna tecla de cambio para ""%1"". \n"
    MSG_KEYCANNOTDEF "No se puede definir tecla de cambio para el teclado predeterminado - ignorado. \n"
    MSG_KEYDUPSWKEY "Tecla de cambio duplicada.\n"
    MSG_KEYUNKNOWNMAP "Mapa de teclado desconocido %1.\n"
    MSG_KEYNOCHARMAPS "No charmaps loaded.\n"
    MSG_KEYNOKEYMAPS "No keymaps loaded.\n"
    MSG_KEYNUMMAPS "There are %1 maps.\n"
    MSG_KEYBADMAP "Bad keymap number - try 'keys display'\n"
    MSG_KEYMAPSWITCHED "keymap switched.\n"
END
