LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    MSG_COPYRIGHT "Telnet Win32 v2.1b2, Hak Cipta (C) 2000 Paul Brannan <pbranna@clemson.edu> \nand tim. Program ini hadir dengan JAMINAN TIDAK BENAR-BENAR; untuk rincian \nread LICENSE.TXT.  "
    MSG_COPYRIGHT_1 "Ini adalah perangkat lunak gratis, dan Anda dipersilahkan untuk mendistribusikan ulang \nit dalam kondisi tertentu.\n\n"
    MSG_USAGE "Penggunaan: TELNET [params] [host [port]] \n\n params\n -d: FILENAME.EXT Dumps semua data yang masuk ke FILENAME.EXT.\n host Nama host atau alamat IP dari host jarak jauh yang akan dihubungi.\n"
    MSG_USAGE_1 "  port  layanan untuk membuka (defaultnya adalah port telnet 23).\n\n"
    MSG_HELP "Perintah dapat disingkat. Perintah adalah: \n\ncl[ose] koneksi dekat saat ini \nop [en] terhubung ke situs \nq[uit] exit telnet\n"
    MSG_HELP_1 "ke[ys] mengubah/menampilkan keymaps (menulis kunci untuk melihat opsi)\nse [t] menampilkan /mengubah opsi konfigurasi\nz suspend\n? h[elp] mencetak informasi bantuan\n"
    MSG_INVCMD "Perintah tidak valid Tipe? untuk bantuan. \n"
    MSG_ERROR "%1 gagal.\n"
    MSG_INFO "%1\n"
    MSG_WARNING "%1\n"
    MSG_TRYING "Mencoba %1.%2.%3.%4:%5...\n"
    MSG_CONNECTED "Terhubung ke %1. Tombol Escape adalah ALT-%2.\n"
    MSG_TERMBYREM "Sambungan dihentikan.\n"
    MSG_KEYMAP "Memuat %1 dari %2.\n"
    MSG_ERRKEYMAP "Kesalahan memuat keymap.\n"
    MSG_DUMPFILE "Menulis output ke file %1.\n"
    MSG_CONFIG "Memuat opsi konfigurasi dari %1.\n"
    MSG_NOINI "Kesalahan memuat file konfigurasi %1.\nMasukkan opsi default.\n"
    MSG_BADVAL "Peringatan: variabel tidak valid %1.\n"
    MSG_NOSPAWN "Tidak dapat menelurkan proses.\n"
    MSG_RESOLVING "Mencari host: %1..."
    MSG_NOSERVICE "Tidak dapat menemukan layanan TCP %1.\n"
    MSG_SIZEALIAS "Peringatan: ukuran alias %1 terlalu besar, diabaikan.\n"
    MSG_ERRPIPE "Kesalahan: tidak dapat menelurkan proses untuk pipa. \n"
    MSG_BADUSAGE "Kesalahan: penggunaan perintah yang tidak benar.\n"
    MSG_ALREADYCONNECTED "Sudah terhubung ke %1.\n"
    MSG_WSAEINTR "Panggilan fungsi terputus.\n"
    MSG_WSAEBADF "WSAEBADF\n"
    MSG_WSAEACCESS "Izin ditolak.\n"
    MSG_WSAEDEFAULT "WSAEDEFAULT\n"
    MSG_WSAEINVAL "Argumen tidak valid.\n"
    MSG_WSAEMFILE "Terlalu banyak file yang terbuka.\n"
    MSG_WSAEWOULDBLOCK "Sumber daya sementara tidak tersedia.\n"
    MSG_WSAEINPROGRESS "Operasi sekarang sedang berlangsung.\n"
    MSG_WSAEALREADY "Pengoperasian sudah berlangsung.\n"
    MSG_WSAENOTSOCK "Operasi soket pada non-soket.\n"
    MSG_WSAEDESTADDRREQ "Alamat tujuan yang diperlukan.\n"
    MSG_WSAEMSGSIZE "Pesan terlalu panjang.\n"
    MSG_WSAEPROTOTYPE "Protokol salah ketik untuk soket.\n"
    MSG_WSAENOPROTOOPT "Pilihan protokol buruk.\n"
    MSG_WSAEPROTONOTSUPPORT "Protokol tidak didukung.\n"
    MSG_WSAESOCKNOTSUPPORT "Jenis soket tidak didukung.\n"
    MSG_WSAEOPNOTSUPP "Pengoperasian tidak didukung.\n"
    MSG_WSAEPFNOTSUPPORT "Keluarga protokol tidak didukung.\n"
    MSG_WSAEAFNOTSUPPORT "Alamat keluarga tidak didukung oleh keluarga protokol.\n"
    MSG_WSAEADDRINUSE "Alamat sudah digunakan.\n"
    MSG_WSAEADDRNOTAVAIL "Tidak dapat menetapkan alamat yang diminta.\n"
    MSG_WSAENETDOWN "Jaringan sedang down.\n"
    MSG_WSAENETUNREACH "Jaringan tidak terjangkau.\n"
    MSG_WSAENETRESET "Jaringan menjatuhkan koneksi saat reset.\n"
    MSG_WSAECONNABORTED "Perangkat lunak menyebabkan koneksi dibatalkan.\n"
    MSG_WSAECONNRESET "Sambungan di reset oleh rekan.\n"
    MSG_WSAENOBUFS "Tidak ada ruang penyangga yang tersedia.\n"
    MSG_WSAEISCONN "Soket sudah terhubung.\n"
    MSG_WSAENOTCONN "Soket tidak tersambung.\n"
    MSG_WSAESHUTDOWN "Tidak dapat mengirim setelah shutdown soket.\n"
    MSG_WSAETOOMANYREFS "WSAETOOMANYREFS\n"
    MSG_WSAETIMEDOUT "Sambungan habis waktunya.\n"
    MSG_WSAECONNREFUSED "Sambungan ditolak.\n"
    MSG_WSAELOOP "WSAELOOP\n"
    MSG_WSAENAMETOOLONG "Nama terlalu panjang.\n"
    MSG_WSAEHOSTDOWN "Host sedang down.\n"
    MSG_WSAEHOSTUNREACH "Tidak ada rute ke host.\n"
    MSG_WSAESYSNOTREADY "Subsistem jaringan tidak tersedia.\n"
    MSG_WSAVERNOTSUPPORTED "WINSOCK.DLL versi di luar jangkauan.\n"
    MSG_WSANOTINITIALISED "WSAStartup yang berhasil belum dilakukan. \n"
    MSG_WSAHOST_NOT_FOUND "Host tidak ditemukan.\n"
    MSG_WSATRY_AGAIN "Host non-otoritatif tidak ditemukan.\n"
    MSG_WSANO_RECOVERY "Ini adalah kesalahan yang tidak dapat dipulihkan.\n"
    MSG_WSANO_DATA "Nama yang valid, tidak ada catatan data jenis yang diminta.\n"
    MSG_KEYNOVAL "[GLOBAL]: Tidak ada nilai untuk %1.\n"
    MSG_KEYBADVAL "[GLOBAL]: Nilai buruk untuk %1.\n"
    MSG_KEYBADSTRUCT "%1: Struktur buruk.\n"
    MSG_KEYBADCHARS "%1: karakter buruk? %1 ->%3.\n"
    MSG_KEYUNEXPLINE "Baris tak terduga ""%1"".\n"
    MSG_KEYUNEXPEOF "Akhir berkas yang tidak diperpanjang.\n"
    MSG_KEYUNEXPTOK "Token tak terduga %1.\n"
    MSG_KEYUNEXPTOKIN "Token tak terduga di %1.\n"
    MSG_KEYUNEXP "Akhir berkas atau token tak terduga.\n"
    MSG_KEYNOGLOBAL "Tidak ada definisi [GLOBAL]! \n"
    MSG_KEYNOCONFIG "Tidak [CONFIG %1]. \n"
    MSG_KEYUSECONFIG "Gunakan konfigurasi: %1.\n"
    MSG_KEYNOSWKEY "Tidak ada tombol pengalih untuk ""%1"".\n"
    MSG_KEYCANNOTDEF "Anda tidak dapat menentukan kunci saklar untuk keymap default - diabaikan.\n"
    MSG_KEYDUPSWKEY "Tombol pengalihan duplikat.\n"
    MSG_KEYUNKNOWNMAP "Unknown keymap %1.\n"
    MSG_KEYNOCHARMAPS "Tidak ada pesona yang dimuat.\n"
    MSG_KEYNOKEYMAPS "Tidak ada keymaps yang dimuat.\n"
    MSG_KEYNUMMAPS "Ada peta %1.\n"
    MSG_KEYBADMAP "Nomor keymap yang buruk - coba 'tampilkan tombol' \n"
    MSG_KEYMAPSWITCHED "keymap diaktifkan.\n"
END
