LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDD_NETPROPERTIES DIALOGEX 0, 0, 246, 246
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Umum"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_COMPONENTSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 9, 71, 230, 55
    LTEXT "Sambung Menggunakan:", -1, 9, 9, 217, 8
    EDITTEXT IDC_NETCARDNAME, 9, 21, 230, 12, WS_BORDER | WS_TABSTOP | ES_READONLY
    PUSHBUTTON "&Konfigurasi", IDC_CONFIGURE, 189, 38, 50, 14
    LTEXT "Komponen yang dicentang digunakan oleh sambungan ini:", -1, 9, 59, 217, 8
    PUSHBUTTON "&Instalasi", IDC_INSTALL, 9, 130, 65, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "&Deinstalasi", IDC_UNINSTALL, 90, 130, 65, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "&Properti", IDC_PROPERTIES, 174, 130, 65, 14
    GROUPBOX "Deskripsi", -1, 9, 153, 230, 46, BS_GROUPBOX
    LTEXT "Deskripsi Komponen di sini...", IDC_DESCRIPTION, 15, 165, 217, 28, WS_GROUP
    CHECKBOX "Tampilkan Ikon di taskbar saat tersambung", IDC_SHOWTASKBAR, 9, 206, 230, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "& Beritahu saya bila koneksi ini terbatas atau tidak ada konektivitas", IDC_NOTIFYNOCONNECTION, 9, 220, 230, 12, BS_AUTOCHECKBOX | WS_TABSTOP
END

IDD_STATUS DIALOGEX 0, 0, 200, 280
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
CAPTION "Allgemein"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_LAN_NETSTATUS DIALOGEX 0, 0, 200, 180
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Umum"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Sambungan", -1, 9, 8, 182, 58, BS_GROUPBOX
    LTEXT "Status:", -1, 19, 20, 60, 8
    LTEXT "Durasi:", -1, 19, 34, 60, 8
    LTEXT "Kecepatan:", -1, 19, 48, 60, 8
    GROUPBOX "Aktivitas", -1, 9, 74, 182, 70, BS_GROUPBOX
    RTEXT "Dikirim", -1, 26, 90, 60, 8
    ICON "", IDC_NETSTAT, 110, 85, 32, 32
    LTEXT "Diterima", -1, 149, 90, 37, 8
    LTEXT "Bytes:", -1, 17, 115, 32, 8
    RTEXT "000.000.000", IDC_SEND, 63, 115, 44, 8
    RTEXT "000.000.000", IDC_RECEIVED, 139, 115, 44, 8
    PUSHBUTTON "Properti", IDC_STATUS_PROPERTIES, 10, 150, 50, 14
    PUSHBUTTON "&Dimatikan", IDC_ENDISABLE, 66, 150, 50, 14
    RTEXT "", IDC_STATUS, 83, 20, 98, 8
    RTEXT "", IDC_DURATION, 83, 34, 98, 8
    RTEXT "", IDC_SPEED, 83, 48, 98, 8
END

IDD_LAN_NETSTATUSADVANCED DIALOGEX 0, 0, 200, 180
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Mendukung"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Status Sambungan", -1, 9, 8, 190, 88, BS_GROUPBOX
    LTEXT "Tipe Alamat:", -1, 22, 20, 80, 8
    LTEXT "Alamat IP:", -1, 22, 34, 80, 8
    LTEXT "SubNet mask:", -1, 22, 48, 80, 8
    LTEXT "Gateway standar:", -1, 22, 62, 80, 8
    RTEXT "N/A", IDC_DETAILSTYPE, 112, 20, 80, 8
    RTEXT "000.000.000.000", IDC_DETAILSIP, 112, 34, 80, 8
    RTEXT "000.000.000.000", IDC_DETAILSSUBNET, 112, 48, 80, 8
    RTEXT "", IDC_DETAILSGATEWAY, 112, 62, 80, 8
    PUSHBUTTON "&Detil...", IDC_DETAILS, 22, 76, 62, 14
END

IDD_LAN_NETSTATUSDETAILS DIALOGEX 0, 0, 190, 175
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION | DS_MODALFRAME
CAPTION "Network Connection Details"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Sambungan & Rincian Jaringan:", -1, 10, 4, 170, 12
    CONTROL "", IDC_DETAILS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 10, 15, 170, 130
    PUSHBUTTON "Tutup", IDC_CLOSE, 120, 155, 60, 14
END

IDD_NETWORKSETTINGSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Setup ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_NET_SETUP, IDC_STATIC, 21, 10, 20, 20
    LTEXT "Pilih apakah akan menggunakan setelan khas atau khusus:", IDC_STATIC, 53, 7, 240, 20
    AUTORADIOBUTTON "Pengaturan Khas", IDC_NETWORK_TYPICAL, 53, 27, 253, 20, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "Setelan Khusus", IDC_NETWORK_CUSTOM, 53, 72, 253, 20, WS_TABSTOP
    LTEXT "Membuat koneksi jaringan menggunakan Klien untuk Jaringan ReactOS, File dan Print Sharing untuk Jaringan ReactOS, dan protokol transport TCP / IP dengan pengalamatan otomatis.", IDC_STATIC, 65, 45, 240, 30
    LTEXT "Memungkinkan Anda untuk mengkonfigurasi komponen jaringan secara manual.", IDC_STATIC, 65, 90, 243, 20
END

IDD_NETWORKCOMPONENTPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Setup ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Untuk Perangkat:", IDC_STATIC, 33, 2, 100, 20
    LTEXT "n/a", IDC_NETWORK_DEVICE, 75, 2, 253, 20
    LTEXT "Komponen yang dicentang digunakan oleh sambungan ini:", IDC_STATIC, 33, 12, 253, 20
    CONTROL "", IDC_COMPONENT_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 33, 22, 250, 50
    PUSHBUTTON "&Memasang...", IDC_NETWORK_INSTALL, 122, 75, 50, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "&Deinstalasi", IDC_NETWORK_UNINSTALL, 177, 75, 50, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "Properti", IDC_NETWORK_PROPERTIES, 232, 75, 50, 14, WS_DISABLED | WS_TABSTOP
    GROUPBOX "Deskripsi", IDC_STATIC, 33, 90, 250, 50, BS_GROUPBOX
END

IDD_NETWORKDOMAINPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Setup ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Apakah Anda ingin komputer ini menjadi anggota domain? \n\ (Anda dapat memperoleh informasi ini dari administrator jaringan Anda.)", IDC_STATIC, 33, 2, 263, 50
    AUTORADIOBUTTON "Tidak, komputer ini akan menjadi bagian dari workgroup.", IDC_SELECT_WORKGROUP, 33, 32, 253, 20, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "Ya, komputer ini akan menjadi bagian dari domain.", IDC_SELECT_DOMAIN, 33, 47, 253, 20, WS_TABSTOP
    LTEXT "Workgroup atau Nama Domain:", IDC_STATIC, 33, 72, 126, 14
    EDITTEXT IDC_DOMAIN_NAME, 33, 82, 126, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "NOTE: If this computer isn't going to be part of a network, you don't have sufficient rights to join a domain, or you don't know what to enter, then just choose workgroup for now. These options can be changed at a later time.", IDC_STATIC, 33, 107, 263, 50
END

STRINGTABLE
BEGIN
    IDS_PHYSICAL_ADDRESS "Physical Address"
    IDS_IP_ADDRESS "Alamat IP"
    IDS_SUBNET_MASK "Subnet Mask"
    IDS_DEF_GATEWAY "Gateway standar"
    IDS_DHCP_SERVER "Server DHCP"
    IDS_LEASE_OBTAINED "Sewa yang Diperoleh"
    IDS_LEASE_EXPIRES "Sewa Berjangka"
    IDS_DNS_SERVERS "Server DNS"
    IDS_WINS_SERVERS "Server WINS"
    IDS_PROPERTY "Milik"
    IDS_VALUE "Nilai"
    IDS_NETWORKCONNECTION "Koneksi jaringan"
    IDS_SHV_COLUMN_NAME "Nama"
    IDS_SHV_COLUMN_TYPE "Jenis"
    IDS_SHV_COLUMN_STATE "Status"
    IDS_SHV_COLUMN_DEVNAME "Nama perangkat"
    IDS_SHV_COLUMN_PHONE "Telepon # atau alamat tuan rumah"
    IDS_SHV_COLUMN_OWNER "Pemilik"
    IDS_TYPE_ETHERNET "LAN atau internet dengan kecepatan tinggi"
    IDS_STATUS_NON_OPERATIONAL "Dimatikan"
    IDS_STATUS_UNREACHABLE "Tidak terhubung"
    IDS_STATUS_DISCONNECTED "Kabel jaringan dicabut"
    IDS_STATUS_CONNECTING "Mendapatkan alamat jaringan"
    IDS_STATUS_CONNECTED "Terhubung"
    IDS_STATUS_OPERATIONAL "Terhubung"
    IDS_NET_ACTIVATE "Memungkinkan"
    IDS_NET_DEACTIVATE "Nonaktifkan"
    IDS_NET_STATUS "Status"
    IDS_NET_REPAIR "Perbaikan"
    IDS_NET_CREATELINK "Buat Pintasan"
    IDS_NET_DELETE "Hapus"
    IDS_NET_RENAME "Ganti nama"
    IDS_NET_PROPERTIES "Properti"
    IDS_FORMAT_BIT "%u Bit/s"
    IDS_FORMAT_KBIT "%u KBit/s"
    IDS_FORMAT_MBIT "%u MBit/s"
    IDS_FORMAT_GBIT "%u GBit/s"
    IDS_DURATION_DAY "%d Day %s"
    IDS_DURATION_DAYS "%d Hari %s"
    IDS_ASSIGNED_DHCP "Ditugaskan oleh DHCP"
    IDS_ASSIGNED_MANUAL "Manually configured"
END

STRINGTABLE
BEGIN
    IDS_NETWORKSETTINGSTITLE "Pengaturan jaringan"
    IDS_NETWORKSETTINGSSUBTITLE "Menginstal perangkat lunak jaringan yang digunakan untuk terhubung ke jaringan lain, komputer, dan Internet."
    IDS_NETWORKCOMPONENTTITLE "Komponen jaringan"
    IDS_NETWORKCOMPONENTSUBTITLE "Tentukan komponen jaringan mana yang digunakan pada komputer Anda. Untuk menambahkan komponen baru, klik Install."
    IDS_NETWORKDOMAINTITLE "Kelompok kerja atau Domain Komputer"
    IDS_NETWORKDOMAINSUBTITLE "Sebuah domain adalah sekelompok komputer yang didefinisikan oleh administrator jaringan. Workgroup adalah sekelompok komputer yang berbagi nama workgroup yang sama."
    IDS_REACTOS_SETUP "Setup ReactOS"
    IDS_WZD_DOMAIN_NAME "Penataan tidak dapat melanjutkan sampai Anda\n memasukkan nama domain Anda\n atau workgroup."
END
