LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_FIRSTPAGE DIALOGEX 0, 0, 380, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Criar link"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Texto1", -1, 115, 15, 160, 24
    LTEXT "Texto2", -1, 115, 35, 160, 17
END

IDD_SUBMIT_REPORT DIALOGEX 0, 0, 380, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Criar link"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Texto1",-1,10,0,225,40
    LTEXT "Texto2",-1,10,40,120,20
    LTEXT "Texto3",-1,10,55,120,20
END

IDD_SHORTCUT_LOCATION DIALOGEX 0, 0, 340, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Criar Atalho"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Este assistente irá ajudá-lo a criar atalhos para\nprogramas, arquivos, pastas, computadores ou endereços\nde Internet, ambos locais ou de rede.", -1, 120, 15, 200, 30
    LTEXT "Digite a localização do item:", -1, 120, 50, 120, 10
    EDITTEXT IDC_SHORTCUT_LOCATION, 120, 65, 150, 15, ES_LEFT
    PUSHBUTTON "Procurar...", IDC_SHORTCUT_BROWSE, 272, 65, 55, 15, ES_LEFT
    LTEXT "Pressione Próximo para prosseguir.", -1, 120, 97, 162, 10
END

IDD_SHORTCUT_FINISH DIALOGEX 0, 0, 340, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Selecione um Título para o Programa"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "&Digite um nome para este atalho:", -1, 120, 15, 150, 10
    EDITTEXT IDC_SHORTCUT_NAME, 120, 35, 150, 15, ES_LEFT
    LTEXT "Clique em Concluir para criar o atalho.", -1, 118, 97, 178, 17
END

IDD_CONFIG_STARTMENU DIALOGEX 0, 0, 212, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Remover Atalhos/Pastas"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Para remover um item do menu Iniciar, selecione o item e clique em Remover.", -1, 10, 10, 192, 16
    CONTROL "List1", IDC_STARTMENU_TREE, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 10, 32, 192, 138
    PUSHBUTTON "&Remover", IDC_REMOVE_ENTRIES, 98, 176, 50, 14, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON "Fechar", IDOK, 152, 176, 50, 14, WS_GROUP | WS_TABSTOP
END

ID_DWL_GECKO_DIALOG DIALOGEX  0, 0, 260, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Wine Gecko Installer"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "O ReactOS não conseguiu encontrar um pacote Wine Gecko necessário para que os aplicativos que incorporam HTML funcionem corretamente. ReactOS pode baixar e instalar automaticamente para você.",
          ID_DWL_STATUS, "SysLink", 0, 10, 10, 240, 65
    CONTROL "", ID_DWL_PROGRESS, PROGRESS_CLASSA, WS_BORDER | PBS_SMOOTH, 10, 40, 240, 12
    DEFPUSHBUTTON "&Install", ID_DWL_INSTALL, 200, 76, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 144, 76, 50, 14, WS_GROUP | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_CPLSYSTEMNAME "Adicionar/Remover Programas"
    IDS_CPLSYSTEMDESCRIPTION "Configura programas e cria atalhos."
    IDS_CREATE_SHORTCUT "Criar Atalho"
    IDS_ERROR_NOT_FOUND "O arquivo %s não foi encontrado."
END

STRINGTABLE
BEGIN
    IDS_DOWNLOADING "Baixando..."
    IDS_INSTALLING "Instalando..."
    IDS_INVALID_SHA "Unexpected checksum of downloaded file. Aborting installation of corrupted file."
END
