LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_PROPPAGEGENERAL DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Geral"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLICON, IDI_CPLICON, 8, 0, 21, 20
    GROUPBOX "Configurações de Renderizador", -1, 5, 25, 230, 90
    LTEXT "&Renderizador:", -1, 15, 42, 37, 10
    COMBOBOX IDC_RENDERER, 55, 40, 160, 10, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
    LTEXT "Isto irá substituir as configurações padrão para o driver de gráficos! Escolha ""Padrão"" para voltar para as configurações originais.", -1, 15, 60, 210, 40
    GROUPBOX "Debugging", -1, 5, 125, 230, 90
    LTEXT "DEBUGCHANNEL:", -1, 15, 142, 65, 10
    COMBOBOX IDC_DEBUG_OUTPUT, 80, 140, 135, 10, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
    LTEXT "Enables/disables debug output from opengl32.\n\nWARNING: Choosing ""Set"" or ""Clear"" will overwrite the content of the DEBUGCHANNEL environment variable!", -1, 15, 165, 210, 40
END

STRINGTABLE
BEGIN
    IDS_RENDERER_DEFAULT "Padrão do sistema"
    IDS_RENDERER_RSWR "ReactOS Software Implementation"
    IDS_CPLNAME "Configuração OpenGL"
    IDS_CPLDESCRIPTION "Configures OpenGL renderer."
    IDS_DEBUG_SET "Set"
    IDS_DEBUG_CLEAR "Limpar"
    IDS_DEBUG_DNM "Não Modificar"
END
