LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE
BEGIN
    IDS_HELP "Compares the contents of two files or sets of files.\n\n\
COMP [/L] [/A] [data1] [data2]\n\n\
  data1      Specifies location and name of first file to compare.\n\
  data2      Specifies location and name of second file to compare.\n\
  /A         Display differences in ASCII characters (default: hexadecimal).\n\
  /L         Display line numbers for differences.\n"
    IDS_INVALIDSWITCH "Ungültiger Parameter - /%c\n"
    IDS_BADSYNTAX "Ungültige Kommandozeilen Syntax\n"
    IDS_FILEERROR "Konnte Datei nicht finden/öffnen: %s\n"
    IDS_COMPARING "Vergleiche %s und %s...\n"
    IDS_FILESIZEERROR "Größe der Datei konnte nicht bestimmt werden: %s\n"
    IDS_SIZEDIFFERS "Dateien haben unterschiedliche Größen.\n"
    IDS_READERROR "Dateilesefehler.\n"
    IDS_MISMATCHLINE "Compare error at LINE %d\n"
    IDS_MISMATCHOFFSET "Compare error at OFFSET 0x%X\n"
    IDS_ASCIIDIFF "file%d = %c\n"
    IDS_HEXADECIMALDIFF "file%d = %X\n"
    IDS_MATCH "Dateivergleich OK\n"
END
