LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_HELP "Compares the contents of two files or sets of files.\n\n\
COMP [/L] [/A] [data1] [data2]\n\n\
  data1      Specifies location and name of first file to compare.\n\
  data2      Specifies location and name of second file to compare.\n\
  /A         Display differences in ASCII characters (default: hexadecimal).\n\
  /L         Display line numbers for differences.\n"
    IDS_INVALIDSWITCH "Saklar tidak benar - /%c\n"
    IDS_BADSYNTAX "Sintaks perintah buruk\n"
    IDS_FILEERROR "Tidak dapat menemukan/membuka file: %s\n"
    IDS_COMPARING "Membandingkan% s dan% s... \ n"
    IDS_FILESIZEERROR "Tidak dapat menentukan ukuran file:% s \ n"
    IDS_SIZEDIFFERS "File berukuran berbeda. \ N"
    IDS_READERROR "File membaca kesalahan. \ N"
    IDS_MISMATCHLINE "Bandingkan kesalahan pada GARIS% d \ n"
    IDS_MISMATCHOFFSET "Bandingkan kesalahan pada MENGIMBANGI 0x% X \ n"
    IDS_ASCIIDIFF "file%d = %c\n"
    IDS_HEXADECIMALDIFF "file%d = %X\n"
    IDS_MATCH "File membandingkan OK \ n"
END
