LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

STRINGTABLE
BEGIN
    IDS_USAGE "Entrez ""EVENTCREATE /?"" pour afficher la syntaxe.\n"
    IDS_HELP "\n\
EVENTCREATE [/S computer [/U [domain\\]user [/P password]]] /ID EventID\n\
            {[/L logname] | [/SO source]} /T type /C category /D description\n\
\n\
Description:\n\
    This tool enables an administrator to create a custom event in\n\
    a specified event log.\n\
\n\
Parameters:\n\
    /S  computer          Specifies the remote computer where to connect.\n\
\n\
    /U  [domain\\]user     Specifies the user account under which the command\n\
                          should execute.\n\
\n\
    /P  [password]        Specifies the password of the user account.\n\
                          Prompts for input if omitted.\n\
\n\
    /L  logname           Specifies the name of the log where the event will be\n\
                          created. The valid names are:\n\
                          Application, System, Security\n\
                          (the latter is reserved only for the SYSTEM account).\n\
\n\
    /SO source            Specifies the source name to use for the event\n\
                          (if not specified, the default source name\n\
                           will be 'eventcreate').\n\
                          A valid source can be any string and should represent\n\
                          the application or the component that is generating\n\
                          the event.\n\
\n\
    /T  type              Specifies the type of event to create.\n\
                          The valid types are: SUCCESS, ERROR, WARNING,\n\
                          INFORMATION.\n\
\n\
    /C  category          Specifies the event category (integer) for the event.\n\
\n\
    /ID EventID           Specifies the event ID for the event. This must be\n\
                          an integer between 0 and 65535.\n\
\n\
    /D  description       Specifies the description to use for the newly\n\
                          created event.\n\
\n\
    /?                    Displays this help screen.\n\
"
    IDS_INVALIDSWITCH "Paramètre invalide - /%c\n"
    IDS_BADSYNTAX_0 "Syntaxe incorrecte.\n"
    IDS_BADSYNTAX_1 "Syntaxe incorrecte. L'option '%s' requiert une valeur.\n"
    IDS_BADSYNTAX_2 "Syntaxe incorrecte. La valeur pour l'option '%s' ne peut pas être vide.\n"
    IDS_BADSYNTAX_3 "Syntaxe incorrecte. La valeur '%s' n'est pas autorisée pour l'option '%s'.\n"
    IDS_BADSYNTAX_4 "Syntaxe incorrecte. La valeur ne peut pas être spécifiée pour l'option '%s'.\n"
    IDS_BADSYNTAX_5 "Syntaxe incorrecte. L'option '%s' n'est pas autorisée plus de %lu fois.\n"
    IDS_BADSYNTAX_6 "Syntaxe incorrecte. L'option obligatoire '%s' est absente.\n"
    // IDS_BADSYNTAX_7 "Syntaxe incorrecte. La valeur pour l'option '%s' doit être comprise entre %d et %d.\n"
    IDS_BADSYNTAX_7 "Syntaxe incorrecte. La valeur pour l'option '%s' doit être comprise entre %d et %d.\n"

    IDS_LOG_NOT_FOUND "Le journal '%s' n'existe pas. Impossible de créer l'événement.\n"
    IDS_SOURCE_NOCREATE "La nouvelle source ne peut être créée car le nom du journal n'est pas spécifié.\nUtilisez le commutateur /L pour spécifier le nom du journal.\n"
    IDS_SOURCE_EXISTS "La source existe déjà dans le journal '%s' et ne peut pas être dupliquée.\n"
    IDS_SOURCE_NOT_CUSTOM "Le paramètre Source est utilisé pour identifier les scripts/applications\npersonnalisées (pas les applications installées).\n"

    IDS_SUCCESS_1   "Opération réussie : un événement de type '%s' a été créé dans le journal '%s'.\n"
    IDS_SUCCESS_2   "Opération réussie : un événement de type '%s' a été créé avec la source '%s'.\n"
    IDS_SUCCESS_3   "Opération réussie : un événement de type '%s' a été créé\ndans le journal '%s' avec la source '%s'.\n"
    IDS_SWITCH_UNIMPLEMENTED "L'option '%s' n'est pas supporté pour le moment, désolé pour le désagrément!\n"
END
