LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

STRINGTABLE
BEGIN
    IDS_USAGE "Введите ""EVENTCREATE /?"" для получения справки по использованию.\n"
    IDS_HELP "\n\
EVENTCREATE [/S computer [/U [domain\\]user [/P password]]] /ID EventID\n\
            {[/L logname] | [/SO source]} /T type /C category /D description\n\
\n\
Description:\n\
    This tool enables an administrator to create a custom event in\n\
    a specified event log.\n\
\n\
Parameters:\n\
    /S  computer          Specifies the remote computer where to connect.\n\
\n\
    /U  [domain\\]user     Specifies the user account under which the command\n\
                          should execute.\n\
\n\
    /P  [password]        Specifies the password of the user account.\n\
                          Prompts for input if omitted.\n\
\n\
    /L  logname           Specifies the name of the log where the event will be\n\
                          created. The valid names are:\n\
                          Application, System, Security\n\
                          (the latter is reserved only for the SYSTEM account).\n\
\n\
    /SO source            Specifies the source name to use for the event\n\
                          (if not specified, the default source name\n\
                           will be 'eventcreate').\n\
                          A valid source can be any string and should represent\n\
                          the application or the component that is generating\n\
                          the event.\n\
\n\
    /T  type              Specifies the type of event to create.\n\
                          The valid types are: SUCCESS, ERROR, WARNING,\n\
                          INFORMATION.\n\
\n\
    /C  category          Specifies the event category (integer) for the event.\n\
\n\
    /ID EventID           Specifies the event ID for the event. This must be\n\
                          an integer between 0 and 65535.\n\
\n\
    /D  description       Specifies the description to use for the newly\n\
                          created event.\n\
\n\
    /?                    Displays this help screen.\n\
"
    IDS_INVALIDSWITCH "Недопустимый ключ - /%c\n"
    IDS_BADSYNTAX_0 "Синтаксическая ошибка.\n"
    IDS_BADSYNTAX_1 "Синтаксическая ошибка. Для параметра '%s' должно быть указано значение.\n"
    IDS_BADSYNTAX_2 "Синтаксическая ошибка. Значение опции '%s' не может быть пустым.\n"
    IDS_BADSYNTAX_3 "Синтаксическая ошибка. Значение '%s' является недопустимым для опции '%s'.\n"
    IDS_BADSYNTAX_4 "Синтаксическая ошибка. Для опции '%s' не может быть указано значение.\n"
    IDS_BADSYNTAX_5 "Синтаксическая ошибка. Опция '%s' не допускается более чем %lu раз.\n"
    IDS_BADSYNTAX_6 "Синтаксическая ошибка. Отсутствует обязательный параметр '%s'.\n"
    // IDS_BADSYNTAX_7 "Синтаксическая ошибка. Значение для опции '%s' должно быть в диапазоне от %d до %d.\n"
    IDS_BADSYNTAX_7 "Синтаксическая ошибка. Значение для опции '%s' должно быть в диапазоне от %d до %d.\n"

    IDS_LOG_NOT_FOUND "Журнал '%s' не существует. Не удалось создать событие.\n"
    IDS_SOURCE_NOCREATE "Новый источник не может быть создан, поскольку имя журнала не указано.\nИспользуйте параметр /L чтобы указать имя журнала.\n"
    IDS_SOURCE_EXISTS "Источник уже существует в журнале '%s' и не может быть продублирован.\n"
    IDS_SOURCE_NOT_CUSTOM "Параметр Источник используется для идентификации сценариев/программ\nпользовательских приложений (не установленных приложений).\n"

    IDS_SUCCESS_1   "Операция выполнена успешно: событие с типом '%s' было успешно создано в журнале '%s'.\n"
    IDS_SUCCESS_2   "Операция выполнена успешно: событие с типом '%s' было успешно создано с источником '%s'.\n"
    IDS_SUCCESS_3   "Операция выполнена успешно: событие с типом '%s' было успешно создано\nв журнале '%s' с источником '%s'.\n"
    IDS_SWITCH_UNIMPLEMENTED "Опция '%s' не поддерживается, приносим извинения за возможное неудобство!\n"
END
