LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_USAGE "键入 “EVENTCREATE /?” 以了解用法。\n"
    IDS_HELP "\n\
EVENTCREATE [/S computer [/U [domain\\]user [/P password]]] /ID EventID\n\
            {[/L logname] | [/SO source]} /T type /C category /D description\n\
\n\
Description:\n\
    This tool enables an administrator to create a custom event in\n\
    a specified event log.\n\
\n\
Parameters:\n\
    /S  computer          Specifies the remote computer where to connect.\n\
\n\
    /U  [domain\\]user     Specifies the user account under which the command\n\
                          should execute.\n\
\n\
    /P  [password]        Specifies the password of the user account.\n\
                          Prompts for input if omitted.\n\
\n\
    /L  logname           Specifies the name of the log where the event will be\n\
                          created. The valid names are:\n\
                          Application, System, Security\n\
                          (the latter is reserved only for the SYSTEM account).\n\
\n\
    /SO source            Specifies the source name to use for the event\n\
                          (if not specified, the default source name\n\
                           will be 'eventcreate').\n\
                          A valid source can be any string and should represent\n\
                          the application or the component that is generating\n\
                          the event.\n\
\n\
    /T  type              Specifies the type of event to create.\n\
                          The valid types are: SUCCESS, ERROR, WARNING,\n\
                          INFORMATION.\n\
\n\
    /C  category          Specifies the event category (integer) for the event.\n\
\n\
    /ID EventID           Specifies the event ID for the event. This must be\n\
                          an integer between 0 and 65535.\n\
\n\
    /D  description       Specifies the description to use for the newly\n\
                          created event.\n\
\n\
    /?                    Displays this help screen.\n\
"
    IDS_INVALIDSWITCH "无效选项 - '%s'.\n"
    IDS_BADSYNTAX_0 "错误的命令行语法。\n"
    IDS_BADSYNTAX_1 "错误的命令行语法。选项 '%s' 需要一个值。\n"
    IDS_BADSYNTAX_2 "错误的命令行语法。选项 '%s' 的值不能为空。\n"
    IDS_BADSYNTAX_3 "错误的命令行语法。值 '%s' 不被选项 '%s' 所接受。\n"
    IDS_BADSYNTAX_4 "错误的命令行语法。值不能被选项 '%s' 所指定。\n"
    IDS_BADSYNTAX_5 "错误的命令行语法。选项 '%s' 不允许使用超过 %lu 次。\n"
    IDS_BADSYNTAX_6 "错误的命令行语法。托管选项 '%s' 暂不可用。\n"
    // IDS_BADSYNTAX_7 "错误的命令行语法。选项 '%s' 的值必须介于 %d - %d 以内。\n"
    IDS_BADSYNTAX_7 "错误的命令行语法。选项 '%s' 的值必须介于 %d - %d 以内。\n"

    IDS_LOG_NOT_FOUND "日志 '%s' 不存在。无法创建事件。\n"
    IDS_SOURCE_NOCREATE "无法创建新的来源因为没有指定日志。请使用 /L 选项来指定日志。\n"
    IDS_SOURCE_EXISTS "来源已经存在于日志 '%s' 中，不能重复操作。\n"
    IDS_SOURCE_NOT_CUSTOM "来源参数被用于识别定制脚本/程序（未被安装的程序）。\n"

    IDS_SUCCESS_1   "操作成功：一个 '%s' 类型的事件已经被创建在日志 '%s' 中。\n"
    IDS_SUCCESS_2   "操作成功：一个 '%s' 类型的事件已经被创建在来源 '%s' 中。\n"
    IDS_SUCCESS_3   "操作成功：一个 '%s' 类型的事件已经被创建在日志 '%s' 和来源 '%s' 中。\n"
    IDS_SWITCH_UNIMPLEMENTED "选项 '%s' 目前不被支持，很抱歉造成您的不便！\n"
END
