LANGUAGE LANG_SPANISH, SUBLANG_SPANISH

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "comenzar"
    IDS_SERVICE_STOP    "detener"
    IDS_SERVICE_PAUSE   "pausar"
    IDS_SERVICE_RESUME  "reanudar"
    IDS_SERVICE_RUNNING "En ejecución"
    IDS_SERVICE_STOPPED "Detenido"
    IDS_SERVICE_PAUSED  "Pausado"
END
