LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "mulai"
    IDS_SERVICE_STOP    "berhenti"
    IDS_SERVICE_PAUSE   "jeda"
    IDS_SERVICE_RESUME  "lanjutkan"
    IDS_SERVICE_RUNNING "Jalankan"
    IDS_SERVICE_STOPPED "Berhenti"
    IDS_SERVICE_PAUSED  "Dijeda"
END
