LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "iniciar"
    IDS_SERVICE_STOP    "parar"
    IDS_SERVICE_PAUSE   "pausar"
    IDS_SERVICE_RESUME  "continuar"
    IDS_SERVICE_RUNNING "Executando"
    IDS_SERVICE_STOPPED "Parou"
    IDS_SERVICE_PAUSED  "Em pausa"
END
