LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

IDD_GENERAL DIALOGEX 0, 0, 242, 175
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "Logon settings", IDC_STATIC, 7, 7, 228, 89
    GROUPBOX "Configurações de conexão", IDC_STATIC, 7, 103, 228, 65
    ICON "", IDC_LOGONICON, 15, 19, 20, 20
    LTEXT "Digite o endereço do servidor.", IDC_STATIC, 47, 24, 85, 8
    LTEXT "&Servidor:", IDC_STATIC, 47, 41, 25, 8
    LTEXT "&Nome do usuário:", IDC_STATIC, 47, 58, 38, 8
    COMBOBOX IDC_SERVERCOMBO, 89, 39, 131, 15, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    EDITTEXT IDC_NAMEEDIT, 89, 55, 131, 14, WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "S&alvar", IDC_SAVE, 67, 139, 50, 14
    PUSHBUTTON "Sa&lvar Como...", IDC_SAVEAS, 123, 139, 50, 14
    PUSHBUTTON "Abr&ir...", IDC_OPEN, 177, 139, 50, 14
    ICON "", IDC_CONNICON, 16, 114, 20, 20
    LTEXT "Salvar as configurações de conexão atual ou abrir uma configuração existente.", IDC_STATIC, 50, 115, 172, 20
END

IDD_DISPLAY DIALOGEX 0, 0, 242, 175
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "&Tamanho da área de trabalho remota", IDC_STATIC, 7, 7, 228, 68
    GROUPBOX "&Cores", IDC_STATIC, 7, 83, 228, 85
    ICON "", IDC_REMICON, 15, 19, 20, 20
    ICON "", IDC_COLORSICON, 15, 98, 20, 20
    LTEXT "Defina o tamanho de tela da sua área de trabalho remota. Arraste o controle deslizante para a extrema-direita para ir até a tela cheia.", IDC_STATIC, 53, 22, 175, 21
    CONTROL "", IDC_GEOSLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 56, 42, 124, 17
    COMBOBOX IDC_BPPCOMBO, 56, 102, 128, 80, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL "", IDC_COLORIMAGE, "Static", SS_OWNERDRAW | SS_SUNKEN, 56, 121, 127, 10
    LTEXT "Nota: As configurações no computador remoto podem substituir essa configuração.", IDC_STATIC, 56, 143, 165, 18
    LTEXT "Menos", IDC_STATIC, 35, 42, 15, 8
    LTEXT "Mais", IDC_STATIC, 189, 42, 17, 8
    LTEXT "", IDC_SETTINGS_RESOLUTION_TEXT, 56, 62, 120, 10, SS_CENTER
END

IDD_CONNECTDIALOG DIALOGEX 0, 0, 260, 262
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Conexão de área de trabalho remota"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "Co&nectar", IDOK, 147, 245, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 203, 245, 50, 14
    CONTROL "", IDC_TAB, "SysTabControl32", 0x0, 7, 50, 246, 190
END

STRINGTABLE
BEGIN
    IDS_TAB_GENERAL "Geral"
    IDS_TAB_DISPLAY "Display"
    IDS_256COLORS "256 Cores"
    IDS_HIGHCOLOR15 "High Color (15 bit)"
    IDS_HIGHCOLOR16 "High Color (16 bit)"
    IDS_HIGHCOLOR24 "True Color (24 bit)"
    IDS_HIGHCOLOR32 "Highest Quality (32 bit)"
    IDS_PIXEL "%lux%lu Pixels"
    IDS_FULLSCREEN "Tela Cheia"
    IDS_BROWSESERVER "<Browse for more...>"
    IDS_HEADERTEXT1 "Área de trabalho remota"
    IDS_HEADERTEXT2 "Conexão"
END
