LANGUAGE LANG_INDONESIAN, SUBLANG_INDONESIAN_INDONESIA

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Tugas &Baru (jalankan...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Keluar Manajer Tugas", ID_FILE_EXIT
    END
    POPUP "&Opsi"
    BEGIN
        MENUITEM "Sel&alu Di Atas", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Kecilkan Saat Digunakan", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "Se&mbunyikan Saat Dikecilkan", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "&Tampilkan tugas 16-bit", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Lihat"
    BEGIN
        MENUITEM "&Segarkan Sekarang", ID_VIEW_REFRESH
        POPUP "&Mutakhirkan Kecepatan"
        BEGIN
            MENUITEM "&Tinggi", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normal", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Rendah", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Istirahat", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "Ikon &Besar", ID_VIEW_LARGE
        MENUITEM "Ikon &Kecil", ID_VIEW_SMALL
        MENUITEM "&Detil", ID_VIEW_DETAILS, CHECKED
        MENUITEM "&Pilih Kolom...", ID_VIEW_SELECTCOLUMNS
        POPUP "&CPU Histori"
        BEGIN
            MENUITEM "&Satu Grafik, Semua CPU", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "Satu Grafik &Per CPU", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "&Tampilkan Waktu Kernel", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "&Jendela"
    BEGIN
        MENUITEM "Tile horisontal", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Tile & Vertikal", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Memperkecil", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma & ximize", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Riam", ID_WINDOWS_CASCADE
        MENUITEM "Bawa ke depan", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Matikan"
    BEGIN
        MENUITEM "Bersiap",                  ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernate",                 ID_SHUTDOWN_HIBERNATE
        MENUITEM "Matikan",                  ID_SHUTDOWN_POWEROFF
        MENUITEM "&Mulai Lagi",                   ID_SHUTDOWN_REBOOT
        MENUITEM "&Log Off %s",                ID_SHUTDOWN_LOGOFF
        MENUITEM "&Ganti Pengguna \tWinKey + L",     ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "Loc k Computer \tWinKey + L",   ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Memutuskan",                ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Keluarkan Komputer",            ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&File"
    BEGIN
        MENUITEM "Task Manager &Help Topics", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Tentang Task Manager", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Tile &Horisontal", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Tile &Vertikal", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Kecilkan", ID_WINDOWS_MINIMIZE
    MENUITEM "Be&sarkan", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Riam", ID_WINDOWS_CASCADE
    MENUITEM "&Bawa Ke Depan", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "Tugas &Baru (jalankan...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "Ikon besar", ID_VIEW_LARGE
        MENUITEM "Ikon kecil", ID_VIEW_SMALL
        MENUITEM "&Detail", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Beralih ke", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "Bawa ke depan", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Tile horisontal", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Tile & Vertikal", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Memperkecil", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma & ximize", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Riam", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&Tugas akhir", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Pergi ke proses", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Mengembalikan", ID_RESTORE
        MENUITEM "Tutup", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "Sel&alu Di Atas", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "Akhiri proses", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Proses Akhir & Pohon", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Debug", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Set &Priority"
        BEGIN
            MENUITEM "&Waktu sebenarnya", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Tinggi", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Diatas normal", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Dibawah normal", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Rendah", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Set &Affinity...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM "Edit Debug &Channels...", ID_PROCESS_PAGE_DEBUGCHANNELS
    END
END

/* Dialogs */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Manajer Tugas"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "&Tugas baru...", IDC_NEWTASK, 187, 189, 53, 14
    PUSHBUTTON "&Beralih ke", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Tugas akhir", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "Akhiri proses", IDC_ENDPROCESS, 171, 189, 69, 14
    CONTROL "&Tampilkan proses dari semua pengguna", IDC_SHOWALLPROCESSES, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 7, 191, 111, 10
END

/* IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210 */
IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Pemakaian CPU", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Pemakaian MEM", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Total", IDC_TOTALS_FRAME, 5, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Biaya Komit (K)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Memori Fisik (K)", IDC_PHYSICAL_MEMORY_FRAME, 131, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Memori Kernel (K)", IDC_KERNEL_MEMORY_FRAME, 131, 166, 111, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Handle", IDS_TOTALS_HANDLE_COUNT, 12, 131, 27, 8
    LTEXT "Thread", IDS_TOTALS_THREAD_COUNT, 12, 140, 27, 8
    LTEXT "Proses", IDS_TOTALS_PROCESS_COUNT, 12, 149, 34, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 65, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 65, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 65, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 27, 8
    LTEXT "Batas", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 15, 8, NOT WS_BORDER
    LTEXT "Puncak", IDS_COMMIT_CHARGE_PEAK, 12, 193, 34, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 65, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 65, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 65, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_PHYSICAL_MEMORY_TOTAL, 137, 131, 27, 8
    LTEXT "Tersedia", IDS_PHYSICAL_MEMORY_AVAILABLE, 137, 140, 30, 8
    LTEXT "Sistem Cache", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 137, 149, 46, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 185, 131, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 185, 140, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 185, 149, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_KERNEL_MEMORY_TOTAL, 137, 174, 27, 8
    LTEXT "Paged", IDS_KERNEL_MEMORY_PAGED, 137, 184, 21, 8
    LTEXT "Tidak terganggu", IDS_KERNEL_MEMORY_NONPAGED, 137, 193, 34, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 185, 174, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 185, 184, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 185, 193, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Histori Pemakaian CPU", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Histori Pemakaian Memori", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Tampilan Pemakaian CPU", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Tampilan Pemakaian MEM", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Histori Pemakaian CPU", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Histori Pemakaian MEM", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Kanal Debug"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_DEBUG_CHANNELS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | LVS_SORTASCENDING, 7, 7, 233, 177
    PUSHBUTTON "Tutup", IDOK, 171, 189, 69, 14
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Afinitas Prosesor"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Oke", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Batal", IDCANCEL, 174, 133, 50, 14
    LTEXT "Pengaturan Affinity Processor mengontrol proses CPU mana yang akan diijinkan untuk dijalankan.", IDC_STATIC, 5, 5, 220, 16
    CONTROL "CPU 0", IDC_CPU0, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 28, 37, 10
    CONTROL "CPU 1", IDC_CPU1, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 41, 37, 10
    CONTROL "CPU 2", IDC_CPU2, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 54, 37, 10
    CONTROL "CPU 3", IDC_CPU3, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 67, 37, 10
    CONTROL "CPU 4", IDC_CPU4, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 80, 37, 10
    CONTROL "CPU 5", IDC_CPU5, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 93, 37, 10
    CONTROL "CPU 6", IDC_CPU6, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 106, 37, 10
    CONTROL "CPU 7", IDC_CPU7, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 119, 37, 10
    CONTROL "CPU 8", IDC_CPU8, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 28, 37, 10
    CONTROL "CPU 9", IDC_CPU9, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 41, 37, 10
    CONTROL "CPU 10", IDC_CPU10, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 54, 41, 10
    CONTROL "CPU 11", IDC_CPU11, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 67, 41, 10
    CONTROL "CPU 12", IDC_CPU12, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 80, 41, 10
    CONTROL "CPU 13", IDC_CPU13, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 93, 41, 10
    CONTROL "CPU 14", IDC_CPU14, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 106, 41, 10
    CONTROL "CPU 15", IDC_CPU15, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 119, 41, 10
    CONTROL "CPU 16", IDC_CPU16, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 28, 41, 10
    CONTROL "CPU 17", IDC_CPU17, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 41, 41, 10
    CONTROL "CPU 18", IDC_CPU18, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 54, 41, 10
    CONTROL "CPU 19", IDC_CPU19, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 67, 41, 10
    CONTROL "CPU 20", IDC_CPU20, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 80, 41, 10
    CONTROL "CPU 21", IDC_CPU21, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 93, 41, 10
    CONTROL "CPU 22", IDC_CPU22, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 106, 41, 10
    CONTROL "CPU 23", IDC_CPU23, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 119, 41, 10
    CONTROL "CPU 24", IDC_CPU24, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 28, 41, 10
    CONTROL "CPU 25", IDC_CPU25, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 41, 41, 10
    CONTROL "CPU 26", IDC_CPU26, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 54, 41, 10
    CONTROL "CPU 27", IDC_CPU27, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 67, 41, 10
    CONTROL "CPU 28", IDC_CPU28, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 80, 41, 10
    CONTROL "CPU 29", IDC_CPU29, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 93, 41, 10
    CONTROL "CPU 30", IDC_CPU30, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 106, 41, 10
    CONTROL "CPU 31", IDC_CPU31, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 119, 41, 10
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 195, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pilih Kolom"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Oke", IDOK, 84, 178, 50, 14
    PUSHBUTTON "Batal", IDCANCEL, 138, 178, 50, 14
    LTEXT "Pilih kolom yang akan muncul di halaman Proses Task Manager.", IDC_STATIC, 7, 7, 181, 17
    CONTROL "&Nama Gambar", IDC_IMAGENAME, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 7, 28, 56, 10
    CONTROL "&PID (Pengenal Proses)", IDC_PID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 39, 88, 10
    CONTROL "&Penggunaan CPU", IDC_CPUUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 50, 53, 10
    CONTROL "Waktu CPU", IDC_CPUTIME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 61, 48, 10
    CONTROL "&Memory Usage", IDC_MEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 63, 10
    CONTROL "Penggunaan memori & Delta", IDC_MEMORYUSAGEDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 83, 82, 10
    CONTROL "Penggunaan memori Pea & k", IDC_PEAKMEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 94, 82, 10
    CONTROL "Laman & Kesalahan", IDC_PAGEFAULTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 105, 53, 10
    CONTROL "&Objek USER", IDC_USEROBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 116, 62, 10
    CONTROL "I/O Dibaca", IDC_IOREADS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 127, 49, 10
    CONTROL "I/O Baca Bytes", IDC_IOREADBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 138, 65, 10
    CONTROL "&Sesi ID", IDC_SESSIONID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 149, 50, 10
    CONTROL "Nama &pengguna", IDC_USERNAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 160, 51, 10
    CONTROL "Halaman F & aults Delta", IDC_PAGEFAULTSDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 28, 72, 10
    CONTROL "&Ukuran Memori Virtual", IDC_VIRTUALMEMORYSIZE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 39, 77, 10
    CONTROL "Kolam paged", IDC_PAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 50, 53, 10
    CONTROL "Kolam N&on-paged", IDC_NONPAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 61, 67, 10
    CONTROL "P&rioritas dasar", IDC_BASEPRIORITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 72, 55, 10
    CONTROL "&Handle Count", IDC_HANDLECOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 83, 59, 10
    CONTROL "Jumlah Thread", IDC_THREADCOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 94, 59, 10
    CONTROL "Objek GDI", IDC_GDIOBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 105, 55, 10
    CONTROL "I/O Menulis", IDC_IOWRITES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 116, 49, 10
    CONTROL "I/O Write Bytes", IDC_IOWRITEBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 127, 65, 10
    CONTROL "I/O lainnya", IDC_IOOTHER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 138, 46, 10
    CONTROL "I/O Bytes lainnya", IDC_IOOTHERBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 149, 65, 10
    CONTROL "Garis komando", IDC_COMMANDLINE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 160, 65, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Manajer Tugas"
    IDC_TASKMGR "Manajer Tugas"
    IDS_IDLE_PROCESS "Proses Diam Sistem"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Menjalankan program baru"
    ID_OPTIONS_ALWAYSONTOP "Task Manager tetap berada di depan semua jendela lainnya kecuali diminimalkan"
    ID_OPTIONS_MINIMIZEONUSE "Task Manager diminimalkan saat operasi Switch To dilakukan"
    ID_OPTIONS_HIDEWHENMINIMIZED "Sembunyikan Task Manager saat diminimalkan"
    ID_VIEW_REFRESH "Menyegarkan jendela"
    ID_VIEW_LARGE "Menampilkan tugas dengan menggunakan ikon besar"
    ID_VIEW_SMALL "Menampilkan tugas dengan menggunakan ikon kecil"
    ID_VIEW_DETAILS "Menampilkan informasi tentang masing-masing tugas"
    ID_VIEW_UPDATESPEED_HIGH "Memperbarui tampilan dua kali per detik"
    ID_VIEW_UPDATESPEED_NORMAL "Memperbarui tampilan setiap dua detik"
    ID_VIEW_UPDATESPEED_LOW "Memperbarui tampilan setiap empat detik"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Tidak otomatis update"
    ID_WINDOWS_TILEHORIZONTALLY "Ubin jendela secara horisontal di desktop"
    ID_WINDOWS_TILEVERTICALLY "Ubin jendela secara vertikal di desktop"
    ID_WINDOWS_MINIMIZE "Meminimalkan jendela"
    ID_WINDOWS_MAXIMIZE "Memaksimalkan jendela"
    ID_WINDOWS_CASCADE "Turunkan jendela diagonal di desktop"
    ID_WINDOWS_BRINGTOFRONT "Membawa jendela depan, tapi tidak beralih ke sana"
    ID_HELP_TOPICS "Menampilkan topik bantuan Task Manager"
    ID_HELP_ABOUT "Menampilkan informasi program, nomor versi, dan hak cipta"
    ID_FILE_EXIT "Keluar dari aplikasi Task Manager"
    ID_OPTIONS_SHOW16BITTASKS "Menampilkan tugas 16 bit di bawah ntvdm.exe yang terkait"
    ID_VIEW_SELECTCOLUMNS "Pilih kolom mana yang akan terlihat pada halaman Proses"
    ID_VIEW_SHOWKERNELTIMES "Menampilkan waktu kernel dalam grafik kinerja"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Grafik sejarah tunggal menunjukkan penggunaan CPU total"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Setiap CPU memiliki grafik sejarahnya sendiri"
    ID_APPLICATION_PAGE_SWITCHTO "Membawa tugas ke latar depan, beralih fokus pada tugas itu"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Memberi tahu tugas yang dipilih untuk ditutup"
    ID_GOTOPROCESS "Mengalihkan fokus ke proses tugas yang dipilih"
    ID_RESTORE "Mengembalikan Task Manager dari keadaan tersembunyi"
    ID_PROCESS_PAGE_ENDPROCESS "Menghapus proses dari sistem"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Menghapus proses ini dan semua keturunan dari sistem"
    ID_PROCESS_PAGE_DEBUG "Atasi debugger ke proses ini"
    ID_PROCESS_PAGE_SETAFFINITY "Kontrol prosesor yang prosesnya akan diijinkan berjalan"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Menetapkan proses ke kelas prioritas REALTIME"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Mengatur proses ke kelas prioritas TINGGI"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Menetapkan proses ke kelas prioritas DI ATAS NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Menetapkan proses ke kelas prioritas NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Mengatur proses ke kelas prioritas DI BAWAH NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Mengatur proses ke kelas prioritas RENDAH"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Aplikasi"
    IDS_TAB_PROCESSES "Proses"
    IDS_TAB_PERFORMANCE "Kinerja"
    IDS_TAB_TASK "Tugas"
    IDS_TAB_STATUS "Status"
    IDS_TAB_IMAGENAME "Nama gambar"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Nama pengguna"
    IDS_TAB_SESSIONID "Sesi ID"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "Waktu CPU"
    IDS_TAB_MEMUSAGE "Mem Usage"
    IDS_TAB_PEAKMEMUSAGE "Penggunaan Memori Puncak"
    IDS_TAB_MEMDELTA "Mem Delta"
    IDS_TAB_PAGEFAULT "Kesalahan halaman"
    IDS_TAB_PFDELTA "Delta PF"
    IDS_TAB_VMSIZE "Ukuran VM"
    IDS_TAB_PAGEDPOOL "Kolam paged"
    IDS_TAB_NPPOOL "NP Kolam"
    IDS_TAB_BASEPRI "Base Pri"
    IDS_TAB_HANDLES "Menangani"
    IDS_TAB_THREADS "Threads"
    IDS_TAB_USERPBJECTS "Objek PENGGUNA"
    IDS_TAB_GDIOBJECTS "Objek GDI"
    IDS_TAB_IOREADS "I/O Dibaca"
    IDS_TAB_IOWRITES "I/O Menulis"
    IDS_TAB_IOOTHER "I/O lainnya"
    IDS_TAB_IOREADBYTES "I/O Baca Bytes"
    IDS_TAB_IOWRITESBYTES "I/O Write Bytes"
    IDS_TAB_IOOTHERBYTES "I/O Bytes lainnya"
    IDS_TAB_COMMANDLINE "Garis komando"
    IDS_MENU_SELECTCOLUMNS "&Pilih Kolom..."
    IDS_MENU_16BITTASK "&Tampilkan tugas 16 bit"
    IDS_MENU_WINDOWS "&Windows"
    IDS_MENU_LARGEICONS "Ikon besar"
    IDS_MENU_SMALLICONS "Ikon kecil"
    IDS_MENU_DETAILS "&Detail"
    IDS_MENU_ONEGRAPHALLCPUS "&Satu Grafik, Semua CPU"
    IDS_MENU_ONEGRAPHPERCPU "Satu grafik &Per CPU"
    IDS_MENU_CPUHISTORY "Sejara&h CPU"
    IDS_MENU_SHOWKERNELTIMES "Tampilkan &Kernel Times"
    IDS_CREATENEWTASK "Buat Tugas Baru"
    IDS_CREATENEWTASK_DESC "Ketik nama program, folder, dokumen, atau sumber daya Internet, dan Task Manager akan membukanya untuk Anda."
    IDS_MSG_ACCESSPROCESSAFF "Tidak dapat mengakses atau menetapkan proses afinitas"
    IDS_MSG_PROCESSONEPRO "Prosesnya harus memiliki afinitas dengan setidaknya satu prosesor."
    IDS_MSG_INVALIDOPTION "Opsi Tidak Sah"
    IDS_MSG_UNABLEDEBUGPROCESS "Tidak dapat melakukan Debug Process"
    IDS_MSG_WARNINGDEBUG "PERINGATAN: Debugging proses ini dapat mengakibatkan hilangnya data.\nYakin ingin melampirkan debugger?"
    IDS_MSG_TASKMGRWARNING "Peringatan Manajer Tugas"
    IDS_MSG_WARNINGTERMINATING "PERINGATAN: Menghentikan proses dapat menyebabkan hasil yang tidak diinginkan termasuk \nhilangnya data dan ketidakstabilan sistem.\n Process tidak akan diberi kesempatan untuk menyimpan state atau data sebelum diakhiri.\n Anda yakin ingin menghentikan prosesnya?"
    IDS_MSG_UNABLETERMINATEPRO "Tidak dapat menghentikan proses"
    IDS_MSG_CLOSESYSTEMPROCESS "Ini adalah proses sistem yang kritis. Task Manager tidak akan mengakhiri proses ini."
    IDS_MSG_UNABLECHANGEPRIORITY "Tidak dapat mengubah prioritas"
    IDS_MSG_WARNINGCHANGEPRIORITY "PERINGATAN: Mengubah kelas prioritas dari proses ini mungkin menyebabkan\n hasil yang tidak diinginkan termasuk ketidakstabilan sistem.\n Apakah Anda yakin ingin mengubah kelas prioritas?"
    IDS_MSG_TRAYICONCPUUSAGE "Pemakaian CPU: %d%%"
    IDS_STATUS_MEMUSAGE "Pemakaian Mem: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "Pemakaian CPU: %3d%%"
    IDS_STATUS_PROCESSES "Proses: %d"
    IDS_NOT_RESPONDING "Tidak Merespon"
    IDS_RUNNING "Berjalan"
END
